@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&subset=korean');
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@font-face {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumSquareRoundR.eot);
  src: local('NanumSquareRoundR'),
       local('NanumSquareRoundR'),
       url(../fonts/NanumSquareRoundR.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumSquareRoundR.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumSquareRoundB.eot);
  src: local('NanumSquareRoundB'),
       local('NanumSquareRoundB'),
       url(../fonts/NanumSquareRoundB.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumSquareRoundB.woff) format('woff');
}
@font-face {
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NanumSquareRoundEB.eot);
  src: local('NanumSquareRoundEB'),
       local('NanumSquareRoundEB'),
       url(../fonts/NanumSquareRoundEB.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumSquareRoundEB.woff) format('woff');
}

* {box-sizing: border-box;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0;padding: 0;vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
button,input {border-radius: 0}
button {cursor: pointer;}
fieldset,img {border: 0}
ol,ul {list-style: none}
address,em {font-style: normal}
a {text-decoration: none}
iframe {overflow: hidden;margin: 0;padding: 0;border: 0}
.blind {position: absolute;overflow: hidden;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px}
table {border-collapse: collapse;border-spacing: 0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%;}

input,button,select,textarea,label {vertical-align: middle; margin: 0; padding: 0;}
/*모바일 브라우져에서 글자크기 자동확대 방지*/
body {line-height: 1.5; -webkit-text-size-adjust:none;}

html,body {height: 100%;}

body,input,select,textarea,button,table {
    font-family:'NanumSquareRound','Nanum Barun Gothic','Black Han Sans','맑은 고딕','malgun gothic',sans-serif;
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #333;
}

/* 내용 테이블 공통스타일*/
.tbl_con {
    width: 100%;
    margin: 15px 0;
    font-size: 16px;
    text-align: left;
    color: #666;
}
.tbl_con thead th,.tbl_con thead td{
    border-top: 4px solid #009223;
    border-bottom: 1px solid #009223;
    color: #009223;
}
.tbl_con th,.tbl_con td {
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #d1d1d1;
    vertical-align: middle;
}
.tbl_con tfoot {
    color: #292929;
    background: #f6f6f6;
}
.tbl_con .tr2 th,.tbl_con .tr2 td {
    padding-top:7px;
    padding-bottom: 7px;
}

/*폼요소 공통 스타일*/
input[type="text"] {
    height: 45px;
    background: #f8f8f8;
    width:100%;
    border: none;
    outline: none;
    padding-left: 15px;
    color: #292929;
    font-size: 16px;
}

select {
    width:132px;
    height: 45px;
    border: 2px solid #dddddd;
    outline: none;
    font-size: 16px;
    color: #999;
    padding-left: 15px;
    letter-spacing: -0.05em;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    appearance: none;         /* 화살표 없애기 공통*/
}
select::-ms-expand {display:none;}
.select_wrap {
    position: relative;
    display: inline-block;
}
.select_wrap:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
    width:12px;
    height: 7px;
    background: url(../images/icon_select_arr.png) no-repeat;
    background-size:12px;
}

textarea {
    width:100%;
    height: 200px;
    padding: 12px 15px;
    font-size: 16px;
    color: #292929;
    outline: none;
    background: #f8f8f8;
    border: none;
    resize:none;
    border-radius: 0;
}

.file_wrap {
    position: relative;
}
.file_wrap:before {
    content: '';
    position: absolute;
    right: 96px;
    top: 50%;
    margin-top: -8px;
    width:2px;
    height: 16px;
    background: #e8e8e8;
}
/*input file커스텀*/
input[type="file"] {
    width:98px;
    height: 41px;
    margin-left: -4px;
    opacity: 0;
    cursor: pointer;
    text-indent: -9999px;
    position: relative;
    z-index: 10;
}
.file_wrap:after {
    content: '파일선택';
    position: absolute;
    right: 19px;
    top: 50%;
    margin-top: -13px;
    font-size: 16px;
    color: #009223;
    cursor: pointer;
}

/*체크박스 공통스타일*/
label {
    font-size: 16px;
    color: #292929;
    cursor: pointer;
    padding-left: 40px;
    position: relative;
    line-height: 30px;
    display: inline-block;
}
label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:26px;
    height: 26px;
    border:2px solid #e0e0e0;
    border-radius: 100%;
}
label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width:0px;
    height: 19px;
    background: url(../images/icon_checkbox.png) no-repeat;
    background-size: 24px;
    transition: all 0.3s;
}
input[type="checkbox"]:checked+label:after {
    width:24px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-moz-selection { background: #ffc20d; }
::selection { background: #ffc20d; }

/*아이폰 인풋 자동확대 방지*/
input[type="text"],input[type="password"],textarea {font-size:16px;}

body {height: 100%;}
#wrap {min-width: 360px; position: relative;}
#wrap.on {height: 100%; overflow: hidden;}

/*landscape커버*/
#wrap .landscape_cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10000;
    display: none;
}

#wrap .landscape_cover p {
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

/*dimm*/
.dimm {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    display: none;
}

/*페이지네이션 공통*/
#main .swiper-pagination {
    width: auto;
    background: rgba(0,0,0,0.6);
    border-radius: 36px;
    padding: 6px 40px 6px 22px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#main .swiper-pagination span {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #fff;
    opacity: 1;
    margin: 6px 6px 0;
}

#main .swiper-pagination .swiper-pagination-bullet-active {background: #fff;}

/*헤더*/
#header {position: absolute;left: 0; top: 0; width: 100%; z-index: 999;}
#header .top_header {height: 50px; background: #efefef;}
#header .top_header .top_header_inner { max-width: 1200px; margin: 0 auto;}
#header .top_header .top_header_inner .shopping { display: block; float: left; color: #333; font-weight: 700; padding-top: 14px;}
#header .top_header .top_header_inner .shopping img {margin: 2px 10px 0 0;}

#header .top_header .top_header_inner .util {float: right;}
#header .top_header .top_header_inner .util li {float: left; margin: 0 20px; position: relative;}
#header .top_header .top_header_inner .util li:first-child {margin-left: 0;}
#header .top_header .top_header_inner .util li:last-child {margin-right: 0;}
#header .top_header .top_header_inner .util li:before {content: ''; position: absolute; left: -20px; top: 18px; width: 1px; height: 12px; background: #999;}
#header .top_header .top_header_inner .util li:first-child:before {display: none; }
#header .top_header .top_header_inner .util li a  {font-size: 14px; color: #333; line-height: 50px;}

#header .bottom_header { height: 80px; background: #fff; position: relative;transition: all 0.5s;}
#header .bottom_header:after {content: ''; position: absolute; left: 0; top: 80px; width:100%; height: 1px; background: #ccc; z-index: 99;}
#header .bottom_header.on {height: 398px; background: #fff ;}

#header .bottom_header .bottom_header_inner {max-width: 1200px; margin: 0 auto; position: relative;}
#header .bottom_header .bottom_header_inner .logo {float: left; margin-top: 18px;}
#header .bottom_header .bottom_header_inner .logo a {display: block;}

/*gnb*/
#header .bottom_header .bottom_header_inner .gnb {margin-left: 250px;}
#header .bottom_header .bottom_header_inner .gnb>li {float: left; position: relative; width: 158px;}
#header .bottom_header .bottom_header_inner .gnb>li>a { display: block; color: #333; font-size: 18px; font-weight: 700; line-height: 80px; text-align: left;}

#header .bottom_header .bottom_header_inner .gnb .depth2 {position: absolute; left: 0; top: 80px; width: 100%; padding-top: 26px; height: 0; overflow: hidden; transition: all 0.5s;z-index: 99;}
#header .bottom_header.on .bottom_header_inner .gnb .depth2 { height: 312px; }

#header .bottom_header .bottom_header_inner .gnb .depth2 li a {display: block; color: #555; font-weight: 700; line-height: 34px; transition: all 0.2s;     white-space: nowrap;}
#header .bottom_header .bottom_header_inner .gnb .depth2 li a:hover {color: #ee0000;}

#header .bottom_header_inner .han_menu {float: right; margin-top: 29px;}

/*검색버튼*/
#header .han_menu .btn_search {
    float: left; 
    margin-right: 35px;
    width: 22px;
    height: 22px;
    background: url(../images/search_icon.png) no-repeat 50% 50%;
    background-size: 22px;
    border: none;
    outline: none;
    text-indent: -9999px;
}

/*검색창*/
#wrap .input_wrap {
    position: absolute;
    left: 0;
    top: 131px;
    background: #fafafa;
    z-index: 999;
    width: 100%;
    height: 80px;
    padding-top: 17px;
    font-size: 14px;
    display: none;
}

#wrap .input_wrap .input_search { position: absolute; left: 50%; top: 17px; width: 350px; margin-left: -185px; background: #fff; border: 1px solid #ccc; height: 46px;}
#wrap .input_wrap input::placeholder {font-size: 14px;}
#wrap .input_wrap .btn_search {
    position: absolute;
    left: calc(50% + 180px);
    top: 29px;
    width: 22px;
    height: 22px;
    background: url(../images/search_icon.png) no-repeat 50% 50%;
    background-size: 22px;
    border: none;
    outline: none;
    text-indent: -9999px;
}

#wrap .input_wrap .btn_close {
    position: absolute;
    left: calc(50% + 216px);
    top: 29px;
    width: 22px;
    height: 22px;
    background: url(../images/btn_close.png) no-repeat 50% 50%;
    background-size: 20px;
    border: none;
    outline: none;
    text-indent: -9999px;
}

/*언어*/
#header .han_menu .lang_wrap {float: left; position: relative;}
#header .han_menu .lang_wrap .btn_lang {
    width: 100px;
    height: 26px;
    background: none;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-indent: 10px;
    position: relative;
}
#header .bottom_header_inner .han_menu .lang_wrap .btn_lang:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 5px;
    background: url(../images/down_arrow.png) no-repeat 50% 50%;
    background-size: 10px;
}

#header .bottom_header_inner .han_menu .lang_wrap .lang {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
    padding: 10px;
    display: none;
}

#header .bottom_header_inner .han_menu .lang_wrap .lang li a {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 28px;
    font-weight: 700;
}


/************************퀵메뉴****************************/
.quickmenu_wrap {position: fixed; left: calc(95% - 18px); bottom: 20px; z-index: 99;}

.quickmenu_wrap .quick_list_wrap {position: absolute; right: 30px; bottom: 30px; width: 300px; background: linear-gradient(to right, #fbcac9, #8ca6ce); padding: 30px; z-index: 9; border-radius: 20px; display: none;}
.quickmenu_wrap .quick_list_wrap h2 {font-size: 28px; line-height: 1; font-weight: 900; color: #234698; text-align: center;}

.quickmenu_wrap .quick_list_wrap .quick_list {margin-top: 26px;}
.quickmenu_wrap .quick_list_wrap .quick_list li {float: left; width: 50%; border: 1px solid #c7c7c7; text-align: center; background: #fff;}

.quickmenu_wrap .quick_list_wrap .quick_list li:nth-child(2n) {margin-left: -1px;}
.quickmenu_wrap .quick_list_wrap .quick_list li:nth-child(3),.quickmenu_wrap .quick_list_wrap .quick_list li:nth-child(4) {margin-top: -1px;}

.quickmenu_wrap .quick_list_wrap .quick_list li a {display: block; padding: 15px 0; z-index: 99;  position: relative;}

.quickmenu_wrap .quick_list_wrap .quick_list li a:after {content: ''; position: absolute; left: -2px; top: -2px; border: 0px solid #1375e8; width: 100%; height: 100%; }

/*.quickmenu_wrap .quick_list_wrap .quick_list li a:hover {box-shadow: 5px 5px 15px rgba(0,0,0,0.1);}*/

.quickmenu_wrap .quick_list_wrap .quick_list li a:hover:after {border-width: 2px;}
.quickmenu_wrap .quick_list_wrap .quick_list li a p {font-size: 16px; font-weight: 900; color: #19478f; margin-top: 8px;}

/*퀵메뉴 dimm*/
.quickmenu_wrap .quick_dimm {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: none;}

/*퀵메뉴 버튼*/
.quickmenu_wrap .quickmenu {position: absolute; left: 0; top: 0; z-index: 99; position: relative;}

.quickmenu_wrap .quickmenu .btn_quick {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #b6bad1;
    outline: none;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.38);
}

.quickmenu_wrap .quickmenu .btn_quick span {font-size: 16px; line-height: 1.1; font-family: 'Black Han Sans',sans-serif; color: #082568; display: inline-block; margin-top: 4px; }

.quickmenu_wrap .quickmenu .btn_quick.on span {display: block; transform: translateX(-100%);}

.quickmenu_wrap .quickmenu .btn_quick.on {background:  url(../images/btn_quick_close.png) no-repeat 50% 50%; border: none;}



/*푸터*/
#footer {background: #fff;}

#footer .top_footer .top_footer_inner {max-width: 1200px; margin: 0 auto; padding: 20px 0;
 overflow: hidden;}

#footer .top_footer .footer_menu {float: left; padding-top: 10px;}
#footer .top_footer .footer_menu li {float: left;margin-right: 30px; position: relative;}
#footer .top_footer .footer_menu li:last-child {margin-right: 0;}

#footer .top_footer .footer_menu li:after {content: ''; position: absolute; right: -17px;
top: 4px; width: 1px; height: 12px; background: #ccc;}
#footer .top_footer .footer_menu li:last-child:after {display: none;}

#footer .top_footer .footer_menu li a {color: #555; font-size: 15px; font-weight: 600; }
#footer .top_footer .footer_menu li:nth-child(5) a {color: #333; font-weight: 900;}

#footer .top_footer .sns_list {float: right;}
#footer .top_footer .sns_list li {float: left; margin-left: 20px;}
#footer .top_footer .sns_list li:first-child {margin-left: 0;}
#footer .top_footer .sns_list li a {display: block;}

#footer .middle_footer {max-width: 1200px; margin: 0 auto; width: 100%; border-top: 1px solid #afafaf;}

#footer .bottom_footer {background: #fff; padding: 30px 0;}
#footer .bottom_footer .bottom_footer_inner {max-width: 1200px; margin: 0 auto; overflow: hidden;}

#footer .bottom_footer h2 {float: left; margin-right: 50px;}
#footer .bottom_footer h2 a {display: block;}

#footer .bottom_footer .addr_wrap {float: left;}
#footer .bottom_footer .addr_wrap address {font-size: 13px; color: #999; }
#footer .bottom_footer .addr_wrap address span {width: 1px; height: 10px; background: #dadada; margin: 4px 6px 0 10px;}

#footer .bottom_footer .addr_wrap address .sp1 {display: inline-block;}
#footer .bottom_footer .addr_wrap address .sp2 {display: inline-block;}
#footer .bottom_footer .addr_wrap address .sp3 {display: inline-block;}
#footer .bottom_footer .addr_wrap address .sp4 {display: none;}
#footer .bottom_footer .addr_wrap address .sp5 {display: inline-block;}
#footer .bottom_footer .addr_wrap address .sp6 {display: none;}

#footer .bottom_footer .addr_wrap address .br1 {display: none;}
#footer .bottom_footer .addr_wrap address .br2 {display: none;}
#footer .bottom_footer .addr_wrap address .br3 {display: none;}
#footer .bottom_footer .addr_wrap address .br4 {display: block;}
#footer .bottom_footer .addr_wrap address .br5 {display: none;}
#footer .bottom_footer .addr_wrap address .br6 {display: none;}

#footer .bottom_footer .addr_wrap p {margin-top: 15px; font-size: 13px; color: #999; }



/*모바일 엘리먼트 끄기*/
#mHeader {display: none;}
#footer .middle_footer .m_logo {display: none;}
#footer .middle_footer .sns_list {display: none;}



@media screen and (max-width: 1237px) {
    #header .top_header .top_header_inner {padding:0 40px;}
    
    #header .bottom_header .bottom_header_inner {padding:0 40px;}
    
    #header .bottom_header .bottom_header_inner .gnb {margin-left: 200px;}
    #header .bottom_header .bottom_header_inner .gnb>li {width: 150px;}
    
    #header .bottom_header_inner .han_menu {position: absolute;right: 40px;top: 29px;float: none;margin-top: 0;}
    
    .quickmenu_wrap {left: calc(95% - 34px);}
    
    #footer .top_footer .top_footer_inner {padding: 20px;}
    #footer .bottom_footer .bottom_footer_inner {padding: 0 20px;}
}

@media screen and (max-width: 1180px) {
    #header .bottom_header .bottom_header_inner .logo {margin-top: 22px;}
    #header .bottom_header .bottom_header_inner .logo a img {width: 120px;}
    #header .bottom_header .bottom_header_inner .gnb {margin-left: 150px;}
    #header .bottom_header .bottom_header_inner .gnb>li {width: 140px;}
    .quickmenu_wrap {left: calc(95% - 36px);}
    
}

@media screen and (max-width: 1080px) {
    #header .top_header .top_header_inner {padding: 0 30px;}
    
    #header .bottom_header .bottom_header_inner {padding: 0 30px;}
    #header .bottom_header .bottom_header_inner .logo {margin-top: 24px;}
    #header .bottom_header .bottom_header_inner .logo a img {width: 110px;}
    #header .bottom_header .bottom_header_inner .gnb {margin-left: 135px;}
    #header .bottom_header .bottom_header_inner .gnb>li {width: 130px;}
    
    #header .bottom_header_inner .han_menu {right: 30px;}
    
    .quickmenu_wrap {left: calc(95% - 38px);}
}

@media screen and (max-width: 1024px) {
/*    PC 엘리먼트 끄기*/
    #header {display: none;}
    
/*    모바일 헤더*/
    #mHeader {display: block; height: 70px; background: #fff; padding: 0 20px; border-bottom: 1px solid #efefef;}
    #mHeader .mlogo {position: absolute; left: 50%; top: 11px; margin-left: -70px; }
    #mHeader .mlogo a {display: block;}
    
    #mHeader .b_menu {position: absolute;right: 20px;top: 10px;width: 50px;height: 50px;background: url(../images/m_menu.png) no-repeat 50% 50%; background-size: 40px; border: none;outline: none;}
    
/*    모바일 메뉴*/
    #mHeader .mgnb {position: fixed ;right: 0; top: 0; width: 100%;height: 100%;background: #fff; transition: all 0.5s; transform: translateX(100%); z-index: 999;}
    #mHeader .mgnb.on {transform: translate(0);}
    #mHeader .mgnb .mtop_menu { height: 50px; background: #4b4b4b; padding: 0 20px;}
    #mHeader .mgnb .mtop_menu .mlang {float: left; margin-top: 14px;}
    #mHeader .mgnb .mtop_menu .mlang li {float: left; margin-right: 20px;}
    #mHeader .mgnb .mtop_menu .mlang li a {color: #fff; font-size: 15px; font-weight: 700; position: relative;}
    #mHeader .mgnb .mtop_menu .mlang li a:after {content: ''; position: absolute; right: -10px; top: 2px; width: 1px; height: 10px; background: #d5d5d5;}
    #mHeader .mgnb .mtop_menu .mlang li:last-child a:after {display: none;}
    #mHeader .mgnb .mtop_menu .mhan_menu {float: right; margin-top: 12px;}
    #mHeader .mgnb .mtop_menu .mhan_menu .mbtn_search {float: left; width: 26px; height: 26px; background: url(../images/m_search_icon.png) no-repeat 50% 50%; background-size: 22px; border: none; outline: none; margin-right: 18px;}
    #mHeader .mgnb .mtop_menu .mhan_menu .mbtn_close { width: 26px; height: 26px; background: url(../images/m_btn_close.png) no-repeat 50% 50%; background-size: 20px; border: none; outline: none;}
    
/*  gnb*/
    #mHeader .mgnb .mbottom_menu { position: absolute; left: 0; top: 50px; bottom: 0; overflow-y: auto;width: 100%; background: #fff;}
    #mHeader .mgnb .mbottom_menu .mgnb_menu { overflow-y: auto;}
    #mHeader .mgnb .mbottom_menu .mgnb_menu>li>a { display: block; color: #333; font-size: 16px; font-weight: 700; line-height: 50px; border-bottom: 1px solid #e1e1e1;  padding: 0 20px; position: relative;}
    #mHeader .mgnb .mbottom_menu .mgnb_menu>li>a:after { content: ''; position: absolute; right: 20px; top: 21px; width: 12px; height: 7px; background: url(../images/m_menu_down.png) no-repeat 50% 50%; background-size: 12px; transition: all 0.3s; }
    #mHeader .mgnb .mbottom_menu .mgnb_menu>li>a.on:after {transform: rotate(180deg);}
    #mHeader .mgnb .mbottom_menu .mgnb_menu li:last-child img {margin: 12px 5px 0 0;}
    #mHeader .mgnb .mbottom_menu .mgnb_menu li:last-child a:after {display: none;}
    
    #mHeader .mgnb .mbottom_menu .mgnb_menu .depth2 { background: #f0f0f0; display: block; padding: 20px 0; display: none;}
    #mHeader .mgnb .mbottom_menu .mgnb_menu .depth2 li a {display: block; font-size: 16px; color: #555; line-height: 48px; padding-left: 30px;}
    
/*    검색창*/
    #wrap .input_wrap {top: 0px; height: 50px; border-bottom: 1px solid #efefef;}
    #wrap .input_wrap .input_search {top: 5px; height: 40px;}
    #wrap .input_wrap .btn_search {top: 14px;}
    #wrap .input_wrap .btn_close {top: 14px;}
    
/*    로그인 유틸*/
    #mHeader .mgnb .mbottom_menu .mutil {margin: 20px;padding-bottom: 20px;}
    #mHeader .mgnb .mbottom_menu .mutil li { float: left;}
    #mHeader .mgnb .mbottom_menu .mutil li a {display: block; color: #5a5a5a; font-size: 15px; padding: 0 20px; position: relative;}
    #mHeader .mgnb .mbottom_menu .mutil li:first-child a {padding-left: 0;}
    #mHeader .mgnb .mbottom_menu .mutil li:last-child a {padding-right: 0;}
    
    #mHeader .mgnb .mbottom_menu .mutil li a:after {content: ''; position: absolute; right: 0; top: 4px; width: 1px; height: 12px; background: #c0c0c0;}
    #mHeader .mgnb .mbottom_menu .mutil li:last-child a:after {display: none;}

        
    .quickmenu_wrap {left: calc(95% - 48px);}
    
    #footer .bottom_footer h2 {margin-right: 20px;}
    
    #footer .top_footer .footer_menu li {margin-right: 20px;}
    #footer .top_footer .footer_menu li:after {right: -12px; top: 4px; height:10px;}
    
    #footer .top_footer .footer_menu li a {font-size: 13px;}
    
    #footer .top_footer .sns_list li {margin-left: 15px;}
    
    #footer .bottom_footer .addr_wrap address .sp3 {display: none;}
    #footer .bottom_footer .addr_wrap address .sp4 {display: inline-block;}
    
    #footer .bottom_footer .addr_wrap address .br3 {display: block;}
    #footer .bottom_footer .addr_wrap address .br4 {display: none;}
    #footer .bottom_footer .addr_wrap address .br6 {display: block;}
}

@media screen and (max-width: 800px) {
    
    .quickmenu_wrap {bottom: 303px;}
    
    #footer .top_footer .footer_menu {text-align: center; width: 100%;}
    #footer .top_footer .footer_menu li {display: inline-block; float: none; margin: 0 20px;}
    #footer .top_footer .footer_menu li:first-child {margin-left: 0;}
    #footer .top_footer .footer_menu li:after {right: -25px; top: 3px; height: 12px;}
    #footer .top_footer .footer_menu li a {font-size: 15px;}
    
    #footer .top_footer .sns_list {display: none;}
    #footer .bottom_footer .logo {display: none;}
    
    #footer .middle_footer {padding-top: 30px; }
    #footer .middle_footer .middle_footer_inner {overflow: hidden; padding: 0 20px; width: 90%; margin: 0 auto;}
    #footer .middle_footer .m_logo {display: block; float: left; margin-top: 5px;}
    #footer .middle_footer .m_logo a {display: block;}
    
    #footer .middle_footer .sns_list {display: block; float: right;}
    #footer .middle_footer .sns_list li {float: left; margin-left: 30px;}
    #footer .middle_footer .sns_list li:first-child {margin-left: 0;}
    #footer .middle_footer .sns_list li a {display: block;}
    
    #footer .bottom_footer .addr_wrap {width: 100%; text-align: center;}
    #footer .bottom_footer .addr_wrap address {text-align: center;}
}

@media screen and (max-width: 767px) {
    #mHeader {height: 50px;}
    #mHeader .mlogo {top: 8px;}
    #mHeader .mlogo img {width: 117px;}
    
    #mHeader .b_menu { top: 0; right: 15px; width: 50px; height: 50px; background-size: 30px; }
    
    #mHeader .mgnb .mtop_menu .mlang {margin-top: 16px;}
    #mHeader .mgnb .mtop_menu .mlang li a {font-size: 14px;}
    
    #mHeader .mgnb .mbottom_menu .mutil li a {font-size: 14px; padding: 0 13px;}
    
    .quickmenu_wrap {left: calc(95% - 58px);}
    
    #footer .top_footer .footer_menu li {margin: 0 13px;}
    #footer .top_footer .footer_menu li:after {right: -17px;height: 10px;}
    #footer .top_footer .footer_menu li a {font-size: 13px;}
    
    #footer .middle_footer .middle_footer_inner {width: 70%;}
    
    #footer .middle_footer .sns_list li {float: left; margin-left: 15px;}
    
    #footer .bottom_footer .addr_wrap address .sp1 {display: none;}
    #footer .bottom_footer .addr_wrap address .sp4 {display: none;}
    #footer .bottom_footer .addr_wrap address .sp5 {display: none;}
    
    #footer .bottom_footer .addr_wrap address .br1 {display: block;}
    #footer .bottom_footer .addr_wrap address .br5 {display: block;}
    
}

@media screen and (max-width: 600px) {
    .quickmenu_wrap .quickmenu .btn_quick {width: 60px; height: 60px;}
    .quickmenu_wrap .quickmenu .btn_quick span {font-size: 12px;}
    
    #footer .top_footer .top_footer_inner {text-align: center;}
    
    #footer .top_footer .footer_menu {max-width: 300px; float: none;margin: 0 auto;}
    #footer .top_footer .footer_menu li:nth-child(4):after {display: none;}
    #footer .top_footer .footer_menu li:nth-child(4) {margin-right: 0;}
    #footer .top_footer .footer_menu li:nth-child(5) {margin-left: 0;}
    
    #footer .middle_footer .middle_footer_inner {width: 85%; padding: 0;}

}


@media screen and (max-width: 500px) {
    #wrap .input_wrap .input_search {width: 280px; margin-left: 0; left: calc(50% - 170px);}   
    #wrap .input_wrap .btn_search {left: calc(50% + 120px);}
    #wrap .input_wrap .btn_close {left: calc(50% + 150px);}
    
    .quickmenu_wrap {left: calc(95% - 50px);}

    
    #footer .middle_footer .m_logo {margin-right: 0;}
    
    #footer .bottom_footer .addr_wrap address {font-size: 12px;}
}

@media screen and (max-width: 480px) {
    .quickmenu_wrap .quickmenu .btn_quick {width: 50px; height: 50px;}
    .quickmenu_wrap .quickmenu .btn_quick span {font-size: 11px;}
    
    #footer .middle_footer .middle_footer_inner {width: 100%; padding: 0 20px;}

    #footer .middle_footer .sns_list li a img {width: 35px;}
    
    #footer .bottom_footer .addr_wrap address .br4 {display: block;} 
}
 

@media screen and (max-width: 420px) {
    #footer .middle_footer .middle_footer_inner {width: 100%;}
        
    #footer .middle_footer .m_logo img {width: 90%;}
}








/*모바일분기점,landscape*/
@media screen and (max-width: 800px) and (orientation: landscape) {
    #wrap .landscape_cover {
        display: block;
    }
}