@charset "utf-8";
body {font-family: 'Amatic SC', cursive; word-spacing:2px;}

/****************************************section1 - Intro **********************************************/



.main .section1_wrap {width:100%; background:#333 url(../images/4f900e54.png) no-repeat center center; }
.main .section1 {width:1200px;  margin:0 auto; height:1050px; text-align:center;  border-top:1px solid transparent;}


/*section-scroll custom*/
.section-bullets  { vertical-align:top;}
.section-bullets li a {opacity: 0.5;}
.section-bullets li a:before {background-color:#f1f1f1;  }
.section-bullets li a:after {background-color:#B2B2B2; top:14px;}
.section-bullets li.active a:after {background-color:#C63;}
.section-bullets li span {font-size:30px; font-weight:900; color:#fff; opacity:1;}
.section-bullets li.active span {color:#333130;}

/*title*/
.main .section1 .title {display:block;  margin-left:50px; width:500px; margin:0 auto;  border-radius:10px 10px 0 0; vertical-align:middle; background:rgba(255,255,255,0.2); margin-top:200px; height:45px; }
.main .section1 h1 {font-family: 'Amatic SC', cursive; font-size:130px; font-weight:900;  display:inline-block; color:#fff; padding:-50px; }
.main .section1 p {font-family: 'Amatic SC', cursive; font-size:35px; font-weight:700; color:#fff; margin-left:50px; line-height:40px;}

/*down_btn*/
.main .section1 .down_btn {background:url(../images/scroll.png) no-repeat center center; height:150px; text-align:center; margin-top:50px; position:relative;}
.main .section1 .down_btn a {position:absolute; left:50%; top:0; animation:scroll_move 3s infinite ; margin-left:-25px;}
.main .section1 .down_btn img {width:50px; margin-top:50px;}

@keyframes scroll_move {
	0% {top:-15px;}
	50% {top:25px;}
	100% {top:-15px;}
}


/*****************************************section2*******************************************************/
.main .section2_wrap {width:100%; height:1000px; background:#f2eeee url(../images/section2_back.png)no-repeat center center; font-family: 'Economica', sans-serif;}
.main .section2_wrap .section2 {width:1200px; height:1000px; margin:0 auto; position:relative; border-top:1px solid transparent;}
.main .section2_wrap .section2 h2 {font-family: 'Amatic SC', cursive; font-size: 100px; font-weight:900; text-align:center;  margin-top:20px; }

/*abitliy*/
.con .icon { display:block; width:240px; height:152px; background:url(../images/icon1.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-123px; margin-top:-71px;} 
.con .icon:hover { background-position-x:-242px;}
.con .icon_txt {position:absolute; top:50%; left:50%; margin-left:-158px; margin-top:-290px; display:none; }
.con .icon_txt .tit {display:block; background:url(../images/tit1.png) no-repeat; width:132px; height:34px; font-size:25px; color:#fff; font-weight:bold; font-family: 'Amatic SC', cursive; text-indent:10px; line-height:34px; }
.con .icon_txt ul { display:block; margin-top:5px; width:316px; height:117px; background:rgba(242,232,229,0.6); }
.icon_txt ul li { width:32.75%; float:left; display:block; }
.icon_txt ul li a { width:50px; height:50px; float:left; background:url(../images/ability_icon.png) no-repeat; margin:20px 20px 10px 24px; }
.icon_txt ul li .txt2 {background-position-x:-50px;}
.icon_txt ul li .txt3 {background-position-x:-100px;}
.icon_txt ul li p { display:block; text-align:center; font-weight:bold;}

/*certificate*/
.con .icon2 { display:block; width:65px; height:43px; background:url(../images/icon2.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:140px; margin-top:-65px;}
.con .icon2:hover { background-position-x:-66px;}
.con .second {position:absolute; top:50%; left:50%; margin-left:225px; margin-top:-150px; display:none; }
.con .second .tit {display:block; background:url(../images/tit2.png) no-repeat; width:168px; height:34px; font-size:25px; color:#fff; font-weight:bold; text-indent:10px; line-height:34px; }
.con .second p {width:317px; height:100px;  font-weight:bold; background:rgba(240,235,223,0.6); padding:10px; margin-top:5px; }
.con .second p strong { display:inline-block;}

/*software skill*/
.con .icon3 { display:block; width:57px; height:90px; background:url(../images/icon3.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:140px; margin-top:-5px;}
.con .icon3:hover { background-position-x:-59px;}
.con .third { position:absolute; top:50%; left:50%; margin-top:160px; margin-left:70px; display:none; }
.con .third .tit {display:block; background:url(../images/tit3.png) no-repeat; width:132px; height:35px;}
.con .third ul {margin-top:5px; width:419px; height:110px; text-align:center; background:rgba(227,236,238,0.6);}
.con .third ul li {width:23%; margin-top:12px;}
.con .third ul li:first-child {margin-left:13px;}
.con .third ul li a { display:block; width:85px; height:85px; background:url(../images/skill_icon.png) no-repeat; margin:0; margin-left:5px;}
.con .third ul li .js {background-position-x:-85px;}
.con .third ul li .ai {background-position-x:-170px;}
.con .third ul li .dw {background-position-x:-255px;}

/*Education*/
.con .icon4 {display:block; width:76px; height:90px; background:url(../images/icon4.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-210px; margin-top:-5px;}
.con .icon4:hover {background-position-x:-79px;}
.con .forth {position:absolute; top:50%; left:50%; margin-top:102px; margin-left:-514px; display:none;  }
.con .forth .tit {display:block; background:url(../images/tit4.png) no-repeat; width:104px; height:34px; font-size:25px; color:#fff; font-weight:bold;  text-indent:10px; line-height:34px; }
.con .forth p {width:400px; height:105px;  font-weight:bold; background:rgba(218,235,238,0.6); padding:10px; margin-top:5px; font-size:17px; }
.con .forth p strong {display:inline-block;}

/*picture*/
.con .icon5 {display:block; width:54px; height:61px; background:url(../images/icon5.png) no-repeat; position:absolute; top:50%; left:50%; margin-left:-208px; margin-top:-70px;}
.con .icon5:hover {background-position-x:-55px;}
.con .fifth {position:absolute; top:50%; left:50%; margin-top:-250px; margin-left:-498px; display:none;  }
.con .fifth .tit {display:block; background:url(../images/tit5.png) no-repeat; width:105px; height:34px; font-size:25px; color:#fff; font-weight:bold;  text-indent:10px; line-height:34px; }
.con .fifth p {width:184px; height:216px; background:url(../images/picture.gif) no-repeat ; margin-top:5px; }

.down_btn2 {display:inline-block; position:absolute; bottom:130px; left:50%; margin-left:-25px; animation:btn2_move 3s infinite ;  }

@keyframes btn2_move {
	0% {bottom:140px;}
	50% {bottom:160px;}
	100% {bottom:140px;}
}


/*******************************************section3**********************************************************/
.main .section3_wrap {width:100%; height:1000px; background:#999 url(../images/section3_back.png)no-repeat center center; font-family: 'Economica', sans-serif;}
.main .section3_wrap .section3 {width:1200px; height:1000px; margin:0 auto; border-top:1px solid transparent; text-align:center; position:relative;  }
.main .section3_wrap .section3 h2 {font-family: 'Amatic SC', cursive; font-size: 100px; font-weight:900; text-align:center; color:#f1f1f1; margin-top:20px;}
.section3 .content { margin-top:100px;  box-sizing:border-box; padding:0 80px;}
.section3 .content a { display:inline-block; outline:none; }
.section3 .content a img { width:260px;}
.section3 .content a span {display:block; display:block; width:260px; height:126px; background:rgba(225,216,216,0.6); font-size:25px; color:#333130; font-weight:bold; box-sizing:border-box; padding:34px 0; line-height:26px;}
.section3 .content a .graphic { padding:45px 0;}
.section3 .content a .proceed { padding:20px 0;}
.section3 .content a span strong {color:#2b7642;}

.content .slick-slide { position:relative;}
.content .slick-prev { position:absolute; left:0; top:50%;  width:62px; height:78px; background:url(../images/arrow_l.png) no-repeat; text-indent:-9999px; border:none; margin-top:-30px; margin-left:20px; outline:none; z-index:30;}
.content .slick-prev:hover {background-image:url(../images/arrow_l_on.png);}
.content .slick-next { position:absolute; right:0; top:50%;  width:62px; height:78px; background:url(../images/arrow_r.png) no-repeat -2px; text-indent:-9999px; border:none;  margin-top:-30px; margin-right:20px; outline:none;  z-index:1050; }
.content .slick-next:hover {background-image:url(../images/arrow_r_on.png);}

/*pop-up*/
.section3 .pop_up {z-index:2600;}
.section3 .pop_up .pop_up1 {width:1150px; height:600px;  position:fixed; left:50%; top:50%; margin-left:-600px; margin-top:-300px; background:#fff; z-index:2000; text-align:left; padding:20px 30px 0 30px;  visibility:hidden;z-index:2600; } 
.section3 .pop_up .pop_up1 .close_btn {position:absolute; top:0; right:0;}
.section3 .pop_up .pop_up1 .slide { }
.section3 .pop_up .pop_up1 .page_number {position:absolute; bottom:0; left:50%; font-weight:bold; margin-left:-15px;}

.pop_up1 .slick-prev { position:absolute; left:0; bottom:0;  width:100px; height:20px; background:url(../images/pop_up_l.png) no-repeat;  border:none;  outline:none; z-index:2001; text-indent:34px; font-weight:bold; font-family: 'Economica', sans-serif; font-size:20px; line-height:16px;} 
.pop_up1 .slick-next { position:absolute; right:0; bottom:0;  width:100px; height:20px; background:url(../images/pop_up_r.png) no-repeat right center; border:none;  outline:none;  z-index:2001; font-weight:bold; font-family: 'Economica', sans-serif; font-size:20px; line-height:16px;}

.section3 .pop_up .pop_up1 .slide .page1 { height:580px;  position:relative; outline:none; }
.section3 .pop_up .pop_up1 .slide .page1 h4 {margin-top:14px; font-size:26px; font-weight:bold; background:url(../images/tit.png) no-repeat left center;  text-indent:10px; float:left;}

.section3 .pop_up .pop_up1 .slide .page1 .tab_btn { display:inline-block; float:right; margin-top:20px;  }
.section3 .pop_up .pop_up1 .slide .page1 .tab_btn a { border:1px solid #333130; font-size:25px;   background:#fff; color:#333130;  padding:5px; margin-left:10px; outline:none;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_btn a:hover {background:#333130; color:#fff;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_btn a.on {background:#333130; color:#fff;}


.section3 .pop_up .pop_up1 .slide .page1 .txt { display:inline-block; float:left; clear:both; margin-top:20px; }
.section3 .pop_up .pop_up1 .slide .page1 .txt h5 {font-weight:bold; margin-bottom:20px; font-size:20px; margin-top:50px;}
.section3 .pop_up .pop_up1 .slide .page1 .txt p {font-size:13px; line-height:22px;  margin-bottom:50px;}
.section3 .pop_up .pop_up1 .slide .page1 .txt p span { font-weight:bold; font-size:15px; background:url(../images/strong_bar.png) no-repeat left center; padding-left:24px; background-size:24px; line-height:24px;}
.section3 .pop_up .pop_up1 .slide .page1 .txt p em {font-weight:bold; padding-left:24px;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_content { margin-top:20px; float:right;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_content .original {position:relative;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_content .original a .cover {width:100%; height:448px; position:absolute; top:0; left:0; background:url(../images/tab_cover1.png) no-repeat; display:none; }
.section3 .pop_up .pop_up1 .slide .page1 .tab_content a:hover .cover {display:block;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_content .renewal {position:relative;}
.section3 .pop_up .pop_up1 .slide .page1 .tab_content .renewal a .cover { width:100%; height:448px; position:absolute; top:0; left:0; background:url(../images/tab_cover2.png) no-repeat; display:none; }
.section3 .pop_up .pop_up1 .slide .page1 .tab_content .renewal a:hover .cover {display:block;}

.section3 .pop_up .pop_up1 .slide .page2 h4 {float:none; }
.section3 .pop_up .pop_up1 .slide .page2 .left {width:840px; float:left; margin-top:40px;}
.section3 .pop_up .pop_up1 .slide .page2 .left div {width:33%; height:400px; border-right:2px dotted #333130; padding:14px; box-sizing:border-box;}
.section3 .pop_up .pop_up1 .slide .page2 .left div h6 {font-weight:bold; font-size:24px; margin-bottom:20px;}
.section3 .pop_up .pop_up1 .slide .page2 .left .conept{float:left;}
.section3 .pop_up .pop_up1 .slide .page2 .left div p {font-size:13px; margin-bottom:30px;}
.section3 .pop_up .pop_up1 .slide .page2 .left div p span {font-weight:bold; font-size:14px; margin-bottom:5px; display:inline-block;  border-bottom:1px solid #333130; height:18px; }
.section3 .pop_up .pop_up1 .slide .page2 .left div p strong {font-size:12px;}
.section3 .pop_up .pop_up1 .slide .page2 .left .target {float:left;}
.section3 .pop_up .pop_up1 .slide .page2 .left .target h6 {}
.section3 .pop_up .pop_up1 .slide .page2 .left .planning{float:left;}



.section3 .pop_up .pop_up1 .slide .page2 .right {width:260px; height:400px; float:left; margin-top:40px; padding:14px; box-sizing:border-box;}
.section3 .pop_up .pop_up1 .slide .page2 .right div {width:100%; height:50%; }
.section3 .pop_up .pop_up1 .slide .page2 .right div h6 {font-weight:bold; font-size:24px; margin-bottom:30px;} 
.section3 .pop_up .pop_up1 .slide .page2 .right .color {border-bottom:2px dotted #333130; margin-bottom:14px; }
.section3 .pop_up .pop_up1 .slide .page2 .right .color p {font-size:14px; margin-bottom:5px;  line-height:12px;  font-family:Gothic;}
.section3 .pop_up .pop_up1 .slide .page2 .right .color p span { width:15px; height:15px; display:inline-block; background:#213d2a; border-radius:15px; margin-right:5px;}
.section3 .pop_up .pop_up1 .slide .page2 .right .color p .color2 {background-color: #de3608;}
.section3 .pop_up .pop_up1 .slide .page2 .right .color p .color3 {background-color: #333130;}
.section3 .pop_up .pop_up1 .slide .page2 .right .color p strong {font-weight:bold;}

.section3 .pop_up .pop_up1 .slide .page2 .right .font h6 { margin-bottom:0;}
.section3 .pop_up .pop_up1 .slide .page2 .right .font img {margin:0 auto;}
.section3 .pop_up .pop_up1 .slide .page2 .right .font p {text-align:center; font-size:14px; font-weight:bold;}

/********************************피자에땅 모바일 웹사이트 팝업************************************/

.section3 .pop_up {}
.section3 .pop_up .pop_up2 {width:1150px; height:600px;  position:fixed; left:50%; top:50%; margin-left:-600px; margin-top:-300px; background:#fff; z-index:2000; text-align:left;  padding:20px 30px 0 30px; visibility:hidden; z-index:2600;} 
.section3 .pop_up .pop_up2 .close_btn {position:absolute; top:0; right:0;}
.section3 .pop_up .pop_up2 .slide { }
.section3 .pop_up .pop_up2 .page_number {position:absolute; bottom:0; left:50%; font-weight:bold; margin-left:-15px;}

.pop_up2 .slick-prev { position:absolute; left:0; bottom:0;  width:100px; height:20px; background:url(../images/pop_up_l.png) no-repeat;  border:none;  outline:none; z-index:2001; text-indent:34px; font-weight:bold; font-family: 'Economica', sans-serif; font-size:20px; line-height:16px;} 
.pop_up2 .slick-next { position:absolute; right:0; bottom:0;  width:100px; height:20px; background:url(../images/pop_up_r.png) no-repeat right center; border:none;  outline:none;  z-index:2001; font-weight:bold; font-family: 'Economica', sans-serif; font-size:20px; line-height:16px;}

.section3 .pop_up .pop_up2 .slide .page1 { height:580px;  position:relative; outline:none; }
.section3 .pop_up .pop_up2 .slide .page1 h4 {margin-top:14px; font-size:25px; font-weight:bold; background:url(../images/tit.png) no-repeat left center;  text-indent:10px; float:left;}

.section3 .pop_up .pop_up2 .slide .page1 .tab_btn { display:inline-block; float:right; margin-top:20px; }
.section3 .pop_up .pop_up2 .slide .page1 .tab_btn a { border:1px solid #333130; font-size:25px;   background:#fff; color:#333130;  padding:5px; margin-left:10px; outline:none;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_btn a:hover {background:#333130; color:#fff;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_btn a.on {background:#333130; color:#fff;}


.section3 .pop_up .pop_up2 .slide .page1 .txt { display:inline-block; float:left; clear:both; margin-top:40px; }
.section3 .pop_up .pop_up2 .slide .page1 .txt h5 {font-weight:bold; margin-bottom:20px; font-size:20px; margin-top:50px;}
.section3 .pop_up .pop_up2 .slide .page1 .txt p {font-size:13px; line-height:22px;  margin-bottom:50px;}
.section3 .pop_up .pop_up2 .slide .page1 .txt p span { font-weight:bold; font-size:15px; background:url(../images/strong_bar.png) no-repeat left center; padding-left:24px; background-size:24px; line-height:24px;}
.section3 .pop_up .pop_up2 .slide .page1 .txt p strong { padding-left:120px;}
.section3 .pop_up .pop_up2 .slide .page1 .txt p em {font-weight:bold; padding-left:24px;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_content { margin-top:20px; float:right;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_content .original {position:relative;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_content .original a .cover {width:100%; height:460px; position:absolute; top:0; left:0; background:url(../images/tab_cover3.png) no-repeat; display:none; }
.section3 .pop_up .pop_up2 .slide .page1 .tab_content a:hover .cover {display:block;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_content .renewal {position:relative;}
.section3 .pop_up .pop_up2 .slide .page1 .tab_content .renewal a .cover { width:100%; height:460px; position:absolute; top:0; left:0; background:url(../images/tab_cover4.png) no-repeat; display:none; }
.section3 .pop_up .pop_up2 .slide .page1 .tab_content .renewal a:hover .cover {display:block;}

.section3 .pop_up .pop_up2 .slide .page2 h4 {float:none; }
.section3 .pop_up .pop_up2 .slide .page2 .left {width:840px; float:left; margin-top:40px;}
.section3 .pop_up .pop_up2 .slide .page2 .left div {width:33%; height:400px; border-right:2px dotted #333130; padding:14px; box-sizing:border-box;}
.section3 .pop_up .pop_up2 .slide .page2 .left div h6 {font-weight:bold; font-size:24px; margin-bottom:20px;}
.section3 .pop_up .pop_up2 .slide .page2 .left .conept{float:left;}
.section3 .pop_up .pop_up2 .slide .page2 .left div p {font-size:13px; margin-bottom:30px;}
.section3 .pop_up .pop_up2 .slide .page2 .left div p span {font-weight:bold; font-size:14px; margin-bottom:5px; display:inline-block;  border-bottom:1px solid #333130; height:18px; }
.section3 .pop_up .pop_up2 .slide .page2 .left div p strong {font-size:12px;}
.section3 .pop_up .pop_up2 .slide .page2 .left .target {float:left;}
.section3 .pop_up .pop_up2 .slide .page2 .left .target h6 {}
.section3 .pop_up .pop_up2 .slide .page2 .left .planning{float:left;}


.section3 .pop_up .pop_up2 .slide .page2 .right {width:260px; height:400px; float:left; margin-top:40px; padding:14px; box-sizing:border-box;}
.section3 .pop_up .pop_up2 .slide .page2 .right div {width:100%; height:50%; }
.section3 .pop_up .pop_up2 .slide .page2 .right div h6 {font-weight:bold; font-size:24px; margin-bottom:30px;} 
.section3 .pop_up .pop_up2 .slide .page2 .right .color {border-bottom:2px dotted #333130; margin-bottom:14px; }
.section3 .pop_up .pop_up2 .slide .page2 .right .color p {font-size:14px; margin-bottom:5px;  line-height:12px;  font-family:Gothic;}
.section3 .pop_up .pop_up2 .slide .page2 .right .color p span { width:15px; height:15px; display:inline-block; background:#1b512d; border-radius:15px; margin-right:5px;}
.section3 .pop_up .pop_up2 .slide .page2 .right .color p .color2 {background-color: #333130;}
.section3 .pop_up .pop_up2 .slide .page2 .right .color p strong {font-weight:bold;}

.section3 .pop_up .pop_up2 .slide .page2 .right .font h6 { margin-bottom:0;}
.section3 .pop_up .pop_up2 .slide .page2 .right .font img {margin:0 auto;}
.section3 .pop_up .pop_up2 .slide .page2 .right .font p {text-align:center; font-size:14px; font-weight:bold;}


.p_cover {position:fixed; width:100%; height:100%; background:url(../images/overlay.png); opacity:0.6; z-index:2500; display:none;}


.down_btn3 {display:inline-block; position:absolute; bottom:130px; left:50%; margin-left:-25px; animation:btn3_move 3s infinite ;  }

@keyframes btn3_move {
	0% {bottom:140px;}
	50% {bottom:160px;}
	100% {bottom:140px;}
}



/*****************************************section4**************************************************/
.main .section4_wrap {width:100%; height:1000px; background:#f9f9f9 url(../images/section4_back2.png)no-repeat center center; font-family: 'Economica', sans-serif;}
.main .section4_wrap .section4 {width:1200px; height:1000px; margin:0 auto; border-top:1px solid transparent;  }
.main .section4_wrap .section4 h2 {font-family: 'Amatic SC', cursive; font-size: 100px; font-weight:900; text-align:center; color:#069; margin-top:20px;}
.main .section4_wrap .section4 h2 strong {color:#a43030;}
.main .section4_wrap .section4 .profile { margin:0 auto; overflow:hidden; margin-top:40px;}
.main .section4_wrap .section4 .profile img {   margin:60px 150px; float:left; position:relative; }
.main .section4_wrap .section4 .profile img:hover { animation: selfie_move .3s infinite; }




.main .section4_wrap .section4 .profile .txt { float:right; width:600px; height:300px; overflow-y:auto; background:rgba(255,255,255,0.6);  margin-top:50px; padding:10px;}
.main .section4_wrap .section4 .profile .txt p { font-size:24px; margin-top:20px; font-weight:bold; color:#666;  text-indent:20px;}
.main .section4_wrap .section4 ul { font-weight:bold; font-wieght:blod; border-top:2px dotted #333130;  margin-top:120px; clear:both; }
.main .section4_wrap .section4 ul li { font-size:28px;  height:38px;  text-align:right;}
.main .section4_wrap .section4 ul li:first-child {margin-top:10px;}