@charset "UTF-8";
/*@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumSquareR.eot);
    src: url(../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareR.woff) format('woff'),
         url(../font/NanumSquareR.ttf) format('truetype');
}*/
*, *:before, *:after {box-sizing: border-box; outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0.1);}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor: pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
a {text-decoration: none; /*color: #1c1c1c*/}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0; vertical-align: top;}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%; table-layout: fixed;}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {vertical-align: middle; margin: 0; padding: 0}
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
*/
body {line-height: 1.5; -webkit-text-size-adjust:none}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* 공통스타일 */
body,input,select,textarea,button,table {
    font-family: 'Noto Sans KR','맑은 고딕','malgun gothic','돋움',dotum,sans-serif;
    font-size: 15px;
    color: #424242;
    letter-spacing: -0.05em;
}

a {color: #424242;}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/* 스킵네비게이션 */
#skipNavi a {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width:100%;
    line-height: 40px;
    background:rgba(28, 28, 28, 0.6);
    color: #fff;
    text-align: center;
    z-index:10000;
}
#skipNavi a:focus,
#skipNavi a:active {
    transform: translateY(0%);
}



/* placeholder공통 */
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbbbbb;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbbbbb;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbbbbb;
  opacity: 1; /* Firefox */
}

/* 테이블 공통스타일 */
/*테이블 제목 공통*/
.tbl_wrap {margin-top: 100px;}
.tbl_wrap h3 {
    font-family: 'high1WonchuriTitle',sans-serif;
    font-size: 30px;
    color: #333;
    position: relative;
}
.tbl_wrap h3:before {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    width:80px;
    height: 3px;
    background: #000;
}
.tbl_wrap h4 {
    font-family: 'high1WonchuriTitle',sans-serif;
    font-size: 25px;
    color: #333;
    margin-top: 40px;
}
.tbl_wrap .unit {float: right;}
.tbl_wrap .warning { color: #9e897d; margin: 10px 0; padding-left: 25px; position: relative;}
.tbl_wrap .warning:before {
    content: '\f06a';
    font-family: 'fontawesome',sans-serif;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: -4px;
}


table thead th {
    border: 1px solid #d9d9d9;
    border-top:2px solid #333;
    border-bottom: none;
    height: 70px;
    background: #f7f7f7;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
table tbody th,
table tbody td {
    border: 1px solid #d9d9d9;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
table td.left_td {text-align: left;}
table td.left_td a:hover {text-decoration: underline;}


/* 게시판 페이징 공통 */
.tbl_wrap .paging_wrap {text-align: center; margin-top: 20px;}
.tbl_wrap .paging_wrap .paging {display: inline-block; vertical-align: top;}
.tbl_wrap .paging_wrap .paging .btn_paging {float: left; width:22px; height: 40px; text-indent: -9999px; background: url(../images/sprite_pc.png) no-repeat -392px -296px;}
.tbl_wrap .paging_wrap .paging .btn_prev {background-position: -362px -168px; margin-right: 5px;}

.tbl_wrap .paging_wrap .paging .btn_num {float: left; width:38px; height: 38px; border: 1px solid #eee; line-height: 38px; margin: 0 5px;}
.tbl_wrap .paging_wrap .paging span.on {background: #bb0841; color: #fff; border-color:#bb0841;}

.tbl_wrap .paging_wrap .paging .btn_next {background-position: -21px -417px; margin-left: 5px;}
.tbl_wrap .paging_wrap .paging .btn_last {background-position: -438px -374px;}


/* 폼요소 공통스타일 */
input[type="text"],input[type="password"] {
    border: 1px solid #ccc;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    color: #666;
/*    outline: none;*/
}
/*
input[type="text"]:focus,input[type="password"]:focus {border-color: #962639;}
*/

/* 체크박스 공통스타일 */
.input_box {padding-top: 10px;}
input[type="checkbox"] + label {position: relative; padding-left: 38px; cursor: pointer; line-height: 24px; display: inline-block;}
input[type="checkbox"] + label .icon {
    width:26px;
    height: 26px;
    border-radius: 100%;
    border:2px solid #ddd;
    position: absolute;
    left: 0;
    top: 0;
}
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width:24px;
    height: 24px;
    z-index: 10;
    background: url(../images/icons.png) no-repeat 0 -40px;
}
input[type="checkbox"]:checked + label:before {
    background-position: -40px -40px;
}

/* 라디오버튼 공통 */
input[type="radio"] + label {position: relative; padding-left: 26px; cursor: pointer; display: inline-block; line-height: 24px;}
input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width:21px;
    height: 21px;
    background: url(../images/icons.png) no-repeat 0 -80px;
}
input[type="radio"]:checked + label:before {
    background-position-x:-40px;
}

/* 셀렉트 공통 */
.select_wrap {
    display: inline-block;
    width: 196px;
    border: 2px solid #dddddd;
    position: relative;
}

/* 익스 셀렉트 화살표 제거 */
select::-ms-expand {display: none;}
.select_wrap select {
    width: 100%;
    border: none;
    height: 41px;
    color: #999999;
    padding-left: 10px;
    -moz-appearance: none;/* 파폭 */
    -webkit-appearance: none;/* 크롬,사파리 */
    appearance: none;
}
.select_wrap:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    width:12px;
    height: 7px;
    background: url(../images/icon_select_arr.png) no-repeat;
}

/* input file 공통스타일 */
.file_wrap {
    border: 2px solid #ddd;
    width:466px;
    padding-right: 98px;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.file_wrap input[type="text"] {height: 41px;background: none !important;}
.file_wrap label {
    position: absolute;
    right: 0;
    top: 0;
    width:98px;
    line-height: 41px;
    color:#009223;
    font-weight: 500;
    letter-spacing: -0.05em;
    text-align: center;
    cursor: pointer;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width:2px;
    height: 16px;
    margin-top: -8px;
    background: #e8e8e8;
}

/* 크롬 대응 스크롤바 삭제, 모바일 사이트 레이아웃 모니터링용*/
/*::-webkit-scrollbar {display: none;}*/


/* 스크롤바 삭제 추가에 따라 레이아웃이 흔들리는 현상을 방지하기 위한 코드, 모니터링용 */
#wrap {min-width: 360px; }
body.on #wrap {height:100%; overflow-x:hidden;}
html, body {height: 100%;}


/* dim처리, popup시 화면 고정 */
/*body.on {overflow:hidden;}*/


/***************************************** 헤더 ************************************************/
#header {position:fixed; left: 0; top: 0; width: 100%; height: 60px; background: #f0ebda; border-bottom: 2px solid #b1ab97; min-width: 360px; z-index: 9999;}
#header .logo {text-align: center; margin-top: 17px;}
#header .logo img {width: 122px;}
#header .btn_menu {position: absolute; right: 0; top:0; width: 58px; height: 58px; background:url(../images/header_menu.png) 50% 50% no-repeat; background-size: 28px; text-indent: -9999px; border:none;}

/**************************************** gnb *************************************************/
#header .dim {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); display:none;}
#header .gnb_wrap {position: fixed; right: 0; top:0; width: calc(100% - 40px); height: 100%; transition: all 0.4s; transform: translateX(100%);}
/* gnb on 처리 */
#header .gnb_wrap.on {transform: translateX(0);}

/* top gnb 스타일링 */
#header .gnb_wrap .top_gnb {overflow: hidden; background:#5d7f06; min-width: 320px;}
#header .gnb_wrap .top_gnb span {float: left; line-height: 60px; font-family: solway, serif; color: #f6f6f6; font-weight: 400; margin-left: 20px; font-size: 14px;}
#header .gnb_wrap .top_gnb .util_wrap {float: right;}
#header .gnb_wrap .top_gnb .util {float: left;  margin: 17px 0 0 12px;}
#header .gnb_wrap .top_gnb .util li {float: left; position: relative;}
#header .gnb_wrap .top_gnb .util li a {font-size: 13px; color: #fff; padding: 0 7px;}
#header .gnb_wrap .top_gnb .util li:first-child:after {display:none;}
#header .gnb_wrap .top_gnb .util li:after {content: ''; position:absolute; left:0; top: 7px; width: 1px; height: 12px; background:#fff;}
#header .gnb_wrap .top_gnb .btn_gnb_close {float: left; width: 50px; height: 60px; background:url(../images/btn_gnb_close.png)no-repeat 50% 50%; background-size:20px; text-indent: -9999px; border:none;}

/* bottom gnb 메뉴 스타일링 */
#header .gnb_wrap .bottom_gnb {background: #f0ebda; height: calc(100% - 60px); overflow: auto;}
#header .gnb_wrap .bottom_gnb .gnb>li>a {padding-left: 20px; display: block; line-height: 60px; font-size: 16px; color: #456100; font-weight: 700; border-bottom: 1px solid #d3cfc2; position: relative;}
#header .gnb_wrap .bottom_gnb .gnb>li>a:after {content:''; position: absolute; right: 18px; top: 27px; width: 13px; height: 7px; background: url(../images/btn_gnb_arrow.png)no-repeat; background-size: 13px;}
#header .gnb_wrap .bottom_gnb .gnb>li>a:last-child:after {display:none;}
#header .gnb_wrap .bottom_gnb .gnb>li>a.on:after {transform: rotateZ(180deg);}
#header .gnb_wrap .bottom_gnb .gnb .depth2 {background:#d3cfc2; padding: 15px 0 ; display:none;}
#header .gnb_wrap .bottom_gnb .gnb .depth2 li a {padding-left: 20px; display: block; line-height: 40px; color:#565656; font-weight: 500;}


/* 메인 공통 */
/* 메인 제목 공통 */
section .tit {font-size: 35px; font-weight: 700; color: #424242; letter-spacing: -0.05em; font-family: solway, serif; text-align: center;}

/* 서브 공통 */
#main.sub_main {padding-top: 60px;}
#main.sub_main .lnb {position:relative;}
#main.sub_main .btn_lnb {display: block; line-height: 50px; width: 100%; background: #ebe4cd; text-align: center; font-size: 20px; font-weight: 500; color: #466301; border:none; border-bottom: 1px solid #d3cfc2; position: relative;}
#main.sub_main button.btn_lnb:after {content:''; position:absolute; right: 26px; top: 50%; transform: translateY(-50%); width: 12px; height: 7px; background: url(../images/lnb_arrow.png) no-repeat; background-size: 12px;}
#main.sub_main button.btn_lnb.on:after {transform: rotate(180deg); margin-top: -3px;}
#main.sub_main .list_lnb {width: 100%;background: #d3cfc2; text-align: center; display: none; position: absolute; left:0; top:51px;}
#main.sub_main .list_lnb li {border-bottom: 1px solid #bebaab;}
#main.sub_main .list_lnb li a {display: block; line-height: 50px; font-size: 18px; color: #585858;}
#main.sub_main .list_lnb li.active a {color: #567705; font-weight: 500;}
/***************************************** 푸터 ************************************************/

/* 탑 푸터 리스트 처리 */
#footer .top_footer {background: #4c4c4c; }
#footer .top_footer .list_wrap {text-align: center;}
#footer .top_footer .list_top_footer {line-height: 50px; display: inline-block; vertical-align: top;}
#footer .top_footer li {float: left;}
#footer .top_footer .bold {font-weight: 700; }
#footer .top_footer li a {font-size: 12px; color: #e5e5e5;}
#footer .top_footer li:after {content:''; display:inline-block; width: 1px; height: 11px; margin: 0 7px; background: #979797;}
#footer .top_footer li:last-child:after {display:none;}

/* 바텀 푸터 */
/* sns 버튼 처리 */
#footer .bottom_footer {background: #232323; padding: 36px 20px;}
#footer .bottom_footer .sns {text-align: center; margin-bottom: 25px;}
#footer .bottom_footer .sns a {display: inline-block; width: 40px; height: 40px; background: url(../images/icon_footer_sns.png)no-repeat; background-size: 120px; text-indent: -9999px; margin: 0 11px;}
#footer .bottom_footer .sns a:nth-child(2) {background-position-x: -40px;}
#footer .bottom_footer .sns a:nth-child(3) {background-position-x: -80px;}
/* 패밀리 사이트 */
#footer .bottom_footer .family_site {width: 270px; margin: 0 auto; position:relative; }
#footer .bottom_footer .family_site .btn_family {width: 100%; line-height: 40px; background:#6a6a6a; border:none; color: #d9d9d9; position: relative; -webkit-tap-highlight-color: rgba(0,0,0,0);}
#footer .bottom_footer .family_site .btn_family:after {content:''; position: absolute; right: 20px; top: 18px; width: 11px; height: 6px; background: url(../images/btn_family_arrow.png)no-repeat 50% 50%; background-size: 11px;}
#footer .bottom_footer .family_site .list_wrap {position:absolute; left:0; bottom:40px; width: 100%; height:0; overflow:hidden; transition: all 0.4s;}
#footer .bottom_footer .family_site .list_family {position: absolute; left:0; bottom:0; width: 100%; text-align: center; background:#6a6a6a;}
#footer .bottom_footer .family_site .list_family li {line-height: 40px; border-bottom: 1px solid #808080;}
#footer .bottom_footer .family_site .list_family li a {display: block; color: #d9d9d9;}

#footer .bottom_footer .family_site .list_wrap.on {height: 164px;}
#footer .bottom_footer .family_site .btn_family.on {background: #343434; color: #fff;}
#footer .bottom_footer .family_site .btn_family.on:after {transform:rotateZ(180deg);}

/* 주소, 카피라이트 */
#footer .bottom_footer .txt_wrap {text-align: center; color: #e5e5e5; font-size: 13px; margin-top: 20px; line-height: 18px;}
#footer .bottom_footer .txt_wrap a {color: #e5e5e5;}
#footer .bottom_footer .txt_wrap address span {display:inline-block; width: 1px; height: 10px; background: #e5e5e5; margin: 0 7px;}
#footer .bottom_footer .txt_wrap .copyright {margin-top: 4px;}
