@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; /*내용으로 들어가는 태그의 선 빼기*/
	font-size: 100%; /*body 안의 모든 태그의 폰트 크기를 동일하게*/
	font: inherit; /*body에 설정된 폰트속성을 상속받게 한다.*/
	vertical-align: top; /*a태그 안에 img가 들어갈 경우 vertical-align: top;으로 아래쪽 여백을 없애준다.*/
}
/* HTML5 display-role reset for older browsers */
/*html5 추가 엘리먼트는 ie8이하에서 inline 처리 되므로 block으로 바꿔준다.*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a {text-decoration:none;}
button {cursor:pointer; margin:0; padding:0;}