@charset "UTF-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor:pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 페이지안에서 가장 많은 링크색 지정 */
a {text-decoration: none; color: #666}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {vertical-align: middle; margin: 0; padding: 0; outline:0; border: 0; background: none;}    
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
*/
body {line-height: 1.5; -webkit-text-size-adjust:none}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* 공통스타일 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder 공통 */
::-webkit-input-placeholder {color:999999;} /* Webkit,크롬,사파리 */
:-moz-placeholder {color:999999;} /* Firefox 4-18 */
::-moz-placeholder {color:999999; opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:999999;} /* IE10+ */

/* 폼요소는 body폰트가 상속되지않으므로 추가해줌 */
body,input,button,select,textarea,table {
    /* 사이트전체의 영문은 영문전용폰트적용하고
    한글은 한글폰트적용시 영문전용을 앞에 선언 */
    font-family: 'Noto Sans KR','돋움',sans-serif;
    font-size: 14px;
    color:#474747;
    letter-spacing: -0.04em;
}
* { box-sizing: border-box;}

/* 드레그했을 때 색상이 변함 */
/* ::selection {
    background-color: #ef151e;
    color: #ffffff;
} */

/* 스킵 네비게이션 */
/* #skipNavi a {position:absolute; left:0; top:-999px; width:100%; padding:5px 0; background:#e6001e; z-index:99999; text-align:center; color: #fff;}
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus {top:0} */

/* 전체 메뉴 클릭했을 때 width 100%로 스크롤 제어하기 위해 작성 */

body.on {overflow: hidden;}



#wrap {min-width: 320px; width:100%;}

/* header 영역 */
#header {
    width: 100%;
    min-width: 320px;
    height: 60px;
    background: #fff;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    transition: all 0.3s;
    z-index: 9999;
}

#header .logo a img {
    width: 75px;
    height: 22px;
    margin-top: 17px;
    float: left;
}

#header .util {
    float: right;
    margin-top: 20px;
}

#header .util li {
    float: left;
    margin-left: 20px;
}

#header .util .btn_search {
    display: block;
    width: 19px;
    height: 19px;
    background: url(../images/btn_search.png) 50% 50% no-repeat;
    background-size: 19px;
    text-indent: -9999px;
}
/* 검색영역 */

#header .util li .search_zone {
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background: #1c1c1c;
    transition: all 0.1s;
    text-align: center;
    padding: 0 20px;
}
#header._open .util li .search_zone {
    top:0
}


#header._open {
    top: 60px;
}


/* #header .util li .search_zone form {
    display: inline-block;
    width: 100%;
    margin-top: 17px;
    position: relative;
} */

#header .util li .search_zone form input {
    width: 100%;
    height: 30px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 60px 0 5px;
    position: relative;
}

#header .util li .search_zone form input::placeholder {
    color: #fff;
}

#header .util li .search_zone .btn_close {
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -12px;
    width: 18px;
    height: 18px;
    background: url(../images/btn_close.png) 50% 50% no-repeat;
    background-size: auto 17px;
    text-indent: -9999px;
}

#header .util li .search_zone .btn_search {
    background: url(../images/btn_search_white.png) 50% 50% no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 51px;
    margin-top: -13px;
}




#header .util .btn_menu {
    display: block;
    width: 19px;
    height: 19px;
    background: url(../images/btn_menu.png) 50% 50% no-repeat;
    background-size: 19px;
    text-indent: -9999px;
}


/* nav 메뉴 영역 */ 

#nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    transform: translateX(100%);
    z-index: 9999;
    background: #fff;
}

#nav.on {
    transform: translateX(0);  
    overflow-y: auto;
    /* 데스크탑에서 스크롤바 안보이게 */
    /* -ms-overflow-style: none; */
    /* 파이어폭스 스크롤바 안보이게 */
    /* scrollbar-width: none; */
}

/* 크롬, 사파리, 오페라 스크롤바 없애기*/
/* #nav.on::-webkit-scrollbar {
    display: none;
} */


#nav .top_nav {
    background: #222;
    padding: 15px 20px 17px;
}

#nav .top_nav .btn_login {
    font-size: 19px;
    color: #fff;
    padding-right: 29px;
    background: url(../images/btn_login.png) 100% 50% no-repeat;
    background-size: 16px auto;
}

#nav .top_nav .btn_close {
    float: right;
    background: url(../images/btn_close.png) no-repeat;
    background-size: auto 17px;
    text-indent: -9999px;
    width: 18px;
    margin-top: 8px;
}

/* nav 배너 영역 */
#nav .nav_banner {
    margin-bottom: 22px;
}

#nav .nav_banner a {
    display: block;
    width: 100%;
}

#nav .nav_banner img {
    width: 100%;
}

/* GNB 영역 */
#nav .gnb {
    width: 100%;
    border-top: 1px solid #ddd;
}

#nav .gnb>li {
    width: 100%;
    background: #fff;
}

#nav .gnb>li>a {
    display: block;
    font-size: 16px;
    line-height: 49px;
    color: #666;
    font-weight: 500;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

#nav .gnb>li>a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -4px;
    width: 16px;
    height: 9px;
    background: url(../images/btn_menu_detail.png) 50% 50% no-repeat;
    background-size: auto 9px;
}

#nav .gnb>li.on>a:after {
    transform: rotateZ(180deg);
}


#nav .gnb .depth2 {
    width: 100%;
    display: none;
}

#nav .gnb .depth2 li {
    width: 100%;
    background: #f4f4f4;
}

#nav .gnb .depth2 li a {
    display: block;
    line-height: 49px;
    color: #666;
    padding: 0 30px;
    border-bottom: 1px solid #ddd;
}

/* nav 마이페이지, NLIVE 버튼 */
#nav .btn_wrap {
    padding: 0 20px;
}

#nav .btn_wrap a {
    display: block;
    width: 100%;
    border: 1px solid #393939;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
    color: #393939;
}

#nav .btn_wrap a.btn_nlive {
    color: #e6001e;
    border-color: #e6001e;
    font-size: 19px;
    font-weight: 500;
}

/* nav lang(언어) 영역 */
#nav .lang {
    padding: 23px 0 30px;
    text-align: center;
}

#nav .lang li {
    display: inline-block;
}

#nav .lang li a {
    color: #999;
    font-size: 13px;
    margin-right: 20px;
    position: relative;
}

#nav .lang li.active a {
    color: #1c1c1c;
    font-weight: 500;
}

#nav .lang li.active a:after {
    content:'';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #1d1d1d
}

/* container 영역 */
#container {
    position: relative;
}

#container .main_slider .swiper-slide {
    width: 100%;
}

#container .main_slider .swiper-slide img {
    width: 100%;
}

/* 메인페이지 공통 제목 스타일 */
#container .tit_wrap {
    text-align: center;
    color: #fff;
    padding-top: 35px;
}

#container .tit_wrap h2 {
    font-size: 30px;
    font-weight: 700;
}
#container .tit_wrap p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* 공통 버튼 스타일 */
.btn_more {
    display: block;
    width: 130px;
    line-height: 40px;
    border: 1px solid #e6001e;
    color: #e6001e;
    margin: 0 auto;
    text-align: center;
}










/* 농심 TV 슬라이더 */
#container .nongshim_tv {
    padding: 0 10px;
    background: #d41015;
}

#container .nongshim_tv .nongshim_tv_slider .swiper-slide {
    text-align: center;
    color: #fff;
}

#container .nongshim_tv_slider .swiper-slide .video_wrap {
    position: relative;
}

#container .nongshim_tv_slider .swiper-slide .video_wrap .btn_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/play_btn.png) no-repeat;
    background-size: 38px;
    width: 38px;
    min-height: 38px;
    text-indent: -9999px;
}

#container .nongshim_tv_slider .swiper-slide .video_wrap img {
    width: 100%;
}

#container .nongshim_tv_slider .swiper-slide h3 {
    font-size: 20px;
    margin-top: 17px;
}

#container .nongshim_tv_slider .swiper-slide  p {
    font-size: 14px;
    margin: 11px 0 45px;
}



#container .nongshim_tv .youtube_wrap .youtube_video {
    position: fixed;
    top: 25%;
    left: 10px;
    transform: translateY(-50%);
    width: calc(100% - 20px);
    height: 0;
    display: none;
    padding-top: 30px;
    z-index: 400;
}

#container .nongshim_tv .youtube_wrap .youtube_video .youtube_video_wrap {
    /* width: 100%; */
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}


#container .nongshim_tv .youtube_wrap .youtube_video .youtube_video_wrap iframe {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}

#container .nongshim_tv .youtube_wrap .btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: url(../images/btn_close.png) 50% 50% no-repeat;
    background-size: auto 20px;
    text-indent: -9999px;
    z-index: 400;

}








/* 홍보센터 */
#container .pr_center {
    background: #f2f2f2;
}

#container .pr_center .text_wrap {
    color: #000;
}

#container .pr_center .pr_list {
    padding: 0 10px;
    width: 100%;
    padding-bottom: 40px;
}

#container .pr_center .pr_list li {
    margin-bottom: 10px;
}

#container .pr_center .pr_list li img {
    width: 100%;
}

#container .pr_center .pr_list li a {
    display: block;
    width: 100%;
    min-height: 130px;
    background: url(../images/pr_img1.png) 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 100;
}

#container .pr_center .pr_list li:nth-child(2) a {
    background-image: url(../images/pr_img2.png);
}

#container .pr_center .pr_list li:nth-child(3) a {
    background-image: url(../images/pr_img3.png);
}

#container .pr_center .pr_list li:nth-child(4) a {
    background-image: url(../images/pr_img4.png);
}

#container .pr_center .pr_list li a:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

#container .pr_center .pr_list li a .txt_wrap {
    position: relative;
    z-index: 10;
}

#container .pr_center .pr_list li a h3 {
    font-size: 20px;
    padding-top: 35px;
}

#container .pr_center .pr_list li a p {
    font-size: 13px;
}

/* N.LIVE 영역 */
#container .nlive {
    background: #fff;
    padding-bottom: 40px;
}
#container .nlive .text_wrap .main_tit {
    color: #e6001e;
}

#container .nlive .text_wrap .main_txt {
    color: #999;
}


#container .nlive .sns_list {
    padding: 0 20px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

#container .nlive .sns_list li {
    width: calc(50% - 10px);
    float: left;
    margin-bottom: 20px;
}

#container .nlive .sns_list li:nth-child(odd) {
    margin-right: 20px;
}

#container .nlive .sns_list li a {
    display: block;
    background: url(../images/nlive_1.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    padding: 41.3% 19px;
}

#container .nlive .sns_list li:nth-child(2) a {
    background-image:  url(../images/nlive_2.png);
}

#container .nlive .sns_list li:nth-child(3) a {
    background-image:  url(../images/nlive_3.png);
}

#container .nlive .sns_list li:nth-child(4) a {
    background-image:  url(../images/nlive_4.png);
}
#container .nlive .sns_list li:nth-child(5) a {
    background-image:  url(../images/nlive_5.png);
}
#container .nlive .sns_list li:nth-child(6) a {
    background-image:  url(../images/nlive_6.png);
}
#container .nlive .sns_list li:nth-child(7) a {
    background-image:  url(../images/nlive_7.png);
}
#container .nlive .sns_list li:nth-child(8) a {
    background-image:  url(../images/nlive_8.png);
}


#container .nlive .sns_list li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

#container .nlive .sns_list li a p {
    color: #fff;
    position: relative;
    text-align: center;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 브랜드 영역 */
#container .brand {
    padding: 0 20px 40px;
    background: #f2f2f2;
}

#container .brand .text_wrap h2 {
    font-size: 30px;
    color: #e6001e;
}

#container .brand .text_wrap p {
    color: #999;
    padding-bottom: 20px;
}

#container .brand select {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    color: #999;
    -moz-appearance:none;  
    -webkit-appearance:none;
    appearance:none;
    background: #fff url(../images/selcet_down.png) 95% 50% no-repeat;
    background-size: auto 6px;
    margin-bottom: 20px;
}

select::-ms-expand {
    display: none;
}

#container .brand .brand_title {
    padding-bottom: 20px;
}

#container .brand .brand_title li.brand1 {
    display: block;
}

#container .brand .brand_title li {
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    position: relative;
    display: none;
}
#container .brand .brand_title li:before {
    content: 'NEW';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 20px;
    background: #f49201;
    text-align: center;
    color: #fff;
    font-size: 13px;
}

#container .brand .brand_title li.best_title:before {
    content: 'BEST';
    background: #e6001e;
}

#container .brand .brand_title li a {
    display: block;
}

#container .brand .brand_title li a .img_wrap {
    padding: 21px 79px;
}

#container .brand .brand_title li a .img_wrap img {
    width: 100%;
}

#container .brand .brand_title li a .txt_wrap {
    text-align: center;
}

#container .brand .brand_title li a .txt_wrap h3 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

#container .brand .brand_title li a .txt_wrap p {
    color: #474747;
    font-size: 15px;
    padding-bottom: 35px;
}


/* ETC 센터 */
#container .etc_center {
    background: #fff;
}

#container .etc_center .text_wrap .main_tit {
    font-size: 25px;
    color: #1c1c1c;
    line-height: 1.3;
}

#container .etc_center .text_wrap .main_tit strong {
    color: #e6001e;
    font-weight: 700;
}

#container .etc_center .text_wrap .main_txt {
    color: #999;
    padding: 10px 0 20px;
}

#container .etc_center .etc_info {
    overflow: hidden;
}

#container .etc_center .etc_info li {
    width: 50%;
    float: left;
}

#container .etc_center .etc_info li a h3 {
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 200;
}

/* 공장견학, 주가정보 */
#container .etc_center .etc_info li a {
    display: block;
    padding: 107px 0;
    background: url(../images/etc_center2.png) 50% 50%;
    background-size: cover;
    position: relative;
}
#container .etc_center .etc_info li:nth-child(3) a {
    background-image: url(../images/etc_center3.png);
}

#container .etc_center .etc_info li a .txt_wrap {
    position: absolute;
    bottom: 61px;
    left: 19px;
    z-index: 200;
}

#container .etc_center .etc_info li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* 고객센터 */

#container .etc_center .etc_info li.cs_center {
    width: 100%;
}
#container .etc_center .etc_info li.cs_center a {
    display: block;
    padding: 88px 0;
    background: url(../images/etc_center1.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

#container .etc_center .etc_info li.cs_center a .txt_wrap {
    bottom: 40px;
}

#container .etc_center .etc_info li.cs_center a p {
    font-size: 13px;
    color: #fff;
}

/* FOOTER 영역 */
#footer {
    background: #333;
    padding: 0 10px 30px;
}

/* SNS 리스트 */
#footer .sns_list {
    padding: 20px 0 25px;
    text-align: center;
}

#footer .sns_list li {
    display: inline-block;
    margin-right: 30px;
}
#footer .sns_list li:last-child {
    margin-right: 0;
}

#footer .sns_list li a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: url(../images/sns_list.png) 50% 50% no-repeat;
    background-size: auto 40px;
    background-position-x: 0;
}

#footer .sns_list li.sns_insta a {
    background-position-x: -70px;
}

#footer .sns_list li.sns_youtube a {
    background-position-x: -140px;
}

#footer .sns_list li.sns_facebook a {
    background-position-x: -210px;
}

/* footer 링크 */
#footer .footer_link {
    text-align: center;
    padding-bottom: 20px;
}

#footer .footer_link a {
    margin-right: 15px;
    font-size: 13px;
}

#footer .footer_link a.green {
    color: #96c11f;
    font-weight: 500;
}

#footer .footer_link .top_link {
    padding-bottom: 10px;
}

#footer .footer_link .top_link li {
    display: inline-block;
}

#footer .footer_link .bottom_link li {
    display: inline-block;

}
/* 주소, 대표이사 등 정보 */
#footer address {
    text-align: center;
}

#footer address span {
    font-size: 12px;
    color: #767676;
    margin-bottom: 8px;
}

#footer .family_site {
    margin-top: 30px;
    width: 100%;
    border: 1px solid #999;
    position: relative;
}
#footer .family_site>a {
    display: block;
    width: 100%;
    color: #fff;
    line-height: 35px;
    padding: 0 15px;
    position: relative;
}

#footer .family_site>a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5px;
    width: 12px;
    min-height: 10px;
    background: url(../images/btn_family.png) 50% 50% no-repeat;
    background-size: auto 10px;
}

#footer .family_site.on>a:after {
    transform: rotateZ(180deg);
}

#footer .family_site .fs_list {
    position: absolute;
    bottom: 34px;
    left: -1px;
    width: calc(100% + 2px);
    height: 0;
    overflow-y: scroll;
    background: #fff;
    z-index: 300;
    transition: all 0.5s;
}

#footer .family_site.on .fs_list {
    height: 280px;
    border: 1px solid #999;
}


#footer .family_site .fs_list li {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 35px;
}

#footer .family_site .fs_list .fs_group {
    padding: 0 15px;
}

#footer .family_site .fs_list li a {
    color: #202020;
    font-weight: 400;
    padding: 0 15px;
}



body.on .dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 200;
}

/* 서브페이지 공통 영역 */
.sub_container {
    width: 100%;
}

.sub_container .sub_visual {
    width: 100%;
    height: 300px;
    background: url(../images/servicecenter/sub_visual.png) 50% 0 no-repeat;
    background-size: cover;
    position: relative;
}

.sub_container .sub_visual:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

#container.sub_container .sub_visual .tit_wrap {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    z-index: 100;
    position: relative;
    padding-top: 127px;
}

#container.sub_container .sub_visual .text_wrap h2 {
    padding: 127px 0;
}

.sub_container .sub_tit {
    text-align: center;
    padding-bottom: 30px;
    color: #000;
    font-size: 25px;
    font-weight: 700;
}
.sub_container .sub_txt {
    color: #767676;
    text-align: center;
}

.sub_container .contents {
    padding: 30px 10px 0;
}



.green {
    color: #a0c735;
    font-weight: 500;
}

.red {
    color: #e6001e;
    font-weight: 500;
}

/* 서브페이지 일정, 확인 등 영역 (공통) ******** */
.sub_confirm_wrap {
    width: 100%;
    height: 365px;
    background: url(../images/servicecenter/factory_tour_img.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.sub_confirm_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.sub_confirm_wrap .sub_txt_wrap {
    position: relative;
    z-index: 200;
    text-align: center;
    color: #fff;
    padding-top: 94px;
}

.sub_confirm_wrap .sub_txt_wrap h2 {
    color: #fff;
    padding-bottom: 15px;
}

.sub_confirm_wrap .sub_txt_wrap p {
    font-size: 15px;
    padding-bottom: 16px;
}

.sub_confirm_wrap .sub_txt_wrap .btn_schedule {
    display: block;
    width: 58.8%;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #999;
    background: #fff;
}






/* 고객센터 */
/* 고객문의 프로세스 */
.servicecenter_container .process {
    background: #fff;
    padding-bottom: 45px;
}
.servicecenter_container .process .img_wrap img {
    width: 100%;
}

/* 고객 문의 방법 */
.servicecenter_container .howto {
    padding: 30px 20px 40px;
    background: #f4f4f4;
    position: relative;
}

.servicecenter_container .howto .howto_list {
    background: #f4f4f4;
    border-top: 2px solid #1c1c1c;
}

.servicecenter_container .howto .howto_list li {
    text-align: center;
    border-bottom: 2px solid #1c1c1c;
    width: 100%;
    padding-bottom: 30px;
}

.servicecenter_container .howto .howto_list li .howto_tit {
    font-size: 18px;
    color: #97c222;
    font-weight: 500;
    padding-top: 30px;
}

.servicecenter_container .howto .howto_list li .img_wrap {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
}

.servicecenter_container .howto .howto_list li .img_wrap:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 31px;
    height: 31px;
    background: url(../images/servicecenter/howto_icon.png) 50% 50% no-repeat;
    background-size: cover;
    background-position: 1px 1px;
}

.servicecenter_container .howto .howto_list li:nth-child(2) .img_wrap:after {
    width: 35px;
    height: 28px;
    background-position: -35px 2px;
}

.servicecenter_container .howto .howto_list li:nth-child(3) .img_wrap:after {
    width: 35px;
    height: 32px;
    background-position-x: -89px 1px;
}

.servicecenter_container .howto .howto_list li:nth-child(4) .img_wrap:after {
    width: 36px;
    height: 34px;
    background-position: -146px 0px;
}

.servicecenter_container .howto .howto_list li .howto_number {
    font-size: 16px;
    color: #1c1c1c;
    padding-top: 11px;
}

.servicecenter_container .howto .howto_list li .howto_txt {
    font-size: 13px;
    color: #1c1c1c;
    padding: 15px 0;
}

.servicecenter_container .howto .howto_list li .btn_howto {
    display: inline-block;
    width: 150px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    font-size: 15px;
    border: 1px solid #1c1c1c;
}

/* 고객센터 - 자주묻는질문 */
.servicecenter_container .howto_faq {
    padding: 30px 10px 40px;
}

.servicecenter_container .howto_faq .howto_faq_list {
    border-top: 1px solid #1c1c1c;
}

.servicecenter_container .howto_faq .howto_faq_list li {
    border-bottom: 1px solid #e3e6eb;
    font-size: 0;
    position: relative;
}

.servicecenter_container .howto_faq .howto_faq_list li .howto_faq_category {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    color: #fff;
    background: #1c1c1c;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    margin-right: 9px;
    vertical-align: 20px;
}



.servicecenter_container .howto_faq .howto_faq_list li a {
    display: inline-block;
    width: calc(100% - 33px);
    font-size: 14px;
    color: #1a1a1a;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.servicecenter_container .howto_faq .howto_faq_list li a:after {
    content:'';
    position: absolute;
    top: 21px;
    right: 0;
    width: 9px;
    height: 9px;
    background: url(../images/servicecenter/btn_faq_detail.png) 50% 50% no-repeat;
    background-size: cover;
    transform: rotate(90deg);
}

.servicecenter_container .howto_faq .howto_faq_list li .answer {
    width: 100%;
    padding: 0 30px 15px;
    font-size: 14px;
    text-align: center;
    display: none;
    text-align: left;
    color: #999;
}


.servicecenter_container .howto_faq .howto_faq_list li.on a:after {
    transform: rotateZ(-90deg);
}

/* 견학 일정확인 */
.servicecenter_container .factory_tour_schedule {
    width: 100%;
    background: url(../images/servicecenter/factory_tour_img.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.servicecenter_container .factory_tour_schedule:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.servicecenter_container .factory_tour_schedule .sub_txt_wrap {
    position: relative;
    z-index: 200;
    text-align: center;
    color: #fff;
    padding: 159px 0 30px
}

.servicecenter_container .factory_tour_schedule .sub_txt_wrap h2 {
    color: #fff;
    padding-bottom: 15px;
}

.servicecenter_container .factory_tour_schedule .sub_txt_wrap p {
    font-size: 15px;
    padding-bottom: 16px;
}

.servicecenter_container .factory_tour_schedule .sub_txt_wrap .btn_schedule {
    display: block;
    width: 58.8%;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #999;
    background: #fff;
}

/* 로그인페이지 */
.login_container {
    padding: 0 20px;
}

.login_container .text_wrap .sub_tit {
    padding-bottom: 9px;
}

#container.login_container .text_wrap .sub_txt {
    padding-bottom: 27px;
    margin-bottom: 0;
}

.login_container form .top_login {
    width: 100%;
    border: 1px solid #ccc;
    line-height: 35px;
    margin-bottom: 10px;
    background: #fff;
    padding-left: 10px;
}

.login_container form input[type="password"] {
    margin-bottom: 12px;
}

/* 아이디 저장 */
.login_container form .id_save {
    text-align: left;
}

.login_container form .id_save label {
    font-size: 13px;
    color: #999;
    cursor: pointer;
}


.login_container form .id_save label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/login/login_default.png) 50% 50% no-repeat;
    background-size: cover;
    vertical-align: -4px;
    margin-right: 5px;
}

.login_container form .id_save.on label:before {
    background-image: url(../images/login/login_checked.png);
}


.login_container form .btn_login {
    margin: 27px 0 13px;
    display: block;
    width: 100%;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background: #9B9B9B;
    pointer-events: none;
}

.login_container form .btn_login.on {
    background: #e6001e;
    pointer-events: auto;
}

.login_container form .reg_list {
    padding-bottom: 17px;
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
}

.login_container form .reg_list li {
    display: inline-block;
    margin-right: 9px;
}

.login_container form .reg_list li:after {
    content: '';
    display: inline-block;
    height: 9px;
    width: 1px;
    background: #9e9e9e;
    margin-left: 9px;
}

.login_container form .reg_list li:last-child:after {
    display: none;
}

.login_container .sns_login {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 57px;
}

.login_container .sns_login h3 {
    font-size: 20px;
    font-weight: 500;
    color: #999;
    padding-bottom: 15px;
}

.login_container .sns_login .sns_list li {
    display: inline-block;
    margin: 0 16px;
}

.login_container .sns_login .sns_list li:first-child {
    margin-left: 0;
}
.login_container .sns_login .sns_list li:last-child {
    margin-right: 0;
}
.login_container .sns_login .sns_list li a {
    display: block;
}

.login_container .sns_login .sns_list li a:before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background: url(../images/login/sns_login_icon.png) 50% 50% no-repeat;
    background-size: cover;
    background-position-x: 0;
    margin-bottom: 12px;
}

.login_container .sns_login .sns_list li:nth-child(2) a:before {
    background-position-x: -110px;
}

.login_container .sns_login .sns_list li:nth-child(3) a:before {
    background-position-x: -220px;
}

/* 공장견학 */
.sub_container.factory_trip_container .sub_visual {
    background-image: url(../images/factory_trip/main_visual.jpg);
}

.factory_trip_container .factory_info .factory_info_list {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.factory_trip_container .factory_info .factory_info_list li {
    width: 100%;
    padding: 10px 0 10px 60px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    position: relative;
}

.factory_trip_container .factory_info .factory_info_list li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -15px;
    background: url(../images/factory_trip/factory_info.png) 50% 50% no-repeat;
    background-size: auto 32px;
    background-position: 0 0;
    width: 32px;
    height: 32px;
}

.factory_trip_container .factory_info .factory_info_list li:nth-child(2):before {
    background-position-x: -47px;
}

.factory_trip_container .factory_info .factory_info_list li:nth-child(3):before {
    background-position-x: -94px;
}

.factory_trip_container .factory_info .factory_info_list li:nth-child(4):before {
    background-position-x: -141px;
}

.factory_trip_container .factory_info .factory_info_list li:nth-child(5):before {
    background-position-x: -188px;
}

.factory_trip_container .factory_info .factory_info_list li:nth-child(6):before {
    background-position-x: -234px;
}

.factory_trip_container .factory_info .factory_info_list li .txt_wrap {
   padding: 5px 0;
}

.factory_trip_container .factory_info .factory_info_list li .list_tit {
    font-size: 16px;
    font-weight: 500;
    color: #a0c735;
    padding-bottom: 8px;
}
.factory_trip_container .factory_info .factory_info_list li .list_txt {
    display: inline-block;
    font-size: 14px;
    color: #999;
}

.factory_trip_container .factory_info .factory_info_list li .factory_time {
    color: #999;
}

.factory_trip_container .factory_info .factory_info_list li .factory_time .time {
    display: inline-block;
    vertical-align: top;
}

.factory_trip_container .factory_info .factory_info_list li .factory_time span {
    display: block;
    width: 181px;
    font-size: 14px;
}

.factory_trip_container .factory_info .factory_info_list li .factory_time span .time {
    margin-left: 10px;
}

/* 견학 시 유의사항 */
.factory_trip_container .factory_info .factory_caution {
    padding: 20px 20px 30px;
    overflow: hidden;
}


.factory_trip_container .factory_info .factory_caution .txt_wrap h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
}

.factory_trip_container .factory_info .factory_caution .txt_wrap p {
    color: #767676;
    text-align: left;
    font-size: 13px;
}

.factory_trip_container .factory_info .factory_caution .img_wrap {
    width: 100%;
    padding: 30px 0 40px;
}

.factory_trip_container .factory_info .factory_caution .img_wrap img {
    width: 100%;
}

/* 공장지도 */
.factory_trip_container .map_wrap {
    background: #f2f2f2;
    padding: 30px 0 40px;
}

.factory_trip_container .map_wrap select {
    display: block;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 35px;
    padding-left: 15px;
    color: #999;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #fff url(../images/selcet_down.png) 95% 50% no-repeat;
    background-size: auto 6px;
    margin-bottom: 20px;

}

.factory_trip_container .map_wrap .all_map {
    width: 100%;
    padding: 250px 0;
    position: relative;
    z-index: 100;
}

.factory_trip_container .map_wrap .all_map:not(#map) {
    display: none;
}

.factory_trip_container .map_wrap .all_map .info_window {
    width: 41%;
    padding: 30px 10px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 200;
}

.factory_trip_container .map_wrap .all_map .info_window h3 {
    font-size: 20px;
    color: #000;
}

.factory_trip_container .map_wrap .all_map .info_window p {
    font-size: 13px;
    color: #000;
    margin-bottom: 5px;
}

.factory_trip_container .map_wrap .all_map .info_window p strong {
    font-weight: 500;
    margin-right: 5px;
}

/* 공장견학 // 자주묻는 질문  */
.factory_trip_container .factory_faq {
    background: #fff;
    padding: 30px 20px 40px;
}

.factory_trip_container .factory_faq .factory_faq_list>li>a {
    display: block;
    line-height: 50px;
    padding-right: 40px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.factory_trip_container .factory_faq .factory_faq_list>li>a:after{
    content: '';
    position: absolute;
    top: 50%;
    margin-left: -4px;
    right: 0;
    width: 9px;
    height: 9px;
    background: url(../images/factory_trip/btn_faq_detail.png) 50% 50% no-repeat;
    background-size: cover;
    transform: rotate(90deg);
}

.factory_trip_container .factory_faq .factory_faq_list>li.on>a:after {
    transform: rotate(270deg);
}

.factory_trip_container .factory_faq .factory_faq_list>li .factory_answer {
    padding: 5px 0 5px;
    font-size: 12px;
    color: #999;
    display: none;
}

.factory_trip_container .factory_faq .factory_faq_list>li.on .factory_answer {
    border-bottom: 1px solid #ddd;
}




.factory_trip_container .factory_faq .factory_faq_list>li .factory_answer h4 {
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}
/* 공장 견학 신청 영역 */
.factory_date_wrap {
    background-image: url(../images/factory_trip/factory_tour_app1.jpg);
    background-position-x: 70%;
}
