@charset "UTF-8";
/* @font-face {
    font-family: 'sw';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Subway-Footlong.eot);
    src: url(../font/Subway-Footlong.eot?#iefix) format('embedded-opentype'),
         url(../font/Subway-Footlong.woff) format('woff'),
         url(../font/Subway-Footlong.ttf) format('truetype');
} */

/* font-face사용법
1. 서체명을 굵기별로 다르게 지정하는 방법
2. 서체명은 동일하게 하고 굵기를 다르게 지정하는 방법(일반적인 방식)
normal 400, mediun 500, bold 700, extra_bold 800 */

/* 모든요소 box-sizing: border-box; 적용 */
/* *, :before, :after { box-sizing: border-box; } */

/* 내용없어도 세로 스크롤바 나오게 */
html {overflow-y: scroll;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor:pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul,li {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
/* a태그컬러는 디자인시안상에 가장 많은 컬러로 변경해야함 */
a {text-decoration: none; color: #666;}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-tab-highlight-color: rgba(0,0,0,0.1);
    /* ios 에서 폼요소에 선이 있을경우 그림자생성 방지 */
    -webkit-appearance: none;
    appearance: none;
}
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
*/
/* 벤더프리픽스(제조사접두어) 를 이용하여 적용해야 하는 브라우저별 특수 속성에 사용
 -webkit- : 크롬, 사파리
 -moz- : 파이어폭스
 -ms- : 익스플로러
 -o- : 오페라 (모바일만 사용중, pc망함) */
body {line-height: 1.5; -webkit-text-size-adjust:none}





/* ***************공통스타일*************** */

/* 폼요소는 폰트가 브라우저마다 지정되어있으므로 따로선언 */
body,input,button,select,textarea,table {
    font-family: 'Noto Sans KR','맑은 고딕','malgun gothic','돋움','dotum',sans-serif;
    font-size: 18px;
    color: #000;
    letter-spacing: -0.025em;
}

/* 스킵네비게이션 */
#skipNavi {position: relative;}
#skipNavi a { position: absolute; top: -9999px; left: 0; line-height: 40px; background: #ddd; text-align: center; width: 100%; font-size: 14px; }
#skipNavi a:hover, 
#skipNavi a:active, 
#skipNavi a:focus { top: 0; }

/* 글자선택시 배경색, 글자색 변경 */
/* ::-moz-selection{ background-color: #ef151e; color: #ffffff;}
::selection{ background-color: #ef151e; color: #ffffff;} */

/* legend,caption,메뉴제목,섹션제목 블라인드 */
/* legend(폼 제목), caption(표 제목)을 시각적으로 보이지 않게 처리 */
legend,caption,.blind, input[type="checkbox"], input[type="radio"], input[type="file"] {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* overlow:hidden 으로 float해제 못할경우 사용 */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* 폰트컬러 공통 */
/* .orange {color: #eb6242 !important;} */

/* 버튼스타일 공통 */
button {
    outline: none;
}

.btn_point {
    display: inline-block;
    line-height: 50px;
    background: #009223;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    margin: 0 4px;
}
.btn_point:after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left: 5px;
}

.btn_red {
    background: #e41937;
    border: none;
    color: #fff;
    box-sizing: border-box;
}
.btn_white {
    border: 2px solid #e41937;
    color: #e41937;
    box-sizing: border-box;
    background: #fff;
}
.btn_brown {
    background: #635a5b;
    width: 100px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    border: none;
    /* margin-left: 10px; */
}


/* 폼요소 공통 */
/* placehold 컬러 */
/* 앞에 태그 제거시 input,textarea 동시적용 */
input::-webkit-input-placeholder {color:#bbb;}
input:-moz-placeholder {color:#bbb;}
input::-moz-placeholder {color:#bbb; opacity:1;}
/* 익스는 우선순위를 높여야 색이 나옴 */
input:-ms-input-placeholder {color:#bbb !important;}

textarea::-webkit-input-placeholder {color:#bbb;}
textarea:-moz-placeholder {color:#bbb;}
textarea::-moz-placeholder {color:#bbb; opacity:1;}
textarea:-ms-input-placeholder {color:#bbb;}

/* ie10, ie11 input x버튼 가리기 */
input[type="text"]::-ms-clear {
    display: none;
}
/* ie10, ie11 password 눈버튼 가리기 */
input[type="password"]::-ms-reveal {
    display: none;
}

/* 제목스타일 공통 */


/* input 스타일 공통 */
/* 인접형제선택자로 checkbox다음에 오는label선택 */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #999;
}
input[type="checkbox"] + label em {  color: #009223; }
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    background: #f8f8f8;
    box-sizing: border-box;
}
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 20px;
    background: url(../images/main_sprite.png) no-repeat -346px -153px;
    /* transition: all 0.2s; */
}
input[type="checkbox"]:checked + label:after {
    width: 20px;
}

/* input text 공통 */
input,select,textarea { outline: none; }
input[type='text'] {
    height: 40px;
    background: #f8f8f8;
    width: 250px;
    border: 1px solid #635a5b;
    padding: 0 15px;
    /* color: #292929; */
    box-sizing: border-box;
    font-size: 16px;
}

input.input_small {
    width: 200px;
}

/* select 공통 */
.select_wrap {
    /* 테이블 안에서 좌우는 inline-block */
    display: inline-block;
    width: 250px;
    border: 1px solid #635a5b;
    box-sizing: border-box;
    position: relative;
}

.select_wrap select {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 15px;
    color: #635a5b;
    font-size: 14px;
    background: #f8f8f8;
    cursor: pointer;;
}

.select_wrap:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 7px;
    height: 6px;
    margin-top: -3px;
    background: url(../images/sub_inquiry_select_arr.png) no-repeat;
    pointer-events: none;
}

/* 익스 화살표제거 */
select::-ms-expand {
    display: none;
}

/* textarea 공통 */
textarea {
    background: #f8f8f8;
    border: 1px solid #635a5b;
    width: 100%;
    padding: 15px;
    color: #000;
    font-size: 14px;
    box-sizing: border-box;
}

/* input file 공통 */
.file_wrap + .file_wrap {margin-top: 20px;}

.file_wrap input[type="text"] {
    display: inline-block;
}
.file_wrap .btn_file {display: inline-block;}

/* .file_wrap label {
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 41px;
    cursor: pointer;
    color: #009223;
    line-height: 41px;
    text-align: center;
    font-weight: 500;
    background: #fff;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 2px;
    margin-top: -8px;
    background: #ddd;
} */


/* 테이블 공통 */
.table_wrap {
    border-top: 1px solid #000;
}
/* 표 안의 데이터가 길 경우 칸이 자동으로 늘어나지 못하게함 */
.table_wrap table { table-layout: fixed; }
.table_wrap table th { font-weight: 500; color: #635a5b; padding-left: 30px;}
/* .table_wrap table .th01,.th03 { width: 10%;} */
/* .table_wrap table .th03 { width: 10%;} */
.table_wrap table th,
.table_wrap table td {
    border-bottom: 1px solid #e4e4e4;
    font-size: 16px;
    padding: 18px 0 18px 30px;
    text-align: left;
}
.table_wrap table tbody td { color: #555; padding: 11px 80px 11px 0;}
.table_wrap table tr:last-child th,
.table_wrap table tr:last-child td { border-bottom: 1px solid #000;}


/* 게시판 테이블 공통 */
.tbl_wrap {border-top: 2px solid #635a5b;}
.tbl_wrap table {table-layout: fixed;}
.tbl_wrap table thead th {border-bottom: 1px solid #635a5b;}
.tbl_wrap table thead th,
.tbl_wrap table tr td {
    text-align: center;
    color: #555;
    height: 64px;
    font-size: 16px;
}

.tbl_wrap table tr td {
    border-bottom: 1px solid #e4e4e4;
}
.tbl_wrap table tr td:nth-child(2) {
    text-align: left;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tbl_wrap table tr td:nth-child(2) a {
    display: block;
    line-height: 64px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* padding: 11px 20px; */
}
.tbl_wrap table tr:last-child td {
    border-bottom: 1px solid #635a5b;
}
/* 게시판 pagination 공통 */
.icon { position: relative; }
.icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background: url(../images/sub_notice_first.png) no-repeat ;
}

.tbl_wrap .pagination_wrap {
    text-align: center;
    padding-top: 50px;
}
.tbl_wrap .pagination_wrap .pagination {
    display: inline-block;
    /* 인라인블럭 하단에 간격생길경우 사용 */
    vertical-align: top;
}
.tbl_wrap .pagination .btn_page {
    float: left;
    font-size: 16px;
    color: #777;
    line-height: 20px;
    height: 20px;
}
.tbl_wrap .pagination .btn_page {
    margin: 0 5px;
}
.tbl_wrap .pagination .first,
.tbl_wrap .pagination .prev,
.tbl_wrap .pagination .next,
.tbl_wrap .pagination .last {
    width: 20px;
    text-indent: -9999px;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #635a5b;
    box-sizing: border-box;
}
.tbl_wrap .pagination .prev.icon:after {
    background-image: url(../images/sub_notice_prev.png);
}
.tbl_wrap .pagination .next.icon:after {
    background-image: url(../images/sub_notice_next.png);
}
.tbl_wrap .pagination .last.icon:after {
    background-image: url(../images/sub_notice_last.png);
}
.tbl_wrap .pagination .btn_page.prev {margin-right: 24px;}
.tbl_wrap .pagination .btn_page.next {margin-left: 24px;}

.tbl_wrap .pagination .num {
    width: 20px;
    box-sizing: border-box;
    font-weight: 500;
}
.tbl_wrap .pagination .num.on {
    color: #e41937;
}

/* 파일 다운로드 공통 */
.btn_down {
    display: inline-block;
    text-indent: -9999px;
    padding: 7px 3px;
    position: relative;
}
.btn_down:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    display: none;
}
.btn_down:hover:before { display: block; }
.btn_down:hover:after { transform: translateY(-1px); }
.btn_down:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/sprite_pc_new.png) no-repeat;
}
/* 파일 다운로드 아이콘 sprite */
.btn_down.pdf:after { background-position: -125px 0 }
.btn_down.mp4:after{background-position: 0 0;}
.btn_down.excel:after{background-position: -100px 0;}
.btn_down.word:after{background-position: -75px 0;}
.btn_down.ppt:after{background-position: -50px 0;}
.btn_down.txt:after{background-position: -26px 0;}


.easeOutExpo {
	-webkit-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; /* easeOutExpo */
}

/* top 버튼 */
.btn_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    display: none;
}

.btn_top a {
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 45px;
    background: #e41937;
    text-indent: -9999px;
    position: relative;
}
.btn_top a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 45px;
    margin: -23px 0 0 -30px;
    background: url(../images/ico_top.png) no-repeat 50% 50%;
}


/* body { height: 4000px; } */

#wrap { min-width: 1340px;}




/* *************** header *************** */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background: #fff; */
    z-index: 999;
    overflow: hidden;
    height: 80px;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.95);
    /* 마우스엔터 높이 */
    /* height: 337px; */
}
#header.on { height: 337px; border-bottom: 1px solid #e5e6e7;}
#header:after {
    content: '';
    position: absolute;
    top: 79px;
    left: 0;
    right: 0;
    height: 1px;
    background: #e5e6e7;
}
/* 헤더 배경색 */
#header .header_back { background: #fff; }

#header .inner_header { width: 1180px; margin: 0 auto; }

/* 로고 */
#header .logo { float: left; margin-top: 14px; }

/* ***** gnb ***** */
#header .gnb { float: left; margin-left: 107px; position: relative;}

#header .gnb .underbar {
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 0;
    height: 2px;
    background: #e41937;
    z-index: 9;
    transition: all 0.2s;
    opacity: 0;
}

/* depth1 */
#header .gnb .depth1>li {
    float: left;
    width:81px;
    text-align: center;
    padding: 0 35px;
    position: relative;
    z-index: 100;
}

#header .gnb .depth1>li>a {
    display: block;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    line-height: 80px;
}
#header .gnb .depth1>li:hover>a { color: #e41937; }

/* depth2 */
#header .gnb .depth1 .depth2 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 257px;
    padding: 24px 0;
    box-sizing: border-box;
    z-index: 99;
    text-align: center;
    opacity: 0;
    transition: all 0.3s
}
#header.on .gnb .depth1 .depth2 { opacity: 1; }

#header .gnb .depth1 .depth2>li>a {
    font-size: 16px;
    color: #000;
    line-height: 35px;
}
#header .gnb .depth1 .depth2>li:hover>a { color: #e41937; }
/* ***** /gnb ***** */

/* ***** util ***** */
#header .inner_header .util { float: right; margin-top: 26px; }

#header .inner_header .util li {
    float: left;
    padding: 0 10px;
    position: relative;
}
#header .inner_header .util li + li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 1px;
    height: 13px;
    background: #6d6d6d;
}

#header .inner_header .util li a { font-size: 14px; color: #6d6d6d; }
/* ***** /util ***** */

/* *************** /header *************** */





/* *************** 메인페이지 *************** */
/* *************** container *************** */
#container { padding: 80px 0; }

/* 섹션제목 공통 */
#container .main_tit {
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

/* ***** main_slider ***** */
#container .main_slider_wrap .main_slider { height: 500px; }

#container .main_slider .swiper-wrapper .swiper-slide {
    overflow: hidden;
}

#container .main_slider .swiper-wrapper a {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

#container .main_slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    margin: 0 10px;
}
#container .main_slider .swiper-pagination-bullet-active {
    background: #e41937;
}
/* ***** /main_slider ***** */

/* ***** main_menu ***** */
#container .main_menu {
    width: 1180px;
    margin: 0 auto;
    padding: 85px 0 80px;
    position: relative;
}

/* 탭 */
#container .main_menu .tab_menu {
    position: absolute;
    top: 115px;
    right: 0;
}
#container .main_menu .tab_menu li { float: left; padding: 0 10px; position: relative;}
#container .main_menu .tab_menu li:last-child { padding-right: 0;}
#container .main_menu .tab_menu li + li:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 1px;
    height: 16px;
    background: #2e2e2e;
}
#container .main_menu .tab_menu li a { color: #2e2e2e;}
#container .main_menu .tab_menu li.active a { color: #e41937; font-weight: 700;}

/* 슬라이더 */
#container .main_menu .tab_con { margin-top: 30px; }
#container .main_menu .menu_slider_wrap { position: relative; height: 0; overflow: hidden; }
#container .main_menu .menu_slider_wrap.active { height: auto; overflow: visible;}
#container .main_menu .menu_slider_wrap .menu_slider { position: static; }

/* 메뉴 이미지 & 텍스트 */
#container .main_menu .menu_slider .swiper-slide .img_wrap { width: 380px; height: 380px; }
#container .main_menu .menu_slider .swiper-slide .img_wrap img {
    width: 380px;
    height: 380px;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
}
#container .main_menu .menu_slider .swiper-slide .txt_wrap { padding: 15px 20px 0; }
#container .main_menu .menu_slider .swiper-slide .txt_wrap h3 {
    font-size: 22px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#container .main_menu .menu_slider .swiper-slide .txt_wrap p {
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 20px;
    height: 48px;
}
#container .main_menu .menu_slider .swiper-slide .txt_wrap .price { font-size: 22px; color:#4f4f4f; letter-spacing: 0;;}

/* 좌우 화살표 */
#container .main_menu .menu_slider .btn_arrow {
    width: 19px;
    height: 30px;
    pointer-events: all;
    cursor:pointer;
    opacity: 1;
    background: url(../images/main_sprite.png) no-repeat -214px -135px;
    /* left: -100px; */
    top: 200px;
    left: -80px;
}
#container .main_menu .menu_slider .swiper-button-next {
    background: url(../images/main_sprite.png) no-repeat -243px -135px;
    left: auto;
    right: -80px;
}
/* ***** /main_menu ***** */

/* ***** main_service ***** */
#container .main_service {  position: relative; background: #ededed; z-index: 0; overflow: hidden;}
#container .main_service:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
}
#container .main_service:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 345px;
    height: 165px;
    margin-left: 350px;
    background: url(../images/main_order_back.png) no-repeat 0 0;
    z-index: -1;
}

#container .main_service .service_inner { width: 1180px; height: 240px; margin: 0 auto;}
#container .main_service .service_inner li { overflow: hidden; }
#container .main_service .service_inner h3 {
    float: left;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    line-height: 120px;
}
#container .main_service .service_inner .form_box {
    float: right;
    height: 120px;
    margin-right: 190px;
}
#container .main_service .service_inner .form_box label {
    font-size: 23px;
    color: #000;
    line-height: 120px;
    vertical-align: middle;
}
#container .main_service .service_inner .form_box .btn_service {
    font-size: 25px;
    margin: 0 0 0 -5px;
    width: 200px;
    height: 49px;
    vertical-align: middle;
}

/* 메인서비스 온라인주문 select */
#container .main_service .service_inner .form_box .select_box {
    display: inline-block;
    width: 400px;
    border: 2px solid #e41937;
    background: #fff;
    position: relative;
    vertical-align: middle;
    margin-left: 18px;
    z-index: 0;
}
#container .main_service .service_inner .form_box .select_box:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 15px;
    width: 16px;
    height: 10px;
    background: url(../images/main_sprite.png) no-repeat -272px -153px;
    z-index: -1;
}
#container .main_service .service_inner .form_box select {
    width: 100%;
    height: 45px;
    font-size: 18px;
    color: #828282;
    padding-left: 15px;
    cursor: pointer;
    border: none;
    background: none;
}

/* 메인서비스 매장찾기 input */
#container .main_service .service_inner .form_box input {
    width: 404px;
    height: 49px;
    border: 2px solid #979797;
    box-sizing: border-box;
    margin: 0 0 0 18px;
    font-size: 18px;
    background: #fff;
}
/* input 매장찾기 버튼 */
#container .main_service .service_inner .form_box .btn_search {
    background: #979797;  
}
/* ***** /main_service ***** */

/* ***** main_brand_int ***** */
#container .main_brand_int {
    padding-top: 80px;
}

#container .main_brand_int .int_wrap {
    width: 1180px;
    margin: 0 auto;
    background: #ededed;
    overflow: hidden;
}

/* 이미지 */
#container .main_brand_int img { float: left;}

/* 텍스트 */
#container .main_brand_int .txt_wrap { float: left; padding: 63px 44px 48px; }
#container .main_brand_int .txt_wrap h3 {
    font-size: 30px;
    color: #200005;
    font-weight: 500;
}
#container .main_brand_int .txt_wrap span {
    font-size: 70px;
    color: #200005;
    font-weight: 500;
    line-height: 1;
}
#container .main_brand_int .txt_wrap span em {
    color: #e41937;
}
#container .main_brand_int .txt_wrap p {
    color: #7c6467;
    padding-top: 20px;
    letter-spacing: -0.065em;
}

/* 버튼 */
#container .main_brand_int .txt_wrap .btn_wrap {
    padding-top: 35px;
}
#container .main_brand_int .txt_wrap .btn_wrap a {
    display: inline-block;
    width: 150px;
    line-height: 46px;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    text-align: center;
}
#container .main_brand_int .txt_wrap .btn_wrap .btn_left {
    border: 2px solid #e41937;
    color: #e41937;
}
#container .main_brand_int .txt_wrap .btn_wrap .btn_right {
    background: #e41937;
    color: #fff;
    line-height: 50px;
    margin-left: 20px;
}
/* ***** /main_brand_int ***** */


/* ***** main_event ***** */
#container .main_event .event_inner {
    padding-top: 80px;
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

/* 슬라이더 */
#container .main_event .event_inner .event_slider_wrap {
    margin-top: 30px;
}

#container .main_event .event_inner .event_slider_wrap .event_slider {
    position: static;
}

#container .main_event .event_slider .swiper-slide img {height: 380px;}

/* 텍스트 */
#container .main_event .event_slider .swiper-slide .txt_wrap {
    background: #f8f8f8;
    width: 380px;
    text-align: center;
    padding: 16px 20px 16px;
    box-sizing: border-box;
}
#container .main_event .event_slider .swiper-slide .txt_wrap h3 {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container .main_event .event_slider .swiper-slide .txt_wrap p {
    padding-top: 16px;
    font-size: 15px;
    color: #777777;
}

/* 페이지네이션 */
#container .main_event .event_slider .swiper-pagination {
    top: 110px;
    left: auto;
    right: 0;
    text-align: right;
    height: 30px;
}
#container .main_event .event_slider .swiper-pagination span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    opacity: 1;
    background: #cbcbcb;
}
#container .main_event .event_slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #e41937;
}
/* ***** /main_event ***** */


/* ***** main_quick_menu ***** */
#container .main_quick_menu { padding-top: 80px;}

#container .main_quick_menu .quick_menu_inner {
    width: 1170px;
    margin: 0 auto;
    border: 1px solid r;
    text-align: center;
}

#container .main_quick_menu .quick_menu {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#container .main_quick_menu .quick_menu li {
    float: left;
    padding: 0 60px;
}

#container .main_quick_menu .quick_menu li>a {
    display: block;
    overflow: hidden;
}

#container .main_quick_menu .quick_menu li a .img_wrap {
    width: 86px;
    height: 85px;
    background: url(../images/main_sprite.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
}
#container .main_quick_menu .quick_menu li:nth-child(2) a .img_wrap { background-position: -96px 0; }
#container .main_quick_menu .quick_menu li:nth-child(3) a .img_wrap { background-position: -192px 0; }
#container .main_quick_menu .quick_menu li:nth-child(4) a .img_wrap { background-position: -286px 0; }

#container .main_quick_menu .quick_menu li a .txt_wrap {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
}

#container .main_quick_menu .quick_menu li a .txt_wrap h4 {
    font-size: 18px;
    font-weight: 500;
    color: #292929;
}

#container .main_quick_menu .quick_menu li a .txt_wrap p {
    font-size: 13px;
    color: #939393;
}

/* ***** /main_quick_menu ***** */
/* *************** /container *************** */





/* *************** footer *************** */
#footer {padding-bottom: 40px;}

/* ***** top ***** */
#footer .top_footer {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

#footer .top_footer_inner {
    width: 1180px;
    margin: 0 auto;
}

/* 텍스트 */
#footer .top_footer_inner .txt_wrap { float: left; }
#footer .top_footer_inner .txt_wrap a {
    display: block;
    font-size: 16px;
    color: #4e4e4e;
    padding: 0 10px;
    line-height: 50px;
    float: left;
    position: relative;
}
#footer .top_footer_inner .txt_wrap a:first-child {padding-left: 0;}
#footer .top_footer_inner .txt_wrap a + a:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 0px;
    width: 1px;
    height: 14px;
    background: #4e4e4e;
}

/* 패밀리사이트 */
#footer .top_footer_inner .btn_wrap {
    position: relative;
    float: right;
    height: 50px;
}
#footer .top_footer_inner .btn_wrap .btn_family {
    float: right;
    width: 200px;
    height: 40px;
    border: 1px solid #979797;
    background: #fff;
    box-sizing: border-box;
    font-size: 16px;
    color: #4e4e4e;
    text-align: left;
    padding-left: 20px;
    margin-top: 5px;
    /* background: #fff; */
    position: relative;
}
#footer .top_footer_inner .btn_wrap .btn_family:after {
    content: '';
    position: absolute;
    top: 17px;
    right: 20px;
    width: 10px;
    height: 8px;
    background: url(../images/main_sprite.png) no-repeat;
    background-position: -272px -135px;
}
/* 패밀리사이트 화살표 여닫기 */
#footer .top_footer_inner .btn_wrap .btn_family.on:after { background-position: -292px -135px; }
#footer .top_footer_inner .btn_wrap .family_wrap {
    position: absolute;
    bottom: 44px;
    right: 0;
    width: 200px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #979797;
    box-sizing: border-box;
    display: none;
}
#footer .top_footer_inner .btn_wrap .family_wrap li {
    font-size: 16px;
    color: #4e4e4e;
    padding: 5px 0;
}
#footer .top_footer_inner .btn_wrap .family_wrap li a {
    display: block;
    width: 100%;
    padding: 0 20px;
}
#footer .top_footer_inner .btn_wrap .family_wrap li:hover {
    background: #e41937;
    box-sizing: border-box;
}
#footer .top_footer_inner .btn_wrap .family_wrap li:hover a {
    color: #fff;
}

/* ***** bottom ***** */
#footer .bottom_footer {
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;
}
/* txt */
#footer .bottom_footer .txt_wrap { float: left; }
#footer .bottom_footer .txt_wrap h4 {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding-top: 25px;
    /* line-height: 65px; */
}
#footer .bottom_footer .txt_wrap p {
    font-size: 14px;
    color: #4e4e4e;
    letter-spacing: 0em;
    padding-top: 20px;
    /* height: 50px; */
}
/* img */
#footer .bottom_footer .img_wrap { float: right; padding-top: 30px; position: relative; width: 204px;}
#footer .bottom_footer .img_wrap span {
    display: block;
    margin-right: 10px;
    width: 83px;
    height: 81px;
    background: url(../images/main_sprite.png) no-repeat 0 -88px;
    text-indent: -9999px;
}
#footer .bottom_footer .img_wrap .store {
    position: absolute;
    top: 30px;
    right: 0;
    width: 111px;
    height: 36px;
    text-indent: -9999px;
}
#footer .bottom_footer .img_wrap .google {
    background: url(../images/main_sprite.png) no-repeat -93px -88px;
}
#footer .bottom_footer .img_wrap .apple {
    top: 75px;
    background: url(../images/main_sprite.png) no-repeat -93px -134px;
}
#footer .bottom_footer .img_wrap .sns_wrap {margin-top: 15px;}
#footer .bottom_footer .img_wrap .sns_wrap li {
    float: left;
    width: 25%;
    text-align: center;
}
#footer .bottom_footer .img_wrap .sns_wrap li a {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: url(../images/main_sprite.png) no-repeat -216px -88px;
    text-indent: -9999px;
}
#footer .bottom_footer .img_wrap .sns_wrap li:nth-child(2) a { background-position-x: -256px; }
#footer .bottom_footer .img_wrap .sns_wrap li:nth-child(3) a { background-position-x: -298px; }
#footer .bottom_footer .img_wrap .sns_wrap li:nth-child(4) a { background-position-x: -340px; }
/* *************** /footer *************** */



/* *************** /메인페이지 *************** */




/* *************** 서브페이지 공통 *************** */
/* sub_visual */
.sub_container .sub_visual {
    width: 100%;
    height: 350px;
    background: url(../images/sub_menu_visual.png) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    position: relative;
}
.sub_container .sub_visual h2 {
    padding-top: 90px;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
}
.sub_container .sub_visual p {
    font-size: 20px;
    color: #fff;
}

/* location */
.sub_container .sub_visual .location_wrap {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 1180px;
    margin-left: -590px;
}
.sub_container .sub_visual .location_wrap .location {
    float: right;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.sub_container .sub_visual .location_wrap .location a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.sub_container .sub_visual .location_wrap .location span {
    display: inline-block;
    font-family: '돋움';
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    line-height: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin: 0 7px;
}

/* lnb */
.sub_container .lnb {
    margin: -30px auto 0;
    width: 1180px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    position: relative;
}

.sub_container .lnb li {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}
.sub_container .lnb li + li:before {
    content: '';
    position: absolute;
    top: 23px;
    left: 0;
    width: 1px;
    height: 16px;
    background: #ddd;
}
.sub_container .lnb li a {
    display: block;
    line-height: 60px;
    color: #000;
}
.sub_container .lnb li.active a{
    color: #e41937;
}

.sub_container .sub_contents .contents_inner {width: 1180px; margin: 0 auto;}
/* *************** /서브페이지 공통 *************** */





/* *************** 서브페이지 - 메뉴소개 *************** */
/* 로케이션 위치조정 */
.menu_wrap .sub_visual .location_wrap {
    bottom: 70px;
}
/* 메뉴소개 탭 */
.menu_wrap .lnb {margin-top: -60px; position: relative;}
.menu_wrap .lnb:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}
/* lnb 갯수맞춰 가로길이 */
.menu_wrap .lnb li {width: 25%;}
.menu_wrap li:nth-child(5):before {
    display: none;
}

/* 메뉴소개 전체메뉴 */
.menu_wrap .sub_contents {
    padding-top: 60px;
}
.menu_wrap .contents_inner .contents {
    width: 100%;
    overflow: hidden;
}
.menu_wrap .contents_inner .contents li {
    float: left;
    width: 380px;
    margin-right: 20px;
    padding-bottom: 30px;
}
.menu_wrap .contents_inner .contents li:nth-child(3n) {
    margin-right: 0;
}

.menu_wrap .contents_inner .contents li a {
    display: block;
    width: 380px;
}

.menu_wrap .contents .img_wrap { width: 380px; height: 380px; position: relative;}

.menu_wrap .contents .img_wrap img {
    width: 380px;
    height: 380px;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
}
.menu_wrap .contents li .img_wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.2s;
}
.menu_wrap .contents li.on .img_wrap:before {
    opacity: 1;
}
.menu_wrap .contents li .img_wrap:after {
    content: '';
    position: absolute;
    top: 65%;
    left: 50%;
    width: 71px;
    height: 71px;
    margin: -35px 0 0 -35px;
    background:  url(../images/sub_menu_detail_ico.png) no-repeat;
    /* transform: translateY(15px); */
    transform: scale(0);
    opacity: 0;
    transition: all 0.2s;
}
.menu_wrap .contents li.on .img_wrap:after {
    /* transform: translateY(0); */
    top: 50%;
    transform: scale(1);
    opacity: 1;
}

.menu_wrap .contents .txt_wrap { padding: 15px 20px 0; }
.menu_wrap .contents .txt_wrap h3 {
    font-size: 22px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu_wrap .contents .txt_wrap p {
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 20px;
    height: 48px;
}
.menu_wrap .contents .txt_wrap .price { font-size: 22px; color:#4f4f4f; letter-spacing: 0;;}

/* 메뉴소개 더보기 */
.menu_wrap .sub_contents .btn_wrap {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.menu_wrap .sub_contents .btn_wrap .btn_more {
    width: 45px;
    height: 45px;
    background: #e41937;
    border: none;
    border-radius: 45px;
    text-align: left;
    position: relative;
    transition: all 0.5s;
}
.menu_wrap .sub_contents .btn_wrap .btn_more:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #e41937 url(../images/sub_menu_more.png) no-repeat 50% 50%;
    transition: all 0.5s;
}
.menu_wrap .sub_contents .btn_wrap .btn_more:hover {
    width: 135px;
}
.menu_wrap .sub_contents .btn_wrap .btn_more:hover:before {
    transform: rotate(-360deg);
}
.menu_wrap .sub_contents .btn_wrap .btn_more span{
    display: block;
    line-height: 45px;
    /* overflow: hidden; */
    white-space: nowrap;
    color: #fff;
    transition: all 0.5s;
    padding-left: 30px;
    pointer-events: none;
}
/* .menu_wrap .sub_contents .btn_wrap .btn_more.on span {
} */
/* *************** /서브페이지 - 메뉴소개 *************** */




/* *************** 서브페이지 - 1:1 문의하기 *************** */
/* 서브 비주얼 */
.inquiry_wrap .sub_visual {
    background: url(../images/sub_inquiry_visual.png) no-repeat 50% 50%;
    background-size: cover;
}
.inquiry_wrap .sub_visual h2 { padding-top: 110px; font-size: 50px; }

/* 주의사항 텍스트 */
.inquiry_wrap .sub_contents .txt_wrap { text-align: center; padding: 60px 0; }
.inquiry_wrap .sub_contents .txt_wrap p { font-size: 16px; }

/* 문의테이블 */
.inquiry_wrap .sub_contents .table_wrap table tbody td input[type="text"]::placeholder {
    font-size: 14px;
    color: #635a5b;
}
.inquiry_wrap .sub_contents .table_wrap table tbody td input[type="text"].tit {
    width: 100%;
}
.inquiry_wrap .sub_contents .table_wrap table tbody td .btn_brown {margin-left: 10px;}

/* 문의 등록, 취소 버튼 */
.inquiry_wrap .sub_contents .btn_wrap {text-align: center; padding-top: 20px;}
.inquiry_wrap .sub_contents .btn_wrap .btn_inquiry {
    display: inline-block;
    width: 140px;
    line-height: 46px;
    font-size: 18px;
    box-sizing: border-box;
}
.inquiry_wrap .sub_contents .btn_wrap .btn_white {line-height: 42px; margin-left: 16px;}


/* *************** /서브페이지 - 1:1 문의하기 *************** */




/* *************** 서브페이지 - 공지사항 *************** */
.notice_wrap .sub_visual {
    background: #fff;
}
.notice_wrap .sub_visual h2 { padding-top: 110px; font-size: 50px; color: #000;}

.notice_wrap .sub_visual p { color: #000; font-weight: 500;}

.notice_wrap .sub_visual .location_wrap { bottom: 20px; }

.notice_wrap .sub_visual .location_wrap .location { color: #000; text-shadow: none; }

.notice_wrap .sub_visual .location_wrap .location a { color: #000; text-shadow: none; }

.notice_wrap .sub_visual .location_wrap .location span { color: #000; text-shadow: none; }

/* 검색창 */
.notice_wrap .search_wrap {overflow: hidden; padding: 20px 0 20px;}

.notice_wrap .search_wrap .search_inner { float: right;}

.notice_wrap .sub_contents .search_wrap .search_inner input[type='text'] { width: 388px; float: left; }

.notice_wrap .sub_contents .search_wrap .search_inner input[type='text']::placeholder { color: #635a5b; }

.notice_wrap .sub_contents .search_wrap .search_inner .btn_search { text-indent: -9999px; width: 40px; height: 40px; background: #635a5b url(../images/sub_notice_search.png) no-repeat 50% 50%; border: none; float: left; }


/* *************** /서브페이지 - 공지사항 *************** */




/* *************** /서브페이지 - 로그인 *************** */
.login_wrap .login {
    padding-top: 60px;
    width: 400px;
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align: center;
}
.login_wrap .login h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.login_wrap .login h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 580px;
    height: 1px;
    margin-left: -290px;
    background: #000;
}

/* 아이디 비번 입력창 */
.login_wrap .login .input_wrap .idpw input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid #9d9d9d;
    box-sizing: border-box;
    letter-spacing: 0em;
    
}
.login_wrap .login .input_wrap .idpw input[type="password"] {
    width: 100%;
    height: 40px;
    border: 1px solid #9d9d9d;
    background: #f8f8f8;
    padding: 0 15px;
    box-sizing: border-box;
    letter-spacing: 0em;
}
.login_wrap .login .input_wrap .login_con + .login_con { margin-top: 10px; }

/* 아이디저장 체크박스 */
.login_wrap .login .input_wrap .check_wrap {text-align: left; position: relative;}

/* 아이디찾기, 비밀번호찾기, 회원가입 */
.login_wrap .login .input_wrap .check_wrap .login_link {overflow: hidden; position: absolute; top: 6px; right: 0;}

.login_wrap .login .input_wrap .check_wrap .login_link li { float: left; position: relative; }
.login_wrap .login .input_wrap .check_wrap .login_link li + li:before { content: ''; position: absolute; top: 4px; left: 10px; width: 1px; height: 14px; background: #999; }

.login_wrap .login .input_wrap .check_wrap .login_link li a { display: block; font-size: 14px; /* line-height: 27px; */ color: #999; margin-left: 20px; /* padding: 0 20px; */ }

/* 로그인 버튼 */
.login_wrap .login .btn_wrap {padding-top: 30px;}
.login_wrap .login .btn_wrap .btn_login {
    width: 400px;
    height: 50px;
}


/* sns 로그인 */
.login_wrap .login .sns_wrap {padding: 30px 0 10px;}
.login_wrap .login .sns_wrap h3 {
    font-size: 14px;
    color: #999;
    position: relative;
}
.login_wrap .login .sns_wrap h3:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 33.33%;
    height: 1px;
    background: #999;
}
.login_wrap .login .sns_wrap h3:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 33.33%;
    height: 1px;
    background: #999;
}
.login_wrap .login .sns_wrap .btn_sns {padding-top: 20px; overflow: hidden;}
.login_wrap .login .sns_wrap .btn_sns li { float: left; width: 33.33%; }
.login_wrap .login .sns_wrap .btn_sns li a {display: block; width: 60px; margin: 0 auto;}
.login_wrap .login .sns_wrap .btn_sns li a span {display: block; font-size: 14px; color: #000; padding-top: 5px;}