@charset "UTF-8";
#main {
	padding-top: 240px;
}
#main .main_slider {
	height: 688px;
}
#main .main_slider {
}
#main .main_slider a {
	display: block;
	background: url(../images/main_visual.png) no-repeat 50% 50%;
	height: 100%;
	width: 100%;
}
#main .main_slider .button_nav {
	width: 47px;
	height: 75px;
	outline: none;
}
#main .main_slider .swiper-button-next {
	right: 80px;
	background: url(../images/mainvisual_arrow_next.png) no-repeat 50% 50%;
}
#main .main_slider .swiper-button-prev {
	left: 80px;
	background: url(../images/mainvisual_arrow_prev.png) no-repeat 50% 50%;
}

#main .main_slider .swiper-pagination-bullet {
	width: 20px;
	height: 6px;
	background: #228ac9;
	border-radius: 0;
	transition: all 0.3s;
}
#main .main_slider .swiper-pagination-bullet-active {
	background: #1083cb;
	width: 50px;
}

#main .section1 {
	max-width: 1194px;
	margin: 0 auto;
}
#main .section_tit {
	font-size: 60px;
	color: #1083cb;
	font-family: 'Binggrae',sans-serif;
	text-align: center;
    margin-top: 150px;
}
#main .section1 .section1_slider {
	border: 2px solid #e1e1e1;
	overflow: hidden;
	margin: 80px 0 110px 0;
}
#main .section1 .section1_slider li {
	position: relative;
}
#main .section1 .section1_slider li:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 250px;
	background: #e1e1e1;
}
#main .section1 .section1_slider a {
    display: block;
    padding-bottom: 149.19%;
    background: url(../images/section1_box1.png) no-repeat 50% 50%;
	background-size: cover;
}
#main .section1 .section1_slider .swiper-slide {
	border-left: 1px solid #e1e1e1;
}
#main .section1 .section1_slider .swiper-slide:nth-child(1) a:hover {
	background-image: url(../images/section1_box1_hover.png);
}
#main .section1 .section1_slider .swiper-slide:nth-child(2) a {
	background-image: url(../images/section1_box2.png);
}

#main .section1 .section1_slider .swiper-slide:nth-child(2) a:hover {
	background-image: url(../images/section1_box2_hover.png);
}

#main .section1 .section1_slider .swiper-slide:nth-child(3) a {
	background-image: url(../images/section1_box3.png)
}
#main .section1 .section1_slider .swiper-slide:nth-child(3) a:hover {
	background-image: url(../images/section1_box3_hover.png);
}

#main .section1 .section1_slider .swiper-slide:nth-child(4) a{
	background-image: url(../images/section1_box4.png)
}
#main .section1 .section1_slider .swiper-slide:nth-child(4) a:hover{
	background-image: url(../images/section1_box4_hover.png);
}

#main .section1 .section1_slider .swiper-slide:nth-child(5) a{
	background-image: url(../images/section1_box5.png)
}
#main .section1 .section1_slider .swiper-slide:nth-child(5) a:hover{
	background-image: url(../images/section1_box5_hover.png);
}

#main .section1 .section1_slider .swiper-slide:nth-child(6) a{
	background-image: url(../images/section1_box6.png)
}
#main .section1 .section1_slider .swiper-slide:nth-child(6) a:hover{
	background-image: url(../images/section1_box6_hover.png);
}

#main .section1 .section1_slider .swiper-slide:nth-child(7) a{
	background-image: url(../images/section1_box7.png)
}
#main .section1 .section1_slider .swiper-slide:nth-child(7) a:hover{
	background-image: url(../images/section1_box7_hover.png);
}

#main .section1 .section1_slider .button_arrow {display: none;}

/**************************section2****************************/

#main .section2 {
    height: 920px;
	background: url(../images/section2_bg.png) no-repeat 50% 50%;
}

#main .section2 .section2_inner {
	max-width: 1200px;
	margin: 0 auto;
    text-align: center;
}

#main .section2 .section_tit {
	margin-top: 0;
    padding-top: 150px;
    color: #fff;
}

#main .section2 .time_sec2 {
    margin-top: 80px;
    float: left;
    width: 100%;
    padding: 0 30px;
}
#main .section2 .time_sec2 li {
    float: left;
    width: 29.53%;
    border: 5px solid #fff;
    margin-left: 65px;
	text-align: center;
}

#main .section2 .time_sec2 li:first-child {
	margin-left: 0;
}
#main .section2 .time_sec2 li img {
	padding-top: 65px;
} 

#main .section2 .time_sec2 li h4 {
	font-size: 30px;
	color: #fff;
	font-family: 'Binggrae',sans-serif;
	margin-top: 40px;
	position: relative;
}
#main .section2 .time_sec2 li h4:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	width: 140px;
	height: 2px;
	background: #fff;
}

#main .section2 .time_sec2 li p {
	font-size: 30px;
	color: #fff;
	font-family: 'Binggrae',sans-serif;
	margin-top: 70px;
	padding-bottom: 50px;
}

#main .section2 .section2_inner .option_manager {
    text-align: center;
    border: 4px solid #fff;
    display: inline-block;
    padding: 10px 50px;
    margin-top: 50px;
    color: #fff;
	font-size: 15px;
	font-family: 'Binggrae',sans-serif;
	position: relative;
	text-indent: -10px;
}
#main .section2 .section2_inner .option_manager:hover {
	text-decoration: underline;
}
#main .section2 .section2_inner .option_manager:after {
    content: '';
    width: 9px;
    height: 15px;
    background: url(../images/section2_arrow.png)no-repeat 50% 50%;
    background-size: 9px;
    position: absolute;
    right: 32px;
    top: 50%;
    margin-top: -8px;
}
#main .m_section3 {
	display: none;
}
#main .section3 {
    padding-bottom: 110px;
}

#main .section3 .section_tit {
	color: #2aacdd;
}

#main .section3 .tiket_wrap {
	background: url(../images/section3_bg.png) no-repeat 50% 50%;
	height: 700px;
    margin: 0 auto;
}
#main .section3 .tiket_wrap .tiket_list {
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 170px;
}

#main .section3 .tiket_wrap .tiket_list h4 {
    font-size: 25px;
    color: #2aacdd;
    text-align: center;
    font-family: 'Binggrae',sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 130px;
    transform: translateX(-50%);
}


#main .section3 .tiket_wrap .tiket_list li {
	float: left;
	width: 33.33%;
	position: relative;
	padding: 50px 0
}
#main .section3 .tiket_wrap .tiket_list li:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 5px;
	height: 350px;
	background: url(../images/section3_after.png) no-repeat 50% 50%;
}
#main .section3 .tiket_wrap .tiket_list li:nth-child(3):after {
	display: none;
} 
#main .section3 .tiket_wrap .tiket_list li img {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
}
#main .section3 .tiket_wrap .tiket_list li:nth-child(1) img {
	margin-left: -80px;
}
#main .section3 .tiket_wrap .tiket_list li:nth-child(2) img {
    margin-left: -43px;
}
#main .section3 .tiket_wrap .tiket_list li:nth-child(3) img {
    margin-left: -27px;
}

#main .section3 .tiket_wrap .tiket_list li a {
    display: inline-block;
    text-align: center;
    padding: 8px 75px;
    color: #2aacdd;
    border: 4px solid #2aacdd;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -111px;
    margin-top: 220px;
}

#main .section3 .tiket_wrap .tiket_list li a:hover {
	background: #2aacdd;
	color: #fff;
}


















@media screen and (max-width:1237px){
	#main {padding-top: 0;}
	#main .section_tit {
		font-size: 55px;
	}
	#main .main_slider {height: auto;}
	#main .main_slider a {background-image: url(../images/mmain_visual.png); background-size: cover;}
	
	#main .main_slider .swiper-slide>a {
		background: url(../images/mmain_visual.png) no-repeat 50% 50%; 
		background-size: cover;
		height: 0;
		padding-bottom: 75%;
	}
	
	#main .section1 .section1_slider a {
	    background:#fff url(../images/section1_box1.png) no-repeat 50% 50%;
		background-size: 120px;
	}
	#main .section1 .section1_slider .section1_slider1 a {
		border-left: 1px solid #e1e1e1;
	}
	#main .section1 .section1_slider .swiper-slide:nth-child(2) a {
		background-image: url(../images/section1_box2.png);
	}

	#main .section1 .section1_slider .swiper-slide:nth-child(3) a {
		background-image: url(../images/section1_box3.png);
	}

	#main .section1 .section1_slider .swiper-slide:nth-child(4) a{
		background-image: url(../images/section1_box4.png);
	}

	#main .section1 .section1_slider .swiper-slide:nth-child(5) a{
		background-image: url(../images/section1_box5.png);
	}

	#main .section1 .section1_slider .swiper-slide:nth-child(6) a{
		background-image: url(../images/section1_box6.png);
	}

	#main .section1 .section1_slider .swiper-slide:nth-child(7) a{
		background-image: url(../images/section1_box7.png);
	}
	#main .m_section3 {display: none;}
	
	#main .section1 .section1_slider {
		margin: 80px 20px 110px 20px;
	}
	#main .section1 .section1_slider .swiper-slide:nth-child(1) {
		border-left: none;
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(1) a:hover {
		background-image: url(../images/section1_box1.png);
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(2) a:hover {
		background-image: url(../images/section1_box2.png);
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(3) a:hover {
		background-image: url(../images/section1_box3.png);
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(4) a:hover {
		background-image: url(../images/section1_box4.png);
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(5) a:hover {
		background-image: url(../images/section1_box5.png);
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(6) a:hover {
		background-image: url(../images/section1_box6.png);
	}
	#wrap #main .section1 .section1_slider .swiper-slide:nth-child(7) a:hover {
		background-image: url(../images/section1_box7.png);
	}
	
	#main .section2 .time_sec2 li {
		float: left;
		width: 31.53%;
		border: 5px solid #fff;
		margin-left: 18px;
		text-align: center;
    	padding: 0 15px;
	}
	#main .section2 .time_sec2 li h4 {
		font-size: 27px;
	}
	#main .section2 .time_sec2 li p {
		font-size: 20px;
		word-wrap:break-word;
	}
	
	#main .section3 {padding-bottom: 70px;}
	
	#main .section3 .tiket_wrap {
		background: #fff;
		height: auto;
	}
	#main .section3 .tiket_wrap .tiket_list {
		max-width: 1200px;
		margin: 0px auto;
		padding: 60px 20px;
		overflow: hidden;
	}
	#main .section3 .tiket_wrap .tiket_list li {
		border: 4px solid #2aacdd;
		border-radius: 100%;
		padding-bottom: 22%;
		overflow: hidden;
		width: calc(33.33% - 30px);
	}
	#main .section3 .tiket_wrap .tiket_list li:nth-child(2) {
		margin: 0 45px;
	}
	#main .section3 .tiket_wrap .tiket_list li:first-child {
		margin-left: 0;
	}
	#main .section3 .tiket_wrap .tiket_list li:after {
		display: none;
	}

	#main .section3 .tiket_wrap .tiket_list li img {
		top: 80px;
	}

	#main .section3 .tiket_wrap .tiket_list h4 {
		top: 25px;
		font-size: 19px;
		line-height: 1.1;
		margin-top: 170px;
	}

	#main .section3 .tiket_wrap .tiket_list li a {
		top: 0;
		border: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: block;
		left: 0px;
		background: none;
    	text-indent: -9999px;
	}
	#main .section3 .tiket_wrap .tiket_list li a:hover {
		background: none;
	}
	#main .m_section3 {
		display: none;
	}
}
@media screen and (max-width:960px) {
	#main .section3 .tiket_wrap .tiket_list li img {
		top: 50px;
	}
	#main .section3 .tiket_wrap .tiket_list h4 {
		margin-top: 120px;
	}
}
@media screen and (max-width:767px) {
	#main .main_slider .button_nav {display: none;}
	#main .section_tit {font-size:30px; margin-top: 100px;}
	
	#main .section1 .section1_slider {
		margin: 80px 20px 110px 20px;
	}
	#main .section1 .section1_slider a {
		padding-bottom: 117.19%;
	}
	#main .section1 .section1_slider .button_arrow {display: block;}
	
	#main .section1 .section1_slider .swiper-slide a {
		background-size: cover;
	}
	
	#main .main_slider .swiper-pagination-bullet {
		background: #fff;
	}
	#main .section1 .button_nav {
		top: 60px;
	}
	#main .section1 .swiper-button-prev {
		background: #888 url(../images/section1_arrow_prev.png) no-repeat 50% 50%;
		width: 21px;
		height: 50px;
		left: -1px;
		outline: none;
	}
	#main .section1 .swiper-button-next {
		background: #888 url(../images/section1_arrow_next.png) no-repeat 50% 50%;
		width: 21px;
		right: -1px;
		height: 50px;
		outline: none;
	}
	
	#main .section2 {
		height: 590px;
		background: #2aacdd url(../images/msection2_bg.png) no-repeat 50% 50%;
	}
	
	#main .section2 .section_tit {
		padding-top: 150px;
	}
	
	
	#main .section2 .time_sec2 {
		width: 100%;
		padding: 0 15px;
		margin-top: 50px;
	}
	#main .section2 .time_sec2 li {
		display: inline-block;
    	width: 100%;
		border: none;
		margin-left: 0;
		padding-bottom: 40px;
		position: relative;
	}
	#main .section2 .time_sec2 li:after {
		content: '';
		width: 100%;
		height: 1px;
		background: #fff;
		position: absolute;
		bottom: 21px;
		left: 0;
	}
	#main .section2 .time_sec2 li:last-child:after {display: none;} 
	#main .section2 .time_sec2 li:nth-child(2){
		text-indent: 20px;
	}
	#main .section2 .time_sec2 li img {display: none;}
	#main .section2 .time_sec2 li h4 {font-size: 20px; float: left; margin-top: 0;}
	#main .section2 .time_sec2 li h4:after {
		display: none;
	}
	#main .section2 .time_sec2 li p {font-size: 20px; margin-top: 0; float: right; padding-bottom: 0; position: relative;}
	#main .section2 .time_sec2 li p:before {
		content: '';
		position: absolute;
		left: -70px;
		top: 50%;
		width: 1px;
		height: 15px;
		background: #fff;
		margin-top: -7px;
	}
	#main .section2 .time_sec2 li:nth-child(2) p:before {
		left: -53px;
	}
	#main .section2 .section2_inner .option_manager {
		padding: 10px 100px;
		margin-top: 20px;
	}
	#main .section2 .section2_inner .option_manager:after {
		right: 75px;
	}
	
	#main .section3 {display: none;}
	
	#main .m_section3 {
		display: block;
		font-size: 30px;
		padding-top: 100px;
		margin-top: 0;
		background: #0f5079;
		overflow: hidden;
	}

	#main .m_section3 .section_tit {
		color: #fff;
		margin-top: 0
	}

	#main .m_section3 .tiket_list {
		margin: 0px auto;
    	padding: 20px 15px 70px 15px;
	}

	#main .m_section3 .tiket_list h4 {
		float: right;
		font-size: 25px;
		color: #fff;
		font-family: 'Binggrae',sans-serif;
	}
	#main .m_section3 .tiket_list li {position: relative;}
	#main .m_section3 .tiket_list li:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: #3377a0;
		transform: translateX(-50%);
	}
	#main .m_section3 .tiket_list li:last-child:after {display: none;}
	#main .m_section3 .tiket_list li a {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 30px 0;
	}
	#main .m_section3 .tiket_list li a img {
		width: 80px;
	}
	#main .m_section3 .tiket_list li:nth-child(2) a img {
		margin-left: 15px;
		width: 50px;
	} 
	#main .m_section3 .tiket_list li:nth-child(3) a img {
		width: 40px;
		margin-left: 20px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}

@media screen and (max-width:580px) {
	#main .section2 .section_tit {
		padding-top: 160px;
	}
	#main .section2 .time_sec2 {
		margin-top: 30px;
	}
	#main .section2 .section2_inner .option_manager {
		margin-top: 0px;
	}
	#main .section2 .time_sec2 li p:before {
		display: none;
	}
}




