@charset "UTF-8";
@font-face {
    font-family: 'DXPnM-KSCpc-EUC-H';
    font-style: normal;
    font-weight: 400;
    src: url(../font/DXPnM-KSCpc-EUC-H.eot);/* ie 6-9 */
    src: url(../font/DXPnM-KSCpc-EUC-H?#iefix) format('embedded-opentype'),
         url(../font/DXPnM-KSCpc-EUC-H.woff) format('woff'),/* 최신브라우져 */
         url(../font/DXPnM-KSCpc-EUC-H.ttf) format('truetype');/* 기타브라우져 */
}


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

button {cursor: pointer}
fieldset,img {border: 0; vertical-align: top}
ol,ul {list-style: none}
address,em {font-style: normal}
a {text-decoration: none; /*color: #1c1c1c*/}
iframe {overflow: hidden; border: 0}
table {border-collapse: collapse; border-spacing: 0; width: 100%; table-layout: fixed;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
input,select,textarea,button {vertical-align: middle; margin: 0; padding: 0; box-sizing: border-box;}
textarea {resize: none}
body {line-height: 1.5; -webkit-text-size-adjust:none}

legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}


body,button,input,select,textarea,table {
    font-family: 'Noto Sans KR','맑은 고딕','malgun gothic','돋움',dotum,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #191919;
    letter-spacing:-0.035em;
}
/* 파일선택폼 */
.file_wrap {border: 2px solid #dddddd;display:inline-block;width:368px;padding-right: 98px;position:relative;}
.file_wrap input {background: none !important; cursor:default; border: none !important;}
.file_wrap:before {content: ''; position: absolute; right:96px; top: 50%; margin-top: -8px; width:2px; height: 16px; background: #e8e8e8;}
.file_wrap label {position: absolute; color: #009223; right: 0; top: 0; width: 98px; text-align: center; cursor: pointer; line-height: 45px;}

/* 공통스타일 */
input[type="text"]::-ms-clear {
  display:none;
}

/*텍스트필드 공통*/


::-webkit-input-placeholder {color:#bbb;}

::-moz-placeholder {color:#bbb;opacity:1;
}
:-ms-input-placeholder  {color:#bbb !important;
}
::-ms-input-placeholder {color:#bbb;}

::placeholder {color:#bbb;}
::selection {
    background: rgb(50, 113, 152);
    color: #fff;}

/*체크박스*/

body.on {overflow: hidden;}

#wrap {position: relative; 
       min-width: 360px;
}
#header {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    position:fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    min-width: 360px;
    box-shadow: 0px 0px 5px #00000095;
}
#header .background {
    background: url(../images/header_back.jpg) repeat-x;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -100;
}

#header.on .background {
    opacity: 1;
    z-index: -10;
    transition: all 0.3s;
}
#header .logo {
    display: inline-block;
    margin: 14px 0 0 30px;
}
#header .logo img {width: 150px;}

#header .btn_sidemenu {
    text-indent: -9999px;
    background: url(../images/ico_hamburger.png) no-repeat 50% 50%;
    width: 60px;
    height: 60px;
    background-size: 25px;
    border: none;
    float: right;
    outline: none;
    margin-right: 12px;
}

/* 사이드메뉴 */
#header .gnb_wrap {
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    position:fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
}
#header .gnb_wrap.on {
    transform: translateX(0);
}
#header .gnb_wrap .top_gnb {
    position: relative;
    height: 60px;
    background: url(../images/header_back.jpg) repeat-x;
}
#header .gnb_wrap .top_gnb .btn_close {
    float: right;
    background: url(../images/ico_close.png) no-repeat 50% 50%;
    margin-right: 13px;
    height: 60px;
    width: 60px;
    background-size: 25px;
    text-indent: -9999px;
    border: none;
    transition: all 0.8s;
}

#header .gnb_wrap .gnb_util {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
#header .gnb_wrap .gnb_util a {
    color: #191919;
    line-height: 40px;
    float: left;
    width: 50%;
    position: relative;
}
#header .gnb_wrap .gnb_util a:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0;
    background: #e5e5e5;
    width: 1px;
    height: 20px;
}
#header .gnb_wrap .gnb_util a:nth-child(2):after {
    display: none;
}
#header .gnb_wrap .gnb_list_wrap {
    overflow-y: auto;
    height: calc(100% - 140px);
}
#header .gnb_wrap .gnb_list>li>a {
    padding: 0 30px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    line-height: 67px;
    font-size: 20px;
    color: #191919;
    font-family: 'Noto Serif KR', sans-serif;
    position: relative;
    transition: all 0.8s;
}

#header .gnb_wrap .gnb_list>li>a:after {
    content: '';
    position: absolute;
    top: 25px;
    background: #ad4455;
    right: 39px;
    height: 20px;
    width: 2px;
    transition: all 0.3s;
}
#header .gnb_wrap .gnb_list>li>a:before {
    content: '';
    position: absolute;
    top: 34px;
    background: #ad4455;
    right: 30px;
    height: 2px;
    width: 20px;
}
#header .gnb_wrap .gnb_list>li>a.active:after {
    transform: rotate(90deg);
}
#header .gnb_wrap .gnb_list>li>a.active {
    color: #ad4455;
}
#header .gnb_wrap .gnb_list .depth2 {
    background: #eeeeee;
    padding: 10px 0;
    display: none;
    
}
#header .gnb_wrap .gnb_list .depth2 a {
    font-size: 15px;
    padding: 0 30px;
    display: block;
    line-height: 50px;
    color: #3b3b3b;
    font-weight: 300;

}
#header .gnb_wrap .lang_list {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #fcfcfc;
    border-top: 1px solid #e5e5e5;
}
#header .gnb_wrap .lang_list li {
    float: left;
    width: 25%;
}
#header .gnb_wrap .lang_list li.active a {
    color: #ad4455;
}
#header .gnb_wrap .lang_list a {
    color: #3b3b3b;
    line-height: 40px;
    display: block;
    position: relative;
}
#header .gnb_wrap .lang_list a:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
    background: #e5e5e5;
    width: 1px;
    height: 25px;
}
#header .gnb_wrap .lang_list li:last-child a:after{
    display: none;
}


#main .main_slider .swiper-wrapper .swiper-slide img {
    width: 100%;
}
#main .main_slider .swiper-wrapper .swiper-slide {
    text-align: center;
}
#main .swiper-container .swiper-wrapper .swiper-slide h2 {
    line-height: 30px;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 140px);
    font-size: 28px;
    color: white;
    font-family: 'DXPnM-KSCpc-EUC-H',sans-serif;
}
#main .main_slider .swiper-wrapper .swiper-slide span {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 32px;
}
#main .main_slider .swiper-wrapper .swiper-slide em {
    font-size: 20px;
}

#main .main_slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-bottom: 40px;
    opacity: 0.3;
    background: white;
}

#main .main_slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
}

#main .program {
    background: url(../images/event_back.jpg) repeat-x;
    text-align: center;
    padding:20px 0 80px;
    overflow: hidden;
}

#main .program h2 {
    padding-top: 50px;
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 24px;
    position: relative;
}
#main .program h2:before {
    content: '';
    top: 15px;
    left: calc(50% - 15px);
    position: absolute;
    background: url(../images/ico_korea_red.png) no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
}
#main .program p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 13px;
    line-height: 28px;
}
#main .program .program_slider {
    margin-top: 25px;
    overflow:visible;
}
#main .program .program_slider .swiper-slide a {
    display: inline-block;
    position: relative;
}
#main .program .program_slider .swiper-slide img {
    width: calc(100% - 60px);
}
#main .program .program_slider .swiper-slide a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 40px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    height: calc(100% - 24px);
    width: calc(100% - 84px);
    z-index: 100;
    
}
#main .program .program_slider .swiper-slide p {
    position: absolute;
    bottom: 0;
    left: 30px;
    display: block;
    text-align: left;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: calc(100% - 90px);
    height: 130px;
    line-height: 22px;
    padding: 10px 0 0 30px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}
#main .program .program_slider .swiper-slide span {
/*    color: white;*/
    font-size: 25px;
    line-height: 60px;
    font-family: 'Noto Serif KR', sans-serif;
    font-weight: 300;
}

#main .program .program_slider .swiper-pagination {
    margin-top: 40px;
    position: absolute;
    left: 0;
    bottom: -40px;
    font-size: 15px;
}

#main .program .program_slider .swiper-pagination-total {
    color: #999999;
}

#main .program .program_slider .btn_arrow {
    background-image: url(../images/ico_arrow_next.png);
    width: 21px;
    height: 14px;
    background-size: 21px;
    margin-top: 0;
    top:calc(100% + 22px);
    right:calc(50% - 50px);
}

#main .program .program_slider .swiper-button-prev {
    left: calc(50% - 50px);
    background-image: url(../images/ico_arrow_prev.png);
}


/****************하회마을 정보 아이콘**************************/
#main .info {
    background: url(../images/info_bacground.jpg) repeat-x;
    position: relative;
    height: 360px
}
#main .info:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 19px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}
#main .info:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.3);
    width: calc(100% - 100px);
    height: 1px;
}
#main .info .info_list {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
}
#main .info .info_list:before {
    content: '';
    position: absolute;
    top: 40px;
    right: 50%;
    background: rgba(0, 0, 0, 0.3);
    width: 1px;
    height: 280px;
}

#main .info .info_list li {
    float: left;
    width: 50%;
}
#main .info .info_list li a {
font-size: 16px;
    color: #191919;
    font-family: 'Noto Serif KR', sans-serif;
    position: relative;
    display: block;
    padding-top: 65px;
    margin: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 35px;
    width: calc(100% - 65px);

}
#main .info .info_list li a:before {
    content: '';
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 25px);
    background: url(../images/ico_mask.png) no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

#main .info .info_list li:nth-child(2) a:before {
    background-image: url(../images/ico_guide.png)
}
#main .info .info_list li:nth-child(2) a {
    margin-top: 40px;
    margin-left: 20px;
}
#main .info .info_list li:nth-child(3) a {
    padding-top: 55px;
}
#main .info .info_list li:nth-child(3) a:before {
    background-image: url(../images/ico_car.png)
}
#main .info .info_list li:nth-child(4) a:before {
    background-image: url(../images/ico_map.png)
}
#main .info .info_list li:nth-child(4) a {
    margin-left: 20px;
    margin-top: 40px;
}
#main .sns {
    background: url(../images/event_back.jpg) repeat-x;
    text-align: center;
    padding:20px 0 60px;
    overflow: hidden;
}
#main .sns h2 {
    padding-top: 50px;
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 24px;
    position: relative;
}
#main .sns h2:before {
    content: '';
    top: 15px;
    left: calc(50% - 15px);
    position: absolute;
    background: url(../images/ico_korea_blue.png) no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
}
#main .sns p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 13px;
    line-height: 28px;
}
#main .sns .img_list {
    padding:25px 30px 0;
}
#main .sns .img_list li {
    float: left;
    width: calc(50% - 8px);
    position: relative;
}
#main .sns .img_list li:first-child {
    margin-right: 15px;
}
#main .sns .img_list li:last-child {
    width: 100%;
    margin-top: 15px;
  
}
#main .sns .img_list img{
    width: 100%;
}
#main .sns .img_list li:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 20px;
    background: url(../images/ico_insta.png) no-repeat;
    background-size: 100%;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
#main .sns .img_list li:last-child:before {
    background-image: url(../images/ico_facebook.png);
}
/*****************하회탈 정보페이지**************/

#main .main_visual {
    background: url(../images/sub_main.jpg) repeat-x;
    background-size: cover;
    height: 360px;
    width: 100%;
    text-align: center;
}

#main .main_visual h2 {
    color: white;
    font-size: 30px;
    font-family:  'Noto Serif KR', sans-serif;
    padding-top: 180px;
}
#main .btn_menu {
    width: 100%;
    border: none;
    line-height: 50px;
    font-size: 16px;
    font-family:  'Noto Serif KR', sans-serif;
    background: #efefef;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
}
#main .btn_wrap .btn_menu:before {
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -5px;
    background: url(../images/sub_menu_arrow.png) no-repeat;
    background-size: 16px;
    width: 16px;
    height: 8px;
    transition: all 0.5s;
}
#main .btn_wrap.on .btn_menu:before {
    transform: rotate(-180deg);
}

#main .btn_wrap {
    position: relative;
}
#main .btn_wrap .menu_list {
    z-index: 999;
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
}

#main .btn_wrap .menu_list a {
    font-family:  'Noto Serif KR', sans-serif;
    color: #191919;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    background: #efefef;
    border: 1px solid #d8d8d8;
    border-top: none;
}
#main .mask_info {
    text-align: center;
}
#main .mask_info h2 {
    font-size: 19px;
    font-family:  'Noto Serif KR', sans-serif;
    line-height: 98px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
#main .mask_info h2:before {
    content: '';
    position: absolute;
    left: -35px;
    top: 50%;
    margin-top: -12px;
    background: url(../images/ico_korea_red.png) no-repeat;
    width: 25px;
    height: 25px;
    background-size: 25px;
}
#main .mask_info span {
    font-size: 24px;
}
#main .mask_info p {
    font-size: 14px;
}
#main .mask_info img {
    width: calc(100% - 60px);
    margin-top: 50px;
}

#main .mask_info .text_box {
    margin-top: 50px;
    text-align: left;
    width: calc(100% - 60px);
    display: inline-block;
}
#main .mask_info .mask_list {
    width: 300px;
    margin-bottom: 100px;
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
}

#main .mask_info .mask_list_title {
    margin-top: 50px;
}
/*************************로그인***************************/


#main .login {
    background: url(../images/main_background.jpg) repeat-x;
    width: 100%;
    text-align: center;
    height: 600px;
}
#main .login h2 {
    font-size: 35px;
    font-family:  'Noto Serif KR', sans-serif;
    padding-top: 100px;
}
#main .login p {
    font-size: 16px;
    font-family:  'Noto Serif KR', sans-serif;
    margin-top: 12px;
}
#main .login span {
    color: #346c8c;
}
#main .login .login_box {
    margin: 40px 30px 0;
    width: calc(100% - 60px);
    background: white;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px -4px #bababa;
}

#main .login .login_box .id {
    height: 40px;
    width: calc(100% - 60px);
    margin-top: 35px;
    border:1px solid #e9e9e9;
    text-indent: 35px;
}
#main .login .login_box:before {
    content: '';
    position: absolute;
    top: 48px;
    left: 41px;
    background: url(../images/ico_id.png) no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px;
}
#main .login .login_box:after {
    content: '';
    position: absolute;
    top: 110px;
    left: 41px;
    background: url(../images/ico_password.png) no-repeat;
    width: 14px;
    height: 18px;
    background-size: 14px;
}

#main .login .login_box .password {
    height: 40px;
    width: calc(100% - 60px);
    margin-top: 25px;
    border:1px solid #e9e9e9;
    text-indent: 35px;
    position: relative;
}
#main .login .login_box .chk_box {
    text-align:left;
    margin-left: 30px;
    padding-left: 23px;
    font-size: 13px;
    position: relative;
    margin-top: 10px;
    color: #3e3e3e;
    cursor: pointer;
    display: block;
    width: 60px;
}

#main .login .login_box .chk_box label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    border: 1px solid #cecece;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
}


input[type="checkbox"] + label {
    cursor: pointer;
}
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 3px;
    background: url(../images/icon_checkbox.png) no-repeat;
    width: 16px;
    height: 14px;
    background-size: 12px;
    display: none;
}
input[type="checkbox"]:checked + label:after{
    display: block;
}
#main .login .login_box .btn_login {
    width: calc(100% - 60px);
    background: #346c8c;
    height: 45px;
    font-size: 18px;
    border: none;
    color: white;
    margin-top: 20px;
}
#main .login .login_box .util_list {
    display: inline-block;
    padding-bottom: 17px;
}
#main .login .login_box .util_list li {
    float: left;
    margin: 5px 10px;
    position: relative;
}
#main .login .login_box .util_list li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -10px;
    background: #a2a2a2;
    width: 1px;
    height: 9px;
}
#main .login .login_box .util_list li:nth-child(1):before {
    display: none;
}
#main .login .login_box .util_list a {
    color: #191919;
    font-size: 13px;
    text-align: center;
}





/*************************푸터********************************/

#footer {
    height: 240px;
    width: 100%;
    background: url(../images/footer_background.jpg) repeat-x;
    text-align: center;
    
}
#footer .logo_wrap {
    margin: 0 30px;
    width: calc(100% - 60px);
    overflow: hidden;
    padding-top: 35px;
}
#footer .logo_wrap li {
    float: left;
    display: block;
    width: 50%;
    vertical-align:bottom;
}
#footer .logo_wrap .unesco img{
    width: 115px;
}
#footer .logo_wrap .logo img {
    width: 150px;
}
#footer p {
    font-size: 12px;
    color: white;
    font-weight: 300;
    margin-top: 20px;
}
#footer .family_site .btn_familysite {
    border: 1px solid #b2b2b2;
    background: none;
    width: 360px;
    color: white;
    line-height: 35px;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
    position: relative;
    margin-top: 20px;
}
#footer .family_site .btn_familysite:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 12px;
    background: url(../images/arrow_up.png) no-repeat;
    background-size: 16px;
    width: 16px;
    height: 8px;
    transition: all 0.5s;
}
#footer .family_site.on .btn_familysite:after {
    transform: rotate(-180deg);
}
#footer .family_site {position: relative;}

#footer .family_site .family_list {
    position: absolute;
    left: 50%;
    margin-left: -180px;
    bottom: 37px;
    text-align: left;
    display: none;
}
#footer .family_site .family_list li {
    width: 360px;
}
#footer .family_site .family_list li a{
    color: white;
    font-size: 14px;
    line-height: 35px;
    display: block;
    border: 1px solid #b2b2b2;
    border-bottom: none;
    background: rgba(65, 65, 65, 0.98);
    padding-left: 15px;
}