@charset "utf-8";
/* intro */
#wrap.intro_wrap {height: 100%; background: #fff;}

#container.intro {height: 100%; position: relative;}

#container.intro .con_wrap {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;}
#container.intro .con_wrap p {font-size: 24px; margin: 40px 0 30px 0; line-height: 1;}

@keyframes barMotion {
    0% {width: 0px;}
    70% {width: 100%; opacity: 1;}
    90% {opacity: 0; width: 100%;}
    100% {opacity: 0;width: 0px;}
}

#container.intro .con_wrap .load_bar_wrap .load_bar {
    width: 500px;
    height: 30px;
    background: #efeeee;
    position: relative;
}
#container.intro .con_wrap .load_bar_wrap .load_bar:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 30px;
    background: #e11b22;
    animation: barMotion 10s ease-in-out infinite;
}
#container.intro .con_wrap .load_bar_wrap .load_bar:after {
    content: 'loading...';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
#container.intro .con_wrap .load_bar_wrap p {font-size: 20px; /*color: #fff;*/ text-transform: uppercase; z-index: 1;}

#container.intro .bottom {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    text-align: center;
}
#container.intro .bottom .btn_go {color: #333; font-size: 18px;}
#container.intro .bottom .btn_go span {position: relative;}
#container.intro .bottom .btn_go span:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #e11b22;
}
#container.intro .bottom .copy {font-size: 16px; color: #898989; text-transform: uppercase; margin-top: 40px;}



/*************** main ***************/

/* top_main */
#main {margin-top: 50px; margin-left: 240px;}
#main.on {margin-left: 0px;}

/* top_main */
#main .top_main {width: 1262px; background: #fff; margin: 0 auto; box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .065);}

#main .top_main .con_wrap {overflow: hidden; text-align: center; height: 110px; position: relative;}

.profile_wrap {position: absolute; left: 15px; top: 20px;}
.profile_wrap .p1 {display: inline-block; line-height: 70px; font-size: 20px;}
.profile_wrap img {margin-right: 15px;}

#main .top_main .menu_wrap {text-align: center; display: inline-block;}
#main .top_main .menu_wrap li {display: inline-block; margin: 0 20px;}
#main .top_main .menu_wrap li a {color: #333; font-size: 18px; line-height: 110px;}
#main .top_main .menu_wrap li a span {position: relative;}
#main .top_main .menu_wrap li a span:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background: #d90a17;
    opacity: 0;
    transition: all 0.2s;
}
#main .top_main .menu_wrap li.active span:before {opacity: 1;}
#main .top_main .menu_wrap li a:hover span:before {opacity: 1;}

/* 구독 */
.subscribe {position: absolute; right: 15px; top: 42px;}
.subscribe .btn_subs {background: #d90a17; border: none; outline: none; padding: 0 5px; font-size: 14px; color: #fff; line-height: 28px;}
.subscribe .btn_subs img {margin: 7px 4px 0 0;}
.subscribe .subs_count {display: inline-block; height: 26px; border: 1px solid #ccc; margin-left: -3px; padding: 0 5px; line-height: 26px; color: #737373; font-size: 13px;}

/* bottom_main */
#main .bottom_main {width: 1262px; padding: 20px 0; background: #fff; margin: 10px auto 0; box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .065); box-sizing: border-box;}

#main .bottom_main .list {border-bottom: 1px solid #e2e2e2; padding: 0 18px; padding-bottom: 20px;}
#main .bottom_main .list h2 {font-size: 18px; margin-bottom: 10px;}

#main .bottom_main .btn_more {color: #fff; font-size: 13px; display: inline-block; padding: 0 10px; height: 20px; background: #d90a17; margin: 4px 0 0 10px;}
#main .bottom_main .btn_more img {margin: 5px 5px 0 0;}

#main .bottom_main .list .thumbnail {width: 400px; display: inline-block;}
#main .bottom_main .list .thumbnail:nth-child(3) {margin: 0 10px;}
#main .bottom_main .list .thumbnail:hover .tit {text-decoration: underline;}
#main .bottom_main .list .thumbnail a {display: block; text-align: center; color: #737373; font-size: 12px;}
#main .bottom_main .list .thumbnail .tit {font-size: 17px; color: #333; margin: 5px 0;}
#main .bottom_main .list .thumbnail .tit:hover {text-decoration: underline;}

#main .bottom_main .list2 {border-bottom: none; padding: 0 18px; padding-bottom: 0;}
#main .bottom_main .list2 h2 {margin: 20px 0 10px 0;}


/*************** profile ***************/
#main.profile .bottom_main {padding: 60px 0 80px 0; line-height: 1;}

#main.profile .bottom_main .info_wrap {text-align: center;}
#main.profile .bottom_main .info_wrap .info {display: inline-block; text-align: left; margin: 73px 0 0 50px;}
#main.profile .bottom_main .info_wrap .info h3 {font-size: 35px; font-weight: bold;}
#main.profile .bottom_main .info_wrap .info .txt_info {font-size: 20px; color: #bcbbbb; margin: 10px 0 30px 0;}

#main.profile .bottom_main .info_wrap .info .box {margin-bottom: 10px;}
#main.profile .bottom_main .info_wrap .info .box span {display: inline-block; background: #d90a17; color: #fff; height: 25px; line-height: 25px; font-size: 18px; padding: 0 15px;}
#main.profile .bottom_main .info_wrap .info .box p {display: inline-block; font-size: 18px; line-height: 25px; margin-left: 10px;}

#main.profile .bottom_main .con_wrap {padding: 0 120px; margin-top: 70px; overflow: hidden;}

#main.profile .bottom_main .con_wrap .left_con {float: left;}

#main.profile .bottom_main .con_wrap .right_con {float: right;}
#main.profile .bottom_main .con_wrap .right_con .favorite {text-align: center; margin-bottom: 60px;}
#main.profile .bottom_main .con_wrap .right_con .favorite .tit {margin-bottom: 40px;}
#main.profile .bottom_main .con_wrap .right_con .favorite .favo_list li {display: inline-block; margin: 0 20px; font-size: 16px;}
#main.profile .bottom_main .con_wrap .right_con .favorite .favo_list li img {
    display: block;
    margin-bottom: 12px;
}
#main.profile .bottom_main .con_wrap .right_con .favorite .favo_list li:nth-child(1) img {animation: icoMotion 3s ease infinite;}
#main.profile .bottom_main .con_wrap .right_con .favorite .favo_list li:nth-child(2) img {animation: icoMotion 3s 1.5s ease infinite;}
#main.profile .bottom_main .con_wrap .right_con .favorite .favo_list li:nth-child(3) img {animation: icoMotion 3s ease infinite;}
#main.profile .bottom_main .con_wrap .right_con .favorite .favo_list li:nth-child(4) img {animation: icoMotion 3s 1.5s ease infinite;}

@keyframes icoMotion {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-10px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}

#main.profile .con_wrap .right_con .skill {text-align: center;}
#main.profile .con_wrap .right_con .skill .tit {margin-bottom: 60px;}
#main.profile .con_wrap .right_con .skill .skill_polygon {position: relative; margin-left: 11px;}
#main.profile .con_wrap .right_con .skill .skill_polygon .skill_in {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0, 0);
    transition: all 1s;
    transform-origin: 183px;
}

#main.profile .con_wrap .right_con .skill .skill_polygon.on .skill_in {
    transform: translate(-50%,-50%) scale(1, 1);
}


/*************** aboutme ***************/
#main.aboutme .bottom_main {padding: 80px 0;}
#main.aboutme .bottom_main .section1 {text-align: center;}
#main.aboutme .bottom_main .tit_wrap {margin-bottom: 45px;}
#main.aboutme .bottom_main .tit_wrap .txt_top {font-size: 22px;}
#main.aboutme .bottom_main .tit_wrap .tit {font-size: 35px; font-weight: 700;}
#main.aboutme .bottom_main .tit_wrap .tit span {position: relative;}
#main.aboutme .bottom_main .tit_wrap .tit span:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 3px;
    background: url(../images/quotes.png) no-repeat 50% 50%;
    width: 20px;
    height: 17px;
}
#main.aboutme .bottom_main .tit_wrap .tit span:after {
    content: '';
    position: absolute;
    right: -30px;
    top: 35px;
    background: url(../images/quotes.png) no-repeat 50% 50%;
    width: 20px;
    height: 17px;
    transform: rotateZ(180deg);
}

#main.aboutme .section2 {margin-top: 80px; text-align: center;}
#main.aboutme .section2 .sec2_con_wrap .sec2_con li {position: relative; display: inline-block;}
#main.aboutme .section2 .sec2_con_wrap .sec2_con li:hover .sec2_txt {opacity: 1;}
#main.aboutme .section2 .sec2_con_wrap .sec2_con li:nth-child(2) {margin: 0 11px;}
#main.aboutme .section2 .sec2_con_wrap .sec2_con li:nth-child(2) .sec2_txt {opacity: 1;}
#main.aboutme .section2 .sec2_con_wrap .sec2_con li:hover:nth-child(2) .sec2_txt {opacity: 0;}
#main.aboutme .bottom_main .section2 .sec2_con_wrap .sec2_con .sec2_txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    color: #fff;
    font-size: 17px;
    opacity: 0;
    transition: all 0.3s;
}
#main.aboutme .section2 .sec2_con_wrap .sec2_con .sec2_txt h4 {font-weight: 700; font-size: 20px; margin: 120px 0 10px;}
#main.aboutme .section2 .sec2_con_wrap .sec2_con .sec2_txt span {color: #d90a17;}

#main.aboutme .section3 {margin-top: 80px; text-align: center;}
#main.aboutme .section3 .sec3_con_wrap {overflow: hidden; padding: 0 130px;}
#main.aboutme .section3 .sec3_con_wrap .sec3_img {float: left;}
#main.aboutme .section3 .sec3_con_wrap .sec3_txt {float: left; text-align: left; font-size: 17px; margin: 100px 0 0 25px;}
#main.aboutme .section3 .sec3_con_wrap .sec3_txt .bar {display: inline-block; width: 18px; height: 3px; background: #d90a17; margin-bottom: 35px;}
#main.aboutme .section3 .sec3_con_wrap .sec3_txt h4 {font-size: 20px; font-weight: 700; margin-bottom: 25px;}
#main.aboutme .section3 .sec3_con_wrap .sec3_txt strong {color: #d90a17;}


/*************** portfolio - desktop ***************/
#container {margin-top: 50px; margin-left: 0px; background: #fff; font-size: 16px;}
#container.on {margin-left: 240px;}

.gnb_wrap.sub {box-shadow: 5px 0px 8px -3px rgba(17, 17, 17, .065)}

#container.desktop .slider_wrap {width: 1280px; margin: 0 auto; background: #fff; position: relative; box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .065);}
#container.desktop .slider_wrap .port_slider .swiper-slide {height: 770px;}
#container.desktop .slider_wrap .port_slider .slide1 {background: url(../images/port_desktop1.png) no-repeat 50% 50%;}

#container.desktop .top_con {width: 1280px; margin: 20px auto 0; padding-bottom: 20px; border-bottom: 1px solid #ccc; overflow: hidden;}
#container.desktop .top_con .txt_con {float: left;}
#container.desktop .top_con .txt_con h3 {font-size: 22px;}
#container.desktop .top_con .txt_con p {font-size: 18px; color: #606060;}

#container.desktop .top_con .like {
    float: right;
    position: relative;
    left: 0;
    top: 39px;
    border-bottom: 2px solid #fff;
}
#container.desktop .top_con .like.on {border-bottom: 2px solid #065fd4;}
#container.desktop .top_con .like.on .btn_like {background-image: url(../images/btn_like.png); color: #065fd4;}

#container.desktop .top_con .like .btn_like, .btn_hate {
    float: left;
    background: #fff;
    border: none;
    width: 80px;
    padding: 10px 0;
    outline: none;
    font-size: 13px;
}
#container.desktop .top_con .like .btn_like {background: #fff url(../images/btn_like_gray.png) no-repeat 10px 50%; text-indent: 25px;}
#container.desktop .top_con .like .btn_hate {background: #fff url(../images/btn_hate.png) no-repeat 10px 50%; text-indent: 25px;}

#container.desktop .bottom_con {width: 1280px; margin: 0 auto; background: #fff; overflow: hidden; border-bottom: 1px solid #ccc;}

#container.desktop .bottom_con .top_profile {overflow: hidden; padding: 20px 0 15px;}
#container.desktop .bottom_con .top_profile .profile_wrap {float: left; position: static;}
#container.desktop .bottom_con .top_profile .profile_wrap .p1 a {color: #333;}
#container.desktop .bottom_con .top_profile .subscribe {float: right; position: static; margin-top: 20px;}

#container.desktop .bottom_con .txt_con {margin-left: 90px; padding-bottom: 40px;}
#container.desktop .bottom_con .txt_con h4 {font-weight: 700; font-size: 16px; margin-bottom: 20px;}
#container.desktop .bottom_con .txt_con h4 span {color: #ff0000; font-size: 10px; vertical-align: 4px;}


/*************** portfolio - rwd ***************/
#container.rwd .slider_wrap .port_slider .slide1 {background: url(../images/port_rwd1.png) no-repeat 50% 50%;}
#container.rwd .btn_pdf, #container.rwd .btn_renew {background: #bbb8ae;}
#container.rwd .btn_origin {border-color: #bbb8ae; color: #bbb8ae;}

/*************** portfolio - mobile ***************/
#container.mobile .slider_wrap .port_slider .slide1 {background: url(../images/port_mobile1.png) no-repeat 50% 50%;}
#container.mobile .btn_pdf, #container.mobile .btn_origin {display: none;}
#container.mobile .btn_renew {background: #ffb400;}

/*************** portfolio - event ***************/
#container.event .slider_wrap .port_slider .slide1 {background: url(../images/port_event1.png) no-repeat 50% 50%;}
#container.event .btn_pdf {background: #e20025;}
#container.event .btn_renew {background: #feca14;}
#container.event .btn_origin {border-color: #333; color: #333;}

/*************** portfolio - mnm ***************/
#container.mnm .slider_wrap .port_slider .slide1 {background: url(../images/port_mnm1.png) no-repeat 50% 50%;}
#container.mnm .btn_pdf {background: #fcb108;}
#container.mnm .btn_renew, #container.mnm .btn_origin {display: none;}

/*************** portfolio - app ***************/
#container.app .slider_wrap .port_slider .slide1 {background: url(../images/port_app1.png) no-repeat 50% 50%;}
#container.app .btn_pdf {background: #7381ee;}
#container.app .btn_renew, #container.app .btn_origin {display: none;}

#footer.sub {background: #fff;}