@charset "utf-8";


.main {width:1002px; margin:0 auto; overflow:hidden;}

.main_navi {margin-top:10px; text-align:right;}
.main_navi img {padding-top:2px;}
.main_navi span {font-size:13px; color:#696868;}
.main_navi em {color:#696868; font-weight:bold; font-size:13px;}

.main_tit {margin-top:30px; text-align:left; height:90px; border-bottom:1px solid #b2b2b2;}
.main_tit h2 {font-size:36px; color:#555556; font-weight:bold;}
.main_tit p {font-size:15px; color:#767475; font-weight:bold;}



/*********************************************회원가입**********************************************************/
.main.member .main_navi {margin-top:10px; text-align:right;}
.main.member .main_navi img {padding-top:2px;}
.main.member .main_navi span {font-size:13px; color:#696868;}
.main.member .main_navi em {color:#696868; font-weight:bold; font-size:13px;}

.main.member .main_tit {margin-top:30px; text-align:left; height:90px; border-bottom:1px solid #b2b2b2;}
.main.member .main_tit h2 {font-size:36px; color:#555556; font-weight:bold;}
.main.member .main_tit p {font-size:15px; color:#767475; font-weight:bold;}

.main.member .main_inner{width:940px; margin:50px auto 0;}
.main.member .main_inner h2 {font-size:18px; font-weight:bold; color:#0a2268; margin-top:20px;}
.main.member .main_inner .mark {margin-top:8px;}
.main.member .main_inner>p {font-size:12px; color:#555556; font-weight:bold;}

.main.member .main_inner .section1 {margin-top:40px; margin-left:10px; width:930px;}
.main.member .main_inner .section1 h3 {font-size:14px; font-weight:bold; color:#555556;}

.main.member .main_inner .section1 .section1_inner {height:180px; border:1px solid #bdbdbd; background:#f6f6f6; margin-top:10px; overflow-y:auto; padding:15px;}
.main.member .main_inner .section1 .section1_inner strong {font-size:13px; font-weight:bold; color:#a8a8a8; display:inline-block; padding-bottom:10px:}
.main.member .main_inner .section1 .section1_inner p {font-size:13px; color:#a8a8a8; line-height:20px;}
.main.member .main_inner .section1 .check_box {margin-top:5px;}
.main.member .main_inner .section1 .check_box input {vertical-align:middle; margin-top:7px;}
.main.member .main_inner .section1 .check_box span {color:#a2a2a2; font-size:13px; vertical-align:middle;}

.main.member .main_inner .main_check {margin:50px 0 100px 0; text-align:center;}

.main.member .main_inner .section1 table {width:880px;}

.main.member .main_inner .section1 table th {font-size:14px; color:#a8a8a8; font-weight:bold; border:1px solid #bdbdbd; padding:10px 0 10px 0; background:#777; color:#fff;}
.main.member .main_inner .section1 table td {font-size:13px; color:#a8a8a8; font-weight:bold; border:1px solid #bdbdbd; padding:7px 0 7px 10px; vertical-align:middle;}


/*********************************************이벤트**********************************************************/


.main.event .wrap {width:940px; margin:50px auto 0;}

.main.event .eve_section {overflow:hidden; padding-bottom:15.5px;}
.main.event .eve_section .eve1 {width:301px; height:318px; border:1px solid #f2f2f2; float:left;}
.main.event .eve_section .eve1 .eve_top {text-align:center; padding-top:10px;}

.main.event .eve_section .eve_bottom {background:#f6f6f6;}
.main.event .eve_section .eve1 .eve_bottom a {display:block; height:80px;}
.main.event .eve_section .eve1 .eve_bottom h3 {font-size:15px; font-weight:bold; color:#555556; margin:10px 0 5px 10px; padding-top:8px;}
.main.event .eve_section .eve1 .eve_bottom p {font-size:13px; line-height:18px; color:#555556; margin-left:10px;}
.main.event .eve_section .eve1 .eve_bottom a:hover {background:#1c2b57;}
.main.event .eve_section .eve1 .eve_bottom a:hover h3{color:#fff;}
.main.event .eve_section .eve1 .eve_bottom a:hover p {color:#fff;}

.main.event .eve_section .eve2 {float:left; margin-left:15.5px;}

.main.event  .btn_page {text-align:center; padding-bottom:100px;}
.main.event  .btn_page a {width:16px; height:16px; display:inline-block; color:#a8a8a8; line-height:16px;}


/*********************************************이달의 구매혜택**********************************************************/

.main.sale .borad_wrap {margin:50px auto 0; width:940px;}
.main.sale .borad h3 {font-size:18px; font-weight:bold; color:#0a2268; padding-bottom:15px;}
.main.sale .borad .mark {margin-top:8px;}
.main.sale .borad table{width:100%; border:1px solid #333;}
.main.sale .borad table th {font-weight:bold; border:1px solid #bdbdbd; background:#858585; color:#fff; font-size:17px; padding:8px 0;}
.main.sale .borad table td {border:1px solid #bdbdbd; font-size:14px; padding:7px 0 7px 15px; vertical-align:middle; color:#a8a8a8;}
.main.sale .borad p {font-size:13px;  margin-top:5px; color:#a8a8a8;}

.main.sale .borad1 {margin-top:40px;}
.main.sale .borad1 span {font-size:13px; color:#696868; display:inline-block; margin:4px 0 0 7px;}
.main.sale .borad1 table td {padding-left:0; text-align:center;}
.main.sale .borad1 table .td1 {width:89px;}
.main.sale .borad1 p {font-size:12px; color:#a8a8a8;}

.main.sale .borad .td_center {padding-left:0; text-align:center;}


.main.sale .txt {margin-top:50px; padding-bottom:100px;}
.main.sale .txt p {font-size:12px; color:#424242; line-height:20px; color:#a8a8a8;}




/*********************************************로그인***************************************************************/

.main .login {margin:50px auto 0; width:940px; height:300px; margin-bottom:100px;}
.main .login h3 {font-size:18px; font-weight:bold; color:#555556;}
.main.login .login span {color:#0a2268;}

.main.login .login .login_box {width:942px; height:260px; border:1px solid #bdbdbd; margin-top:15px;}

.main.login .login .login_box .login_box_left {width:580px; float:left;}
.main.login .login .login_box .login_box_left .login_box_wrap {margin:90px 0 0 40px;}
.main.login .login .login_box .login_box_left .login_box_wrap .login_box1 {float:left;}
.main.login .login .login_box .login_box_left .login_box_wrap .login_box1 .login_id label {font-size:15px; color:#a2a2a2; font-weight:bold; width:100px; display:inline-block; line-height:26px;}
.main.login .login .login_box .login_box_left .login_box_wrap .login_box1 .login_id input {margin-left:20px; width:260px; height:22px; outline:none; text-indent:3px;}
.main.login .login .login_box .login_box_left .login_box_wrap .login_box1 .login_password {margin-top:10px;}

.main.login .login .login_box .login_box_left .login_box_wrap .login_box2 {float:left; margin-left:5px;}
.main.login .login .login_box .login_box_left .login_box_wrap .login_box2 button {border:none; color:#fff; background:#0a2268; width:100px; height:66px; outline:none; font-size:17px; font-weight:bold; line-height:30px;}

.main.login .login .login_box .login_box_left .login_box_wrap .save {clear:both; margin-left:120px; padding-top:10px;}
.main.login .login .login_box .login_box_left .login_box_wrap .save input {vertical-align:middle;}
.main.login .login .login_box .login_box_left .login_box_wrap .save span {vertical-align:middle; font-size:13px; color:#a2a2a2; font-weight:bold; line-height:13px; margin-top:-5px; display:inline-block;}
.main.login .login .login_box .login_box_left .login_box_wrap .save a {font-size:13px; color:#a2a2a2; font-weight:bold; line-height:13px; display:inline-block; margin-top:2px;}

.main.login .login .login_box .login_box_right {width:360px;  height:260px; float:right; background:url(../images/sub_bg.png) no-repeat left center;}

.main.login .login .login_box .login_box_right .login_box1 {margin:25px 0 0 15px;}

.main.login .login .login_box .login_box_right .login_box1 h4 {font-size:15px; color:#a2a2a2; font-weight:bold;}
.main.login .login .login_box .login_box_right .login_box1 p {font-size:13px; color:#a2a2a2; margin-top:3px;}

.main.login .login .login_box .login_box_right .login_box1 button {margin-top:15px; border:none; color:#fff; background:#656565; width:80px; height:30px; font-size:13px; font-weight:bold; outline:none; line-height:30px;}

.main.login .login .login_box .login_box_right .login_box2 {margin:30px 0 0 15px;}

.main.login .login .login_box .login_box_right .login_box2 h4 {font-size:15px; color:#a2a2a2; font-weight:bold;}
.main.login .login .login_box .login_box_right .login_box2 p {font-size:13px; color:#a2a2a2; margin-top:3px;}

.main.login .login .login_box .login_box_right .login_box2 button {margin-top:15px; border:none; color:#fff; background:#656565; width:120px; height:30px; font-size:13px; font-weight:bold; outline:none; line-height:30px;}

