@charset "utf-8";

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumBarunGothic.eot);
  src: local('NanumBarunGothic'),
       local('NanumBarunGothic'),
       url(../font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumBarunGothic.woff) format('woff'),
       url(../font/NanumBarunGothic.ttf) format('truetype');
}

* {box-sizing:border-box;}

body,select,button,input,textarea,table {font-family:'NanumBarunGothic', 'serif'; font-size:14px;}
html,body {height: 100%;}
body {min-width:320px;}
body.on {overflow: hidden;}
img {max-width: 100%;}

#wrap {height:100%;}
#wrap.on { overflow:hidden;}


#header {border-bottom: 1px solid #eee; height: 110px; overflow: hidden; position: absolute; left: 0; top: 0; width: 100%;}

/*데스크탑gnb*/
#header .header_inner {height:100px; max-width: 1200px; margin:0 auto;}
#header .header_inner .logo {float:left; margin-top:7px;}

#header .header_inner .gnb{ float:left; margin-top: -36px; width: 100%; padding-left: 100px;} 
#header .header_inner .gnb >li {float:left;  width:16.6%; padding-bottom:32px; position:relative;}
#header .header_inner .gnb >li>a {display:block; text-align:center; color:#333; font-weight:700; font-size: 16px;}
#header .header_inner .gnb >li:hover>a {color:#00accd;}
#header .header_inner .gnb >li:hover {border-bottom:4px solid #e50112;}

#header .header_inner .gnb .depth2 {position:absolute; left:0; top:53px; z-index:200; width:100%; border-right:1px solid #eee; height:337px;}
#header .header_inner .gnb .depth2 li:first-child {margin-top:15px;}
#header .header_inner .gnb .depth2 a {font-size:14px; color:#333; display:block; line-height:34px; text-align: center;}
#header .header_inner .gnb .depth2 a:hover {color:#fff; font-weight:700; background: #00accd;}
#header .header_inner .gnb>li:first-child .depth2 {border-left:1px solid #eee; }

/*depth2 배경*/
#header .header_inner .bg_gnb {
    width: 100%;
    height: 338px;
    position: absolute;
    left: 0;
    top: 110px;
    background: #fff;
    z-index: 100;
    border-top: 1px solid #eee;
}

.m_menu {display: none;}


#main {margin-top: 110px; overflow: hidden;}


/*메인슬라이더*/
#main .main_visual {height: 600px;}
#main .main_visual .swiper-slide {background: url(../images/main_visual01.jpg) no-repeat 50% top;}
#main .main_visual .main_visual2 {background-image:
    url(../images/main_visual02.jpg);}
#main .main_visual .main_visual3 {background-image:
    url(../images/main_visual03.jpg);}

/*메인슬라이더 좌우버튼*/
#main .main_visual .visual_btn {max-width: 1200px;}
#main .main_visual .swiper-button-prev {width:140px; height: 50px; background: url(../images/main_visual_prev.png) no-repeat 50% 50%; left: 0;}
#main .main_visual .swiper-button-disabled {cursor: pointer; opacity: 1; pointer-events:auto;}
#main .main_visual .swiper-button-next {width:140px; height: 50px; background: url(../images/main_visual_next.png) no-repeat 50% 50%;  right: 0;}

/*메인 비주얼*/
#main .main_visual .main_visual_inner {max-width: 1200px; margin: 0 auto; position: relative;}
#main .main_visual .main_visual_inner .txt {margin: 100px 0 0 110px; float: left;}
#main .main_visual .main_visual_inner .txt p {font-size: 30px; color: #fff;}
#main .main_visual .main_visual_inner .txt strong {color: #e02d2f;}
#main .main_visual .main_visual_inner .txt h2 {font-size: 48px; color: #fff; margin-top: 20px;}
#main .main_visual .main_visual_inner .txt h3 {font-size: 40px; color: #fff; margin: 30px 0 10px 0;}
#main .main_visual .main_visual_inner .txt img {margin-top: 10px;}
#main .main_visual .main_visual_inner .txt .date {margin-top: 25px;}

#main .main_visual .swiper-slide .btn_view  {display: inline-block; width:156px; height: 44px; line-height: 44px; border-radius: 44px; color: #555; font-size: 16px; text-indent: 20px; background: #e5f5fd url(../images/main_visual_more.png) no-repeat 87% 50%; position: absolute; left: 50%; top: 240px; transform: translateX(-50%); margin-left: -17px;}

#main .main_visual .main_visual2 .btn_view {margin: 20px 0 0 0; position: static; transform: translateX(0);}

#main .main_visual .main_visual3 .btn_view {top: 290px; }


/*프로그램*/
#main .section1 {margin: 55px auto; max-width:1200px; position: relative; padding: 0 15px; border-top: 2px solid #555;}
#main .section1 h2 {text-align: center; font-size: 30px; color: #555; font-weight: 500; background: #fff; position: absolute; left: 50%; top: -18px; transform: translateX(-50%); padding: 0 20px;}
#main .section1 .txt {text-align: center; font-size: 14px; color: #555; margin-top: 30px;}

#main .section1 .program {margin-top: 40px;}
#main .section1 .program .swiper-slide a {text-align: center; display: block;}
#main .section1 .program p {color: #555; font-size: 14px;  margin-top: 20px; line-height: 21px;}
#main .section1 .program .swiper-button-prev {display: none;}
#main .section1 .program .swiper-button-next {display: none;}

#main .section1 .program_more_btn {display: none;}

/*에디터 픽*/
#main .section2 {max-width: 1200px; margin: 0 auto;  overflow: hidden; padding-top: 15px;}

#main .section2 .pick {border-top: 1px solid #555; position: relative;}
#main .section2 .pick h2 {position: absolute; left: 50%; top: -17px; transform: translateX(-50%); background: #fff; padding: 0 20px; font-size: 30px; z-index: 100;}
#main .section2 .pick p {text-align: center; font-size: 14px; color: #555; margin-top: 30px;}

#main .section2 .pick_container {margin-top: 30px; overflow: hidden;}
#main .section2 .pick_container .pick_contents {float: left; width: 50%;}
#main .section2 .pick_container .pick_contents .pick_wrap li {float: left; width: 50%; padding: 0 20px;}
#main .section2 .pick_container .pick_contents .pick_wrap li a {text-align: center; color: #555;}
#main .section2 .pick_container .pick_contents .pick_wrap li img {width: 100%;}
#main .section2 .pick_container .pick_contents .pick_wrap .pick_txt {
    border: 1px solid #c2c2c2;
    background: #e5f5fd;
    padding: 20px 0;
    }
#main .section2 .pick_container .pick_contents .pick_wrap li h3 {font-size: 18px;}
#main .section2 .pick_container .pick_contents .pick_wrap li p {margin-top: 10px;}

#main .section2 .m_pick_container {display: none;}

/*티켓 구매하기*/
#main .section3 {background: url(../images/ticket.jpg) no-repeat center center; height: 250px; margin-top: 50px; position: relative;}
#main .section3_inner {max-width: 1200px; margin: 0 auto;}

#main .section3_inner .section3_txt {text-align: center; padding-top: 30px;}
#main .section3_inner .section3_txt h3 {font-size: 26px; color: #fa6d79; font-weight: 500;}
#main .section3_inner .section3_txt h2 {font-size: 36px; color: #fff; font-weight: 700; margin-top: 5px;}
#main .section3_inner .section3_txt p {color: #fff; font-size: 18px; line-height: 24px; margin-top: 20px;}

#main .section3_inner .section3_txt .ticket {
    color: #fff;
    font-size: 16px;
    background: #00accd;
    border-radius: 44px;
    display: block;
    width: 155px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

/*공지*/
#main .section4 {max-width: 1200px; margin: 40px auto 0 auto;  overflow: hidden; padding-top: 15px;}

#main .section4 .notice {border-top: 1px solid #555; position: relative;}
#main .section4 .notice h2 {position: absolute; left: 50%; top: -17px; transform: translateX(-50%); background: #fff; padding: 0 20px; font-size: 30px; z-index: 100;}
#main .section4 .notice p {text-align: center; font-size: 14px; color: #555; margin-top: 30px;}

#main .section4 .notice_container {overflow: hidden; margin-top: 20px;}
#main .section4 .notice_container .notice_contents {float: left; width: 50%;}
#main .section4 .notice_container .notice_contents .notice_wrap li {float: left; width: 50%; position: relative; padding: 0 40px;}
#main .section4 .notice_container .notice_contents .notice_wrap li img {width: 100%;}
#main .section4 .notice_container .notice_contents .notice_wrap li p {position: absolute; left: 50%; bottom: 35px; transform: translateX(-50%); font-size: 16px; font-weight: 700; color: #555;}

#footer {border-top: 1px solid #555555; margin-top: 50px; padding-bottom: 30px;}
#footer .footer_inner {max-width: 1200px; margin: 0 auto; overflow: hidden;}
#footer .footer_inner h2 {float: left; margin-top: 15px;}
#footer .footer_inner h2 img {width: 80%;}
#footer .footer_inner .footer_txt {float:left; padding: 0 30px; }

#footer .footer_inner .footer_txt .footer_menu {overflow: hidden;}
#footer .footer_inner .footer_txt .footer_menu li {float: left; margin-top: 20px;}
#footer .footer_inner .footer_txt .footer_menu li:first-child a {color: #00accd;}
#footer .footer_inner .footer_txt .footer_menu li a {font-size: 16px; color: #555; font-weight: 700; padding: 0 10px;}

#footer .footer_inner .footer_txt .address_wrap {float: left;}
#footer .footer_inner .footer_txt address {padding: 0 10px; color: #555; font-size: 14px; margin-top: 20px; line-height: 20px;}
#footer .footer_inner .footer_txt p {padding: 0 10px; color: #555; font-size: 14px; margin-top: 7px;}
#footer .footer_inner .footer_txt .sns {float: right; margin-top: 35px;}
#footer .footer_inner .footer_txt .sns a {padding: 0 20px;}

@media screen and (max-width:1090px){
    #main .section4 .notice_container .notice_contents .notice_wrap li p {bottom: 25px;}
}


/*타블렛 1024이하*/
@media screen and (max-width:1024px){
    #header .header_inner .logo {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    }
    
    #header .header_inner .gnb {display: none;} 
    
    /*타블렛메뉴*/
    .m_menu {display: block; float:left; margin: 45px 0 0 20px;}
    .m_menu .btn_m {width:36px; height: 25px; background: url(../images/btn_m.png) no-repeat 50% 50%; outline: none;}
    
    .m_menu .menu {width: 300px; position: fixed; left:0; top: 0; height: 100%; transform: translateX(-700px); transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000); z-index: 999; overflow: auto; background: #00bbde;}
    .m_menu .menu.on {transform: translateX(0px);}
    
    .m_menu .menu .top_menu {height: 60px; background:#fff; }
    .m_menu .menu .top_menu a {font-size: 18px; color: #555; float:left; background: #e5f5fd; display: block; text-align: center; line-height: 60px; width: 39%;}
    .m_menu .menu .top_menu:first-child a {border-right: 1px solid #eee;}
    .m_menu .menu .top_menu .btn_close {float:right; width:40px; height: 40px; background: url(../images/m_menu_close.png) no-repeat 50% 50%; background-size: 32px; margin: 10px 10px 0 0; outline: none;}
    
    /*모바일 아코디언메뉴*/
    .m_menu .menu .m_gnb .m_menu_inner>li>a {font-size: 18px; color: #fff; display: block; line-height: 60px; background: url(../images/m_menu_open.png) no-repeat 94% 50%; background-size: 30px; border-bottom: 1px solid #c2c2c2; padding-left: 20px;}
    .m_menu .menu .m_gnb .m_menu_inner>li.on>a {background-image: url(../images/m_menu_close02.png);}
    
    .m_menu .menu .m_gnb .m_menu_inner .depth2 {display: none;}
    .m_menu .menu .m_gnb .m_menu_inner .depth2 li {border-bottom: 1px solid #c2c2c2; background: #fff;}
    .m_menu .menu .m_gnb .m_menu_inner .depth2 a {font-size: 18px; color: #555; display: block; line-height: 60px; text-indent:40px;}
    
    .m_menu .menu .m_clock {margin-top: 30px; padding: 0 20px}
    .m_menu .menu .m_clock td {border: 1px solid #c2c2c2; background: #fff; line-height: 30px; text-align: center; font-size: 15px; color: #555;}
    .m_menu .menu .m_clock p {text-align: center; line-height: 30px; font-size: 15px; color: #555;}
     
    .m_menu .dimm {position: fixed; left: 0; top: 0; width:100%; height: 100%; background: rgba(0,0,0,0.8); display: none; z-index: 300;}
    
    /*타블렛 검색*/
    #header .header_inner .btn_m_search {float: right; background: url(../images/btn_m_search.png) no-repeat 50% 50%; width: 36px; height: 36px; margin: 38px 20px 0 0; outline: none;}
    
    /*데스크탑 비주얼*/
    #main .main_visual .main_visual_inner .txt {margin: 100px 0 0 115px;}
    
    /*프로그램 버튼*/
    #main .section1 .program {padding: 0 20px;}
    #main .section1 .program .swiper-button-prev {display: block; background: url(../images/program_prev_ico.png) no-repeat 50% 50%;  opacity: 1;}
    #main .section1 .program .swiper-button-next {display: block; background: url(../images/program_next_ico.png) no-repeat 50% 50%; }
    
    /*프로그램 자세히 보기*/
    #main .section1 .program_more_btn {display: inline-block; border-radius: 36px; text-indent: -36px; width: 136px; height: 36px; line-height: 36px; background:#e5f5fd url(../images/main_visual_more.png) no-repeat 88% 50%; color: #555; margin-top: 10px}
    
    /*에디터픽*/
    #main .section2 {padding-bottom: 50px;}
    #main .section2 .pick_container {display: none;}
    #main .section2 .m_pick_container {display: block; margin-top: 20px; overflow: hidden;}
    
    #main .section2 .m_pick_container .m_pick_contents {float: left; width: 100%; padding: 0 20px;}
    #main .section2 .m_pick_container .m_pick_contents .m_pick_wrap li { float: left; width: 50%; padding:0 10px; position: relative;}
    #main .section2 .m_pick_container .m_pick_contents .m_pick_wrap li img {width: 100%;}
    #main .section2 .m_pick_container .m_pick_contents .m_pick_wrap h3 {color: #555; font-size: 18px; position: absolute; left: 10px; top: 0; background: #e5f5fd; padding: 10px 50px;}
    
    #main .section2 .m_pick_container .m_pick_contents2 {margin-top: 20px;}
    
    /*공지*/
    #main .section4 .notice_container .notice_contents .notice_wrap li p {font-size: 14px;}
    
    /*포터*/
    #footer .footer_inner {padding: 0 20px;}
    #footer .footer_inner .footer_txt .footer_menu li a {font-size: 14px;}
    #footer .footer_inner .footer_txt address {font-size: 12px;}
    #footer .footer_inner .footer_txt p {font-size: 12px;}
    
    #footer .footer_inner .footer_txt .sns a {padding: 0 15px;}
}

@media screen and (max-width:923px){
    #main .section4 .notice_container .notice_contents .notice_wrap li p {bottom: 20px;}
    
    #footer .footer_inner {padding: 0;}
    #footer .footer_inner h2 {display: none;} 
    
    
}


/*모바일 767이하*/
@media screen and (max-width:767px){
    #header {height: 80px;}
    
    #header .header_inner .logo img {width: 55px;}
    
    .m_menu {margin-top: 30px;}
    
    .m_menu .menu {width: 330px; transform: translateX(-350px);}
    
    #header .header_inner .btn_m_search {margin-top: 26px;}
    .m_menu .menu.on {transform: translateX(0px);}
    
    .m_menu .menu .top_menu {height: 50px;}
    .m_menu .menu .top_menu a {font-size: 15px; width: 126px; line-height: 50px;}
    .m_menu .menu .top_menu .btn_close {margin: 6px 20px 0 0; background-size: 32px;}
    
    /*모바일 아코디언메뉴*/
    .m_menu .menu .m_gnb .m_menu_inner>li>a {font-size: 15px; background: url(../images/m_menu_open.png) no-repeat 92% 50%; background-size: 32px; line-height: 50px;}
    
    .m_menu .menu .m_gnb .m_menu_inner .depth2 a {font-size: 14px; line-height: 50px;}
    
    #main {margin-top: 80px;}
    
    #main .main_visual {height: auto;}
    
    #main .main_visual .swiper-slide {background-image: url(../images/m_visual01.jpg); background-size: cover; height: 750px;}
    #main .main_visual .main_visual2 {background-image: url(../images/m_visual02.jpg); background-size: cover;}
    #main .main_visual .main_visual3 {background-image: url(../images/m_visual03.jpg); background-size: cover;}
    
    #main .main_visual .main_visual_inner .txt {display: none;}
    #main .main_visual .visual_btn {display: none;}
    #main .main_visual .main_visual_inner .btn_view {display: none;}
    
    /*프로그램*/
    #main .section1 {margin: 40px 0 30px 0;}
    #main .section1 .program {margin-top: 25px;}
    #main .section1 h2 {font-size: 20px; top: -11px;}
    #main .section1 .program_more {display: block; margin: 20px 0 0 290px;}
    
    /*에디터 픽*/
    #main .section2 {padding-bottom: 30px;}
    #main .section2 .pick h2 {font-size: 20px; top: -11px;}
    #main .section2 .m_pick_container .m_pick_contents .m_pick_wrap li {width: 100%;}
    #main .section2 .m_pick_container .m_pick_contents .m_pick_wrap li:nth-child(2) {margin-top: 20px;}
    
    /*티켓*/
    #main .section3 {margin-top: 0; height: 150px;}
    #main .section3_inner .section3_txt p {display: none;}
    #main .section3_inner .section3_txt h3 {font-size: 20px;}
    #main .section3_inner .section3_txt h2 {font-size: 26px;}
    
    #main .section3_inner .section3_txt .ticket {width: 110px; height: 30px; border-radius: 30px; line-height: 30px; font-size: 14px;}
    
    /*공지*/
    #main .section4 {margin: 20px auto 0 auto;}
    #main .section4 .notice h2 {top: -11px; font-size: 20px;}
    
    #main .section4 .notice_container .notice_contents {width: 100%;}
    #main .section4 .notice_container .notice_contents2 {margin-top: 20px;}
    
    #main .section4 .notice_container .notice_contents .notice_wrap li p {bottom: 35px;}
    
    #footer .footer_inner .footer_txt {padding: 0 20px;}
    #footer .footer_inner .footer_txt .sns {margin-top: 30px;}
   
}

@media screen and (max-width:639px){
    #footer .footer_inner .footer_txt .sns {float: left; margin-top: 15px;}
    
      
}

@media screen and (max-width:569px){
    #main .main_visual .swiper-slide {height: 600px;}
}

@media screen and (max-width:525px){
    #main .section4 .notice_container .notice_contents .notice_wrap li p {bottom: 25px;}
}

@media screen and (max-width:459px){
    #main .main_visual .swiper-slide {height: 500px;}
}

@media screen and (max-width:440px){
    #main .section4 .notice_container .notice_contents .notice_wrap li p{bottom: 15px;}
    
    #footer .footer_inner .footer_txt .footer_menu li a {padding: 0 12px;}
}






















  
    












