@charset "UTF-8";

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NanumGothicRegular.eot);
    src: url(../font/NanumGothicRegular.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumGothicRegular.woff) format('woff'),
         url(../font/NanumGothicRegular.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: bold;
    font-weight: 500;
    src: url(../font/NanumGothicBold.eot);
    src: url(../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumGothicBold.woff) format('woff'),
         url(../font/NanumGothicBold.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: extrabold;
    font-weight: 700;
    src: url(../font/NanumGothicExtraBold.eot);
    src: url(../font/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumGothicExtraBold.woff) format('woff'),
         url(../font/NanumGothicExtraBold.ttf) format('truetype');
}

/* 모바일,반응형일경우 모든 요소에 box-sizing이용하여 늘어나지 않도록 */
/* *,:before,:after {box-sizing: border-box;} */

/* 내용없어도 세로 스크롤바 나오게함 */
html{overflow-y: scroll;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor:pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
/* a태그컬러는 디자인 시안상에 가장 많은 컬러로 변경해야함 */
a {text-decoration: none; color: #191919;}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {
    vertical-align: middle; 
    margin: 0; 
    padding: 0; 
    border-radius: 0; /* 아이폰때문에 적용 */ 
    /* ios ios에서 폼요소에 선이 있을경우 그림자생성 방지 */
    -webkit-appearance:none; 
    appearance: none;
}  
  
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}

/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지 */
/* 벤더프리픽스(제조사접두어)를 이용하여 적용해야하는 브라우저별 특수속성에 사용, 엔진에 따라 다르게 써야함 
-webkit- : 크롬,사파리
-moz- : 파이어폭스
-ms- : 익스
-o- : 오페라  */
body {
    line-height: 1.5;
    /* 아이폰에서의 텍스트 자동확대 방지 */
    -webkit-text-size-adjust: none
}


/********************** 공통스타일 ********************/

/* 폼요소는 폰트가 브라우저마다 지정되어 있으므로 따로 선언 */
body,input,button,select,textarea,table {
    font-family: 'NanumGothic','맑은 고딕','malgun gothic','돋움',dotum,sans-serif;
    font-size: 18px;
    color: #636363;
}

/* 스킵네비게이션 */
#skipNavi {position: relative;}
#skipNavi a {
    position: absolute;
    left: 0;
    top: -9999px; /* 아이폰 엘라스틱동작시 보일 수 있으므로 최대한 위로 */
    width: 100%;
    line-height: 40px;
    background: #ddd;
    text-align: center;
    font-size: 14px;
}
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus {top: 0;}

/* 글자 선택시 배경색,글자색 변경 */
/* ::-moz-selection {
    background-color: #ef151e;
    color: #ffffff;
}
::selection {
    background-color: #ef151e;
    color: #ffffff;
} */

/* legend,caption,메뉴제목,섹션제목 블라인드 
legend(폼제목),caption(표제목)을 시각적으로 보이지 않게 처리*/
legend,caption,.blind,input[type="checkbox"],input[type="radio"],input[type="file"] {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* overflow:hidden으로 float해제 못할 경우 사용 */
.clearfix:after {
    content:'';
    display: block;
    clear: both;
}


/**** 버튼 공통 ****/
.btn_white {
    display: inline-block;
    line-height: 46px;
    border: 2px solid #009223;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color:  #009223;
    box-sizing: border-box;
    text-align: center;
    margin: 0 4px;
}
.btn_point {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background:  #009223;
    box-sizing: border-box;
    text-align: center;
    margin: 0 4px;
}
.btn_point:after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left: 5px;
}


/**** 폼요소 공통 ****/
/* placeholder 공통컬러 */
/* 앞에 태그제거시 input,textarea 동시 적용 */
input::-webkit-input-placeholder {color:#bbbbbb;} 
input:-moz-placeholder {color:#bbbbbb;}
input::-moz-placeholder {color:#bbbbbb; opacity:1;}
/* 익스는 우선순위 높여야 색이 나옴 */
input:-ms-input-placeholder {color:#bbbbbb !important;} 

textarea::-webkit-input-placeholder {color:#bbbbbb;} 
textarea:-moz-placeholder {color:#bbbbbb;}
textarea::-moz-placeholder {color:#bbbbbb; opacity:1;}
textarea:-ms-input-placeholder {color:#bbbbbb;} 

/* ie10,ie11 input x버튼 가리기 */
input[type="text"]::-ms-clear{
	display: none;
}
/* ie10,ie11 input password 눈 아이콘 가리기 */
input[type="password"]::-ms-reveal{
	display: none;
}

/* 인접형제선택자로 checkbox 다음에 오는 label 선택 */
/* input[type="checkbox"] + label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    color: #292929;
}
input[type="checkbox"] + label em {color: #009223;}
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 26px;
    height: 26px;
    border: 2px solid #dddddd;
    border-radius: 50%;
} */
/* 일반적인 방식 */
/* input[type="checkbox"]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 50% 50%;
    background-size: 18px;
} */
/* input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    width: 0px;
    height: 20px;
    background: url(../images/icon_checkbox.png) no-repeat;
    transition: all 0.2s;
}
input[type="checkbox"]:checked + label:after {
    width: 24px;
} */

/**** input text 공통 ****/
input {outline: none;}
input[type="text"] {
    background: #f8f8f8;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0 15px;
    color: #292929;
    box-sizing: border-box;
}
input.input_small {width: 200px;}


/**** select 공통 ****/
.select_wrap {
    /* 테이블안에서 좌우배치는 인라인블럭 */
    display: inline-block;
    width: 110px;
    border: 1px solid #bab8b7;
    border-radius: 40px;
    box-sizing: border-box;
    position: relative;
}
.select_wrap select {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #636363;
    font-size: 15px;
    padding-left: 20px;
    outline: none;
    background: #fff;
}
.select_wrap:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    background: url(../images/btn_arrow_down.png) no-repeat;
    padding-left: 15px;
}
/* 익스 화살표 빼기 */
select::-ms-expand { display: none; }

/**** textarea 공통 ****/
textarea {
    border: none;
    background: #f8f8f8;
    width: 100%;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
}

/**** input file 공통 ****/
.file_wrap {
    border: 2px solid #dddddd;
    display: inline-block;
    position: relative;
    width: 466px;
}
.file_wrap input[type="text"] {
    background: #fff;
    height: 41px;
}
.file_wrap label {
    position: absolute;
    right: 0;
    top: 0;
    width: 98px;
    height: 41px;
    cursor: pointer;
    text-align: center;
    line-height: 41px;
    color: #009223;
    font-weight: 500;
    /* 파일명이 길어질 경우 가려지게 하기 위해 */
    background: #fff;
}
.file_wrap label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 2px;
    height: 16px;
    background: #dddddd;
}

/**** 게시판 테이블 공통 ****/
/* table구조에서 내용을 펼쳐주려는 기능이 있어서
표 안의 데이터가 길 경우 칸이 자동으로 늘어나지 못하게 함 */
.board_wrap table {table-layout: fixed;}
.board_wrap table th {font-weight: normal; background: #f5f5f5;}
/* table에 table-layout:fixed지정시 ios0아이폰에서 
테이블 colgroup의 width가 적용이 안되는 버그 있음 */
.board_wrap table .th01 {width:10%;}
.board_wrap table .th03 {width:10%;}
.board_wrap table th,
.board_wrap table td {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 18px 0 ;
    text-align: center;
}
.board_wrap table td {color: #555; padding: 11px 0;}
.board_wrap table td a {color: #555;}
/* 테이블 두번재 칸 왼쪽정렬 */
.board_wrap table tbody td:nth-child(2) {
    text-align: left;
}
/* 게시판 하단 선 스타일 */
.board_wrap table tr:last-child td { border-bottom: 1px solid #ddd; }
/* 게시판 제목 말줄임 */
.board_wrap table .link_board {
    white-space: nowrap;
    overflow: hidden; /* 크기가 없어서 안먹음 */
    display: inline-block;
    /* hidden이 되려면 가로길이가 있어야하며 width로 잡을경우
    글자가 짧으면 빈공간 클릭이 되므로 max로 지정하여 
    글자가 길 경우만 크기가 잡히게 함 */
    max-width: 90%;
    text-overflow: ellipsis;
}

/**** sprite pc 아이콘 공통 ****/
.icon {position: relative;}
.icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    /* 아이콘의 크기가 다 다르기때문에 작게 최소 크기를 잡아줌 */
    width: 10px;
    height: 10px;
    transform: translate(-50%,-50%); 
    background: url(../images/sprite_pc.png) no-repeat;
}
.board_wrap .pagination_wrap { text-align: center; padding-top: 20px; }
.board_wrap .pagination_wrap .pagination {
    display: inline-block;
    /* 인라인블럭하단에 간격이 생길경우 사용 */
    vertical-align: top;
} 
.board_wrap .pagination .btn_paging {
    float: left;
    line-height: 40px;
    height: 40px;
}
.board_wrap .pagination .first,
.board_wrap .pagination .prev,
.board_wrap .pagination .next,
.board_wrap .pagination .last {
    width: 22px;
    text-indent: -9999px;
}

.board_wrap .pagination .first:after {
    width: 14px;
    height: 14px;
    background-position: -396px -310px;
}
.board_wrap .pagination .prev:after {
    width: 8px;
    height: 14px;
    background-position: -369px -182px;
}
.board_wrap .pagination .next:after {
    width: 8px;
    height: 14px;
    background-position: -30px -431px;
}
.board_wrap .pagination .last:after {
    width: 14px;
    height: 14px;
    background-position: -443px -388px;
}
.board_wrap .pagination .prev {margin-right: 8px;}
.board_wrap .pagination .next {margin-left: 8px;}

.board_wrap .pagination .num {
    width: 40px;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin: 0 5px;
    background: #fff;
}
.board_wrap .pagination .num.on {
    background: #bb0841;
    border-color: #bb0841;
    color: #fff;
}


/**** 파일 다운로드 공통 ****/
.btn_down {
    text-indent: -9999px;
    display: inline-block; /* a는 inline요소여서 text-indent가 안먹음 */
    padding: 7px 3px;
    position: relative;
}
.btn_down:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #000;
    display: none;
}
.btn_down:hover:before {display: block;}
.btn_down:hover:after {transform: translateY(-1px);}
.btn_down:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/sprite_pc_new.png) no-repeat;
}
/* 파일 다운로드 아이콘 sprite */
.btn_down.mp4:after {background-position: 0 0;}
.btn_down.pdf:after {background-position: -125px 0;}
.btn_down.excel:after {background-position: -100px 0;}
.btn_down.word:after {background-position: -75px 0;}
.btn_down.ppt:after {background-position: -50px 0;}
.btn_down.txt:after {background-position: -25px 0;}

/* ease */
.easeOutExpo {
	-webkit-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-moz-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	-o-transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
	transition-timing-function:cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; /* easeOutExpo */
}

/**** container 제목 공통 ****/
#container h2 {
    font-size: 40px;
    color: #191919;
    font-weight: 700;
    text-align: center;
}


#wrap {min-width: 1280px; position: relative;}


/************* header **************/
#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 184px;
    transition: all 0.5s;
    background: #fff;
    z-index: 999;
}
#header.on {height: 492px;}

#header .top_header {position: relative;}
#header .top_header .top_header_inner {
    width: 1180px;
    height: 122px;
    margin: 0 auto;
}
#header .top_header .top_header_inner .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -63px;
}
#header .top_header .util_wrap {
    position: absolute;
    right: 20px;
    top: 50%;
    margin: -12px 30px 0 0;
}
#header .top_header .util_wrap li {float: left; margin-left: 22px;}


/***** 글로벌 서치 *****/
#header .top_header .util_wrap .search {position:relative;}
#header .top_header .util_wrap .search .btn_search1 {
    width: 30px;
    height: 30px;
    background: url(../images/util_01.png) no-repeat;
    border: none;
    text-indent: -9999px;
    outline: none;
}
#header .top_header .util_wrap .search .btn_search1.on { background: white url(../images/btn_close.png) no-repeat 50% 50%; }
#header .top_header .util_wrap .search_wrap {
    position:absolute;
    left:-230px;
    bottom: -4px;
    display: none;
    width: 205px;
}
#header .top_header .util_wrap .search_wrap input[type="text"] {
    font-size: 15px;
    background:none;
    color: #191919;
    border-bottom: 1px solid #636363;
    padding: 0 30px 0 10px;
    box-sizing: border-box;
}
#header .top_header .util_wrap .search_wrap .btn_search2 {
    width: 30px;
    height: 30px;
    background: url(../images/util_01.png) no-repeat;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    text-indent: -9999px;
    outline: none;
}
#header .top_header .util_wrap .login a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/util_02.png) no-repeat;
    text-indent: -9999px;
}
#header .top_header .util_wrap .lang a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/util_03.png) no-repeat;
    text-indent: -9999px;
}

#header .bottom_header {
    position: relative;
    border-top: 1px solid #e8e6e4;
    border-bottom: 1px solid #e8e6e4;
}
#header .bottom_header .bottom_header_inner {
    width: 1180px;
    margin: 0 auto;
    height: 60px;
    text-align: center;
}

/************** gnb ****************/
#header .bottom_header .gnb {display: inline-block;}
#header .bottom_header .gnb .depth1>li { float: left; position: relative;}
#header .bottom_header .gnb .depth1>li+li { margin-left: 106px; }
#header .bottom_header .gnb .depth1>li>a {
    font-size: 18px;
    font-weight: 500;
    display: block;
    line-height: 60px;
}
#header .bottom_header .gnb .depth1>li:hover>a {color: #00704a;}
#header .bottom_header .gnb .depth2 {
    padding-top: 28px;
    position: absolute;
    left: 0;
    top: 60px;
    width: 236px;
    height: 278px;
    z-index: 100;
    white-space: nowrap;
    display: none;
}
#header .bottom_header .gnb .depth2>li>a {
    font-size: 15px;
    display: block;
    text-align: left;
    line-height: 40px;
}
#header .bottom_header .gnb .depth2>li:hover>a {color:#00704a; font-weight: 500;}


/********************** container *********************/
#container {padding-top:184px;}

/********** 메인 슬라이더 섹션 *********/
#container .main_slider {height:720px;}
#container .main_slider .swiper-slide {overflow: hidden;}
#container .main_slider .swiper-slide a {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
#container .main_slider .swiper-pagination {
    width: auto;
    left: 50%;
    bottom: 40px;
    margin-left: -29px;
}
#container .main_slider .swiper-pagination span {
    width: 14px;
    height: 14px;
    background: #fff;
    opacity: 1;
    margin: 0 8px;
    transition: all 0.5s;
}
#container .main_slider .swiper-pagination span.swiper-pagination-bullet-active {
    background: #000;
    width: 14px;
    border-radius: 14px;
}


/************* 메뉴 섹션 **************/
#container .main_menu {
    width: 1180px;
    /* height: 526px; */
    margin: 0 auto;
    padding: 100px 0 66px;
    position: relative;
    transition: all 1s;
    transform: translateY(30px);
    opacity: 0;
}
#container .main_menu.on { transform: translateY(0px); opacity: 1; }
#container .main_menu .menu_slider { margin: 20px 80px 0; position: static; }
#container .main_menu .menu_slider .swiper-slide {
    width: 255px;
    height: 300px;
    text-align: center;
}
#container .main_menu .menu_slider .swiper-slide .img_wrap { width: 147px; height: 183px; padding: 0 54px; }
#container .main_menu .menu_slider .swiper-slide .img_wrap img { width: 100%; height: 100%; }
#container .main_menu .menu_slider .swiper-slide h3 {
    font-size: 18px;
    color: #191919;
    font-weight: 500;
    margin: 14px 0 12px 0;
    height: 54px;
}
#container .main_menu .menu_slider .swiper-slide p { font-size: 13px; color: #bab8b7; height: 38px; }
#container .main_menu .menu_slider .btn_arrow {
    width: 9px;
    height: 16px;
    top: 300px;
}
#container .main_menu .menu_slider .swiper-button-prev { background: url(../images/btn_arrow_left.png) no-repeat; }
#container .main_menu .menu_slider .swiper-button-next { background: url(../images/btn_arrow_right.png) no-repeat; }

/****** 이벤트섹션 ******/
#container .main_event {
    width: 1170px;
    /* height: 588px; */
    margin: 0 auto;
    padding: 50px 0 86px 0;
}
#container .main_event .event_wrap { overflow: hidden; }
#container .main_event .event_wrap li {
    float: left;
    margin-top: 50px;
    width: 282px;
}
#container .main_event .event_wrap li a {display: block;}
#container .main_event .event_wrap li .image_wrap { height:282px; }
#container .main_event .event_wrap li .image_wrap {position: relative;}
#container .main_event .event_wrap li .image_wrap:before {
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    width: 282px;
    height:282px;
    background:rgba(0,0,0,0.4);
    display: none;
}
#container .main_event .event_wrap li .image_wrap.on:before { display: block; }
#container .main_event .event_wrap li .image_wrap img {width: 100%; height: 100%;}
#container .main_event .event_wrap li + li { margin-left: 14px; }
#container .main_event .event_wrap li h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: #191919;
}
#container .main_event .event_wrap li p {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

/******** 동영상 섹션 ********/
#container .main_video { height:540px; background: #e8e6e4; }
#container .main_video .main_video_inner {
    width: 1170px;
    height: 460px;
    margin: 0 auto; 
    padding-top: 80px;   
}
#container .main_video .main_video_inner .txt_wrap { float: left; }
#container .main_video .main_video_inner h2 { text-align:left; line-height: 1.3; }
#container .main_video .main_video_inner p {
    font-size: 20px;
    color: #636363;
    margin-top: 20px;
} 
#container .main_video .main_video_inner .btn_detail {
    display: block;
    width: 200px;
    line-height: 48px;
    background: #00704a;
    border-radius: 48px;
    border: none;
    margin-top: 40px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
#container .main_video .main_video_inner .youtube {
    float: right;
    width: 626px;
    height: 352px;
}
#container .main_video .main_video_inner .youtube iframe {width: 100%; height: 100%;}

/********** 퀵메뉴 섹션 **********/
#container .main_quick_menu {
    width: 1170px;
    margin: 0 auto;
    padding: 74px 0;
    transition: all 1s;
    transform: translateY(30px);
    opacity: 0;
}
#container .main_quick_menu.on { transform: translateY(0px); opacity: 1; }

#container .main_quick_menu .quick_wrap { margin: 60px 100px 0; overflow: hidden; }
#container .main_quick_menu .quick_wrap li {
    float: left;
    text-align: center;
    width: 178px;
}
#container .main_quick_menu .quick_wrap li + li { margin-left: 82px; }
#container .main_quick_menu .quick_wrap li h3 {
    font-size: 18px;
    color: #191919;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
}
#container .main_quick_menu .quick_wrap li a {
    display: block;
    width: 178px;
    height: 178px;
    position: relative;
}
#container .main_quick_menu .quick_wrap li a:before {
    content: '';
    width: 178px;
    height: 178px;
    border: 4px solid #00704a;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
#container .main_quick_menu .quick_wrap li img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -24px 0 0 -24px;
    transition: all 0.2s;
}
#container .main_quick_menu .quick_wrap li img.on { transform: translateY(-10px); }
#container .main_quick_menu .quick_wrap li:nth-child(3) img {margin: -32px 0 0 -16px;}


/*********** 고객 sns 섹션 **********/
#container .main_sns {
    width: 1170px;
    margin: 0 auto;
    padding: 80px 0 155px;
}
#container .main_sns ul {overflow:hidden;}
#container .main_sns li {float:left; margin-top:42px;}
#container .main_sns li + li {margin-left: 5px;}
#container .main_sns li a {display:block;}
#container .main_sns li .image_wrap {
    width: 230px;
    height: 230px;
    position: relative;
}
#container .main_sns li .image_wrap:before {
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    width: 230px;
    height:230px;
    background:rgba(0,0,0,0.4);
    display: none;
}
#container .main_sns li .image_wrap.on:before { display: block; }
#container .main_sns li img { width: 100%; height: 100%; }


/************** footer ***************/
#footer {
    width: 100%;
    height: 200px;
    background: #323232;
    padding: 30px 0 40px;
    box-sizing: border-box;
}
#footer .footer_inner { width: 1170px; margin: 0 auto; }

#footer .footer_inner .logo {float:left; margin-right: 55px;}
#footer .footer_inner .txt_wrap { float: left; }
#footer .footer_inner .info_top {overflow:hidden;}
#footer .footer_inner .info_top li { float:left; position:relative;}
#footer .footer_inner .info_top li + li {margin-left: 24px;}
#footer .footer_inner .info_top li + li:before {
    content: '';
    position: absolute;
    left: -13px;
    top: 4px;
    width: 1px;
    height: 12px;
    background: #fff;
}
#footer .footer_inner .info_top li a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    float: left;
}
#footer .footer_inner .info_bottom_wrap {overflow: hidden; margin-top: 46px;}
#footer .footer_inner .info_bottom_wrap p {color: #fff; font-size: 13px; font-weight: 500;}
#footer .footer_inner .info_bottom_wrap p + p {margin-top: 10px;}
#footer .footer_inner .info_bottom_wrap p:nth-child(3) {font-weight: 400;}

/****** 패밀리 사이트 ******/
#footer .footer_inner .footer_right {float: right;}
#footer .footer_inner .family_wrap {position: relative; width: 190px;}
#footer .footer_inner .btn_family {
    width: 190px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    border: none;
    text-align: left;
    padding-left: 20px;
    font-size: 13px;
    position: relative;
    outline: none;
    z-index: 100;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
#footer .footer_inner .btn_family:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -4px;
    width: 11px;
    height: 8px;
    background: url(../images/btn_arrow_up.png) no-repeat;
}
#footer .footer_inner .list_family_wrap {
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 22px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#footer .footer_inner .list_family_wrap .list_family {
    overflow: auto;
    height: 250px;
}
#footer .footer_inner .list_family li {padding-left: 5px;}
#footer .footer_inner .list_family li a {
    display: block;
    font-size: 13px;
    padding: 3px 0;
}

#footer .footer_inner .footer_right .sns_wrap {margin-top: 18px; text-align: right;}
#footer .footer_inner .footer_right .sns_wrap a {display: inline-block;}
#footer .footer_inner .footer_right .sns_wrap a + a {margin-left: 10px;}



/****************** 서브페이지 *****************/


/**** 서브페이지 contents_inner 공통 ****/
.sub_container .contents .contents_inner {
    width: 1180px;
    margin: 0 auto;
}
/**** 서브페이지 gnb 엑티브 공통 ****/
#header .gnb .active {color: #00704a;}
#header .gnb .depth2 .active {color: #00704a; font-weight: 500;}
.sub_container .lnb li.active:after {display: block;}

/*************** 메뉴페이지 ****************/

/****** 서브비주얼섹션 ******/
.menu_wrap .sub_visual {
    height: 384px;
    background: url(../images/sub_visual.jpg) no-repeat 50% 0;
    background-size: cover;
}

/**** 서브페이지 lnb공통 ****/
.sub_container .lnb {
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.sub_container .lnb ul {
    display: inline-block;
    vertical-align: middle;
}
.sub_container .lnb li {
    float: left;
    text-align: center;
    position: relative;
}
.sub_container .lnb li:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: #fff;
    display: none;
}
.sub_container .lnb li:hover:after {
    display: block;
}
.sub_container .lnb li + li {
    margin-left: 30px;
} 
.sub_container .lnb li + li:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -4px;
    width: 1px;
    height: 8px;
    background: #fff;
}
.sub_container .lnb li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 59px;
    display: inline-block;
}


/**** 서브페이지 서브비주얼 제목, p 공통 ****/
@-webkit-keyframes subTit {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} 
@keyframes subTit {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} 
#container.sub_container .sub_visual h2 {
    font-size: 60px;
    color: #fff;
    margin-top: 100px;
    line-height: 1.2;
    transition: all 0.5s;
    -webkit-animation: subTit 1s;
    animation: subTit 1s;
}

.sub_container .sub_visual p {
    color: #fff;
    text-align: center;
    font-weight: 500;
    transition: all 0.5s;
    -webkit-animation: subTit 1s;
    animation: subTit 1s;
}


/***** 메뉴페이지 제목 *****/
.menu_wrap h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #191919;
    position: relative;
}
/***** 메뉴페이지 구분선 그린 공통 *****/
.menu_wrap h3:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 430px;
    height: 1px;
    background: #00704a;
}
.menu_wrap h3:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 430px;
    height: 1px;
    background: #00704a;
}
/***** 메뉴페이지 구분선 레드 공통 *****/
.menu_wrap .tit_red:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 430px;
    height: 1px;
    background: #d0112b;
}
.menu_wrap .tit_red:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 430px;
    height: 1px;
    background: #d0112b;
}

/***** 메뉴페이지 섹션 틀 공통 *****/
.menu_wrap .menu_con_wrap {padding-top: 99px; text-align: center; overflow: hidden;}
/* .menu_wrap .new_menu .new_menu_inner { background: burlywood;} */

/***** 메뉴페이지 더보기 버튼 그린 공통 *****/
.menu_wrap .menu_con_wrap .btn_more {
    display: inline-block;
    width: 134px;
    line-height: 36px;
    background: #00704a;
    border-radius: 36px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
}
/***** 더보기 버튼 레드 공통 *****/
.menu_wrap .menu_con_wrap .btn_more.red {
    background: #d0112b;
}

.menu_wrap .menu_con_wrap .inner_wrap {
    overflow: hidden;
    margin-top: 22px;
}

/**** 메뉴페이지 menu_con_wrap li 공통 ****/
.menu_wrap .menu_con_wrap li {
    float: left;
    width: 295px;
    /* height: 295px; */
}
.menu_wrap .menu_con_wrap li img {
    /* border: 1px solid red; */
    transition: all 0.25s;
}
.menu_wrap .menu_con_wrap li img.on {
    transform: translateY(-30px);
}
.menu_wrap .contents li a {
    display: block;
    padding: 30px 0;
}

/* new 버튼 */
.menu_wrap .menu_con_wrap li .new {
    position: relative;
}
.menu_wrap .menu_con_wrap li .new:after {
    content: '';
    position: absolute;
    left: 40px;
    bottom: 27px;
    width: 32px;
    height: 32px;
    background: url(../images/btn_new.png) no-repeat;
}
/**** 메뉴페이지 메뉴제목 h4 공통 ****/
.menu_wrap .menu_con_wrap h4 {
    color: #191919;
    font-weight: 500;
    margin-top: 30px;
}
/**** 메뉴페이지 메뉴설명 p 공통 ****/
.menu_wrap .menu_con_wrap p {
    font-size: 13px;
    color: #bab8b7;
}

.menu_wrap .brand_menu {padding-bottom: 120px;}
.menu_wrap .brand_menu .branding {position: relative;}
.menu_wrap .brand_menu .inner_wrap {
    margin-top: 100px;
}
.menu_wrap .tit_brand {
    text-align: left;
    float: left;
}
.menu_wrap .tit_brand:before {display:none;}
.menu_wrap .brand_menu .branding:before {
    content: '';
    position: absolute;
    left: 0;
    top: auto;
    bottom: -14px;
    width: 100%;
    height: 1px;
    background: #d0112b;
}
.menu_wrap .tit_brand:after {display:none;}
.menu_wrap .menu_con_wrap .btn_more.brand {
    background: url(../images/btn_more_02.png) no-repeat;
    margin-top: 0;
    float:right;
}

/************** 공지사항 페이지 **************/
.notice_wrap .sub_visual {
    height: 384px;
    background: url(../images/sub_visual02.jpg) no-repeat 50% 0;
    background-size: cover;
}
.notice_wrap .contents_inner {padding-top: 90px;}

.notice_wrap .category_wrap {
    display: inline-block;
    text-align: left;
    position: relative;
}
.notice_wrap .category_wrap .btn_cate {
    border: none;
    display: block;
    line-height: 38px;
    width: 110px;
    border: 1px solid #bab8b7;
    border-radius: 40px;
    background: #fff;
    position: relative;
    font-size: 15px;
    text-align: left;
    padding-left:15px;
    outline: none;
}
.notice_wrap .btn_cate:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    background: url(../images/btn_arrow_down.png) no-repeat;
    padding-left: 15px;
}
.notice_wrap .btn_cate.on:after {
    transform: rotate(180deg) translateX(14px);    
}
.notice_wrap .category_wrap .list_cate {
    position:absolute;
    left: 0;
    top: 40px;
    width: 100%;
    border: 1px solid #bab8b7;
    border-radius: 30px;
    background: #fff;
    display: none;
}
/* .notice_wrap .category_wrap .list_cate li+li {
    border-top: 1px solid #bab8b7;
} */
.notice_wrap .category_wrap li a {
    display: block;
    font-size: 15px;
    line-height: 38px;
    width: 100%;
    text-align: center;
}

.notice_wrap .search_wrap {
    display: inline-block;
    vertical-align: bottom;
}
.notice_wrap .search_box {
    text-align: right;
    position: relative;
}
.notice_wrap .search_box input[type="text"] {
    width: 220px;
    border: 1px solid #bab8b7;
    border-radius: 40px;
    background: #fff;
    font-size: 15px;
    color: #191919;
    padding: 0 40px 0 20px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
}
.notice_wrap .search_box .btn_search {
    border: none;
    text-indent: -9999px;
    width: 13px;
    height: 14px;
    background: url(../images/btn_search_green.png) no-repeat;
    position: absolute;
    right: 20px;
    top:50%;
    margin-top: -7px;
    outline: none;
}

.notice_wrap .table_wrap {margin-top: 40px;}
.table_wrap table thead {
    border-top: 2px solid #00704a;
    border-bottom: 2px solid #00704a;
}
.table_wrap table {color: #191919; font-size: 15px; width: 1180px; table-layout: fixed;}
.table_wrap table thead tr {line-height: 50px;}
.table_wrap table tbody tr {line-height: 60px; font-weight: 500;} 
.table_wrap table tbody tr td {
    border-bottom: 1px solid #e8e6e4;
    text-align: center;
}
.table_wrap table tbody tr td:nth-child(2) {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table_wrap table tbody tr td:nth-child(2) a {
    white-space: nowrap;
    max-width: 70%;
}

/* 공지사항 테이블 페이지네이션 */
.notice_wrap .table_wrap .pagination_wrap {
    text-align: center;
    margin: 40px 0 100px;
    font-size: 15px;
    font-weight: 500;
}
.notice_wrap .table_wrap .pagination_wrap a {display: inline-block;}
.notice_wrap .table_wrap .pagination_wrap .btn_prev {
    width: 32px;
    height: 32px;
    background: url(../images/btn_prev.png) no-repeat;
    text-indent: -9999px;
    margin-right: 17px;
}
.notice_wrap .table_wrap .pagination_wrap .btn_next {
    width: 32px;
    height: 32px;
    background: url(../images/btn_next.png) no-repeat;
    text-indent: -9999px;
    margin-left: 17px;
}
.notice_wrap .table_wrap .pagination_wrap span {color: #00704a; display: inline-block;}
.notice_wrap .table_wrap .pagination_wrap .num {
    width: 36px;
    line-height: 32px;
    vertical-align: bottom;
}


/************ 로그인페이지 *************/
.login_wrap .contents { padding-top: 60px; }
.login_wrap .contents_inner { padding: 0 0 120px; }
#container.login_wrap .contents_inner h2 { font-weight: 500; }
.login_wrap .contents_inner .txt {
    text-align: center;
    font-size: 18px;
    color: #636363;
    font-weight: 500;
}

.login_wrap .login_box {
    width: 596px;
    height: 480px;
    border: 4px solid #00704a;
    border-radius: 48px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 68px;
}
.login_wrap .login_box .input_wrap {
    overflow: hidden;
    border: 1px solid #e8e6e4;
    padding-left: 30px;
    font-size: 15px;
} 
.login_wrap .login_box .input_wrap:first-child { border-bottom: none; }

/* .login_wrap .login_box .input_wrap label {float:left;  line-height: 80px; font-weight: 500;}
.login_wrap .login_box .input_wrap .login {float:left;} */

.login_wrap .login_box input[type="text"] {
    background: #fff;
    line-height: 80px;
    height: auto;
    padding-left: 50px;
    font-size: 15px;
    width: 250px;
}
.login_wrap .login_box input[type="password"] {
    background: #fff;
    line-height: 80px;
    height: auto;
    border:none;
    padding-left: 85px;
    font-size: 15px;
}

.login_wrap .login_box .save_check {display:inline-block; margin-top: 10px; line-height: 26px; cursor: pointer; }
.login_wrap .login_box .check_wrap {overflow: hidden; margin-bottom: 40px;}
.login_wrap .login_box input[type="checkbox"] + label {
    font-size: 15px;
    color: #636363;
    font-weight: 500;
    /* display: inline-block; */
    position: relative;
    padding-left: 30px;
}
.login_wrap .login_box input[type="checkbox"] + label:before {
    content: '';
    /* display: inline-block;
    vertical-align: top; */
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background: url(../images/radio.png) no-repeat;
    margin-right: 10px;
}
.login_wrap .login_box input[type="checkbox"]:checked + label:before {background: url(../images/radio_checked.png) no-repeat;}

.login_wrap .login_box .btn_login {
    display: block;
    width: 100%;
    height: 70px;
    background: #00704a;
    text-align: center;
    color: #fff;
    font-weight: 500;
    outline: none;
    border: none;
}
.login_wrap .login_box .find_wrap {
    font-size: 15px;
    color: #636363;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
}
.login_wrap .login_box .find_wrap a + a {
    margin-left: 80px;
    position: relative;
}
.login_wrap .login_box .find_wrap a + a:before {
    content: '';
    position: absolute;
    left: -50%;
    top: 2px;
    width:1px;
    height: 16px;
    background: #e8e6e4;
}


/**************** 도넛극장 페이지 ******************/
.theater_wrap .sub_visual {
    height: 384px;
    background: url(../images/sub_visual03-1.jpg) no-repeat 50% 44%;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.theater_wrap .sub_visual:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: -1;
}

.theater_wrap .contents { padding-top: 100px; position: relative; }
/* .theater_wrap .contents_inner { border: 3px solid coral; } */
.theater_wrap .video_wrap {text-align: center;}
.theater_wrap .video_wrap .top_txt {
    font-size: 24px;
    color: #191919;
    font-weight: 500;
}
.theater_wrap .video_wrap .bottom_txt {font-size: 15px; color: #191919; width: 640px; text-align: left; display: inline-block; margin-top: 8px;}
.theater_wrap .video_wrap .video {margin-top:30px; width: 640px; height:360px; display: inline-block;}
.theater_wrap .video_wrap .video iframe {
    width: 100%;
    height: 100%;
}

.theater_wrap .info_box {
    height: 100px;
    background: #00704a;
    margin-top: 70px;
    padding: 30px 0;
}
.theater_wrap .info_box .info_inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.theater_wrap .info_box .info_inner:before {
    content: '';
    position: absolute;
    left: 140px;
    bottom: 7px;
    width: 210px;
    height: 119px;
    background: url(../images/krispy_source.png) no-repeat;
}

.theater_wrap .info_box .info_inner .info_con {margin-left: 430px; margin-top: 8px;}
.theater_wrap .info_box .info_inner p {color: #fff;}
.theater_wrap .info_box .info_inner .info_con .btn_store {
    font-weight: 500;
    font-size: 15px;
    color: #bab8b7;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.theater_wrap .info_box .info_inner .info_con .btn_store:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 6px;
    height: 10px;
    background: url(../images/btn_right_store.png) no-repeat;
}

/* 도넛극장 페이지 제작과정 */
.theater_wrap .process_wrap {overflow: hidden;  padding: 100px 0; overflow: hidden;}
.theater_wrap .process_wrap .process>li {overflow: hidden;  margin-top:120px;}
.theater_wrap .process_wrap .process>li:first-child {
    margin-top: 0;
}
.theater_wrap .process_wrap .process img {float:left;} 
.theater_wrap .process_wrap .process .txt_wrap {
    margin-left: 220px;
    float: left;
    width: 340px;
}
.theater_wrap .process_wrap .process .left_txt img{float: right;}
.theater_wrap .process_wrap .process .left_txt .txt_wrap {float: left; margin-left: 0;}

.theater_wrap .process_wrap .process h4 {color: #d0112b; font-size: 24px; font-weight: 500;}
.theater_wrap .process_wrap .process p {font-size: 15px; margin-top: 24px;}

.theater_wrap .process_bottom {border-top: 1px solid #bab8b7; text-align: center; padding-bottom: 100px;}
.theater_wrap .process_bottom .bottom_inner {
    margin-top: 70px;
}
.theater_wrap .process_bottom .txt_wrap {
    display: inline-block;
    width: 650px;
    position: relative;
    vertical-align: bottom;
    text-align: left;
    color: #191919;
    z-index: 0;
}
.theater_wrap .process_bottom .txt_wrap:before {
    content: '';
    position: absolute;
    left: -128px;
    top: -8px;
    width: 152px;
    height: 152px;
    background: url(../images/dough.png) no-repeat;
    background-size: 130px;
    z-index: -10;
}
.theater_wrap .process_bottom .txt_wrap .top_txt {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.theater_wrap .process_bottom .btn_link {
    display: inline-block;
    width: 248px;
    line-height: 48px;
    background: #00704a;
    border-radius: 48px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}


/***********      회원가입 페이지      ***********/
#container.join_wrap .contents h2 {font-weight: 500;}
.join_wrap .contents { padding-top: 110px; }
.join_wrap .contents_inner { overflow: hidden; }
.join_wrap .contents_inner .step_wrap {
    text-align: center;
    padding: 60px 0;
}
.join_wrap .contents_inner .step_wrap .step li {display: inline-block; position: relative;}
.join_wrap .contents_inner .step_wrap .step li {
    width: 200px;
    line-height: 42px;
    border-radius: 40px;
    border: 4px solid #bab8b7;
    color: #bab8b7;
    font-weight: 500;
    box-sizing: border-box;
}
.join_wrap .contents_inner .step_wrap .step li.on {
    border: none;
    background: #00704a;
    color: #fff;
}
.join_wrap .contents_inner .step_wrap .step li + li {margin-left: 120px;}
.join_wrap .contents_inner .step_wrap .step li:after {
    content: '';
    position: absolute;
    right: -60px;
    top: 50%;
    margin: -11px -6px 0 0;
    width: 12px;
    height: 22px;
    background: url(../images/btn_join_arrow.png) no-repeat;
}
.join_wrap .contents_inner .step_wrap .step li:last-child:after {display: none;}

.join_wrap .txt_wrap { border: 4px solid #00704a; border-radius: 80px; }

.join_wrap .txt_wrap .all_agree_wrap {
    border-bottom: 1px solid #bab8b7;
    padding-left: 108px;
}
.join_wrap .txt_wrap .all {
    line-height: 80px;
    font-size: 24px;
    font-weight: 500;
    color: #191919;
    position: relative;
    padding-left: 40px;
}
.join_wrap .txt_wrap input[type="checkbox"] + .all:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url(../images/radio_big.png) no-repeat;
}
.join_wrap .txt_wrap input[type="checkbox"]:checked + .all:before {background: url(../images/radio_checked_big.png) no-repeat;}


.join_wrap .txt_wrap .agree_scroll label {font-weight: 500;}
.join_wrap .txt_wrap .agree_scroll em {color: #d0112b;}

/* 회원가입페이지 스크롤랩 체크 공통 */
.join_wrap .txt_wrap .agree_scroll_wrap input[type="checkbox"] + label {
    position: relative;
    padding-left: 40px;
}
.join_wrap .agree_scroll_wrap input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background: url(../images/radio.png) no-repeat;
}
.join_wrap .agree_scroll_wrap input[type="checkbox"]:checked + label:before {background: url(../images/radio_checked.png) no-repeat;}

.join_wrap .txt_wrap .agree_scroll_wrap { margin: 0 108px;padding-bottom: 150px;}
.join_wrap .txt_wrap .agree_scroll_wrap .txt_scroll {
    width: 968px;
    height: 182px;
    border: 1px solid #bab8b7;
    overflow: auto;
    margin-top: 20px;
    font-size: 13px;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 20px;
}
.join_wrap .agree_scroll { padding-top: 80px; }

.join_wrap .btn_next_wrap {
    text-align: center;
    padding: 100px 0;
}
.join_wrap .btn_next {
    display: inline-block;
    width: 200px;
    line-height: 50px;
    border-radius: 50px;
    background: #00704a;
    color: #fff;
    font-weight: 500;
    text-align: center;
}