@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,500,600,700,800');
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, input, button, select, textarea {margin: 0;padding: 0;vertical-align: top;}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
button,input {border-radius: 0}
button {cursor: pointer;}
button,input,select {vertical-align: middle;}
fieldset,img {border: 0}
ol,ul {list-style: none}
address,em {font-style: normal}
a {text-decoration: none}
iframe {overflow: hidden;margin: 0;padding: 0;border: 0}

.blind {
    position: absolute;
    overflow: hidden;
/*    마스크효과 clip:rect(위,오른쪽,아래,왼쪽)*/
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px
}

table {border-collapse: collapse;border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%;}
h2 {font-size: 40px;color: #222;font-weight: 700;}

body {line-height: 1.5;}
textarea {resize: none; background: #f6f6f6; border: 1px solid #dcdcdc;}

body,input,select,textarea,button,table {font-family: 'Noto Sans KR','맑은 고딕','malgun gothic','sans-serif'; font-size: 16px;color: #615a54;}

#wrap {min-width: 1180px; position: relative;}

#header {
    position: relative;
    width: 100%;
    z-index: 99999;
    background: #fff;
}
#header.on {
    position: fixed;
    left: 0;
    top: 0;
}
#header.on .top_header {
    height: 0;
}

#header .top_header {
    width: 1100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    transition: all 0.5s;
}

#header .top_header .logo {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -84px;
}
#header .top_header .logo img {
    width: 168px;
    height: 40px;
}

#header .all_menu {
    background: url(../images/ico_menu.png) no-repeat 50% 50%;
    text-indent: -9999px;
    width: 26px;
    height: 18px;
    border: none;
    position: absolute;
    left: 50%;
    top: 41px;
    margin-left: -600px;
    z-index: 100;
    outline: none;
    transition: all 0.3s;
}
#header.on .all_menu {
    background: url(../images/ico_menu_on.png) no-repeat;
    top: 25px;
}
#header .all_menu.on {
    background-image: url(../images/btn_close.png);
    border: none;
}
#header.on .all_menu.on {
    background-image: url(../images/btn_close_on.png);
}


#header .top_header .btn_lang {
    width: 88px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 36px;
}
#header .top_header .btn_lang .lang {
    width: 100%;
    height: 28px;
    text-indent: -25px;
    font-size: 15px;
    color: #615a54;
    background: url(../images/select_arrow.png) no-repeat 85% 50%;
    border: 1px solid #c6c6c6;
    outline: none;
}

#header .top_header .btn_lang .btn_lang_eng {
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;
    background: #e4e4e4;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    border-top: none;
    display: none;
}
#header .top_header .btn_lang .btn_lang_eng a {
    font-size: 15px;
    color: #3e3e3c;
    text-align: center;
    line-height: 28px;
    display: block;
}


#header .top_header .util {
    float: right;
}
#header .top_header .util li {
    float: left;
    position: relative;
    margin: 0 20px;
}
#header .top_header .util li:nth-child(2):after {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background: #000;
    position: absolute;
    left: -19px;
    top: 43px;
}
#header .top_header .util li a {
    color: #615a54;
    font-size: 15px;
    line-height: 100px;
}
#header .top_header .util li a:hover {
    text-decoration: underline;
}

#header .search_open {
    border: none; 
    margin-top: 39px;
/*    position: relative;*/
    text-indent: -9999px;
    background: url(../images/btn_search.png) no-repeat;
    width: 18px;
    height: 18px;
    outline: none;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 560px;
    z-index: 100;
    transition: all 0.3s;
}
#header.on .search_open {
    top: -13px;
    background: url(../images/btn_search_on.png) no-repeat;
}
#header .search_open.on {
    background-image: url(../images/btn_close.png);
    border: none;
}
#header.on .search_open.on {
    background-image: url(../images/btn_close_on.png);
}

#header .bottom_header_wrap {
    background: #e3051a;
    height: 70px;
    transition: all 0.3s;
    position: relative;
}
/*******************전체메뉴*************************/
#header .bottom_header_wrap .all_menu_inner {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    width: 1100px;
    height: 0;
    border: 2px solid #615a54;
    background: #fff;
    z-index: 9;
    display: none;
}
#header .all_menu_inner .all_list>li {
    float: left;
    border-right: 1px solid #dcdcdc;
    width: 189px;
    height: 227px;
    padding: 30px 0 0 30px;
}
#header .all_menu_inner .all_list .list1 {
    border-bottom: 1px solid #dcdcdc;
}
#header .all_menu_inner .all_list>li:nth-child(5) {
    border-right: none;
}
#header .all_menu_inner .all_list .all_tit {
    font-size: 16px;
    color: #615a54;
    font-weight: 600;
    margin-bottom: 15px;
}
#header .all_menu_inner .all_list .detph2 a {
    font-size: 13px;
    color: #615a54;
}
#header .all_menu_inner .all_list .detph2 a:hover {
    text-decoration: underline;
}
/*************************************************************/

/***********************검색창*******************************/
#header .search_wrap {
    position: absolute;
    left: 0;
/*    top: 170px;*/
    width: 100%;
    height: 0px;
    background: #e3e1e1;
    z-index: 99;
    display: none;
}
#header .search_wrap form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
}
#header .search_wrap fieldset {
    border-bottom: 1px solid #615a54;
}
#header .search_wrap .input_search {
    width: 410px;
    background: none;
    border: none;
    font-size: 15px;
    color: #615a54;
    margin-left: 5px;
    height: 50px;
}
#header .search_wrap .btn_search {
    text-indent: -9999px;
    background: url(../images/btn_search_03.png) no-repeat 100% 50%;
    width: 20px;
    border: none;
    margin-left: 5px;
}
/*************************************************************/

#header .bottom_header_wrap .bottom_header {
    width: 1100px;
    height: 70px;
    margin: 0 auto;
}
#header .bottom_header_wrap .bottom_header .gnb {
    float: left;
    height: 70px;
}
#header .bottom_header_wrap .bottom_header .gnb>li {
    float: left;
    margin: 0 70px;
    position: relative;
}
#header .bottom_header_wrap .bottom_header .gnb>li:after {
    content: '';
    position: absolute;
    right: 0%;
    top: 26px;
    margin-right: -22px;
    background: url(../images/star.png) no-repeat 50% 50%;
    width: 16px;
    height: 16px;
    display: none;
}
#header .bottom_header_wrap .bottom_header .gnb>li:hover:after
{display: block;}
#header .bottom_header_wrap .bottom_header .gnb>li>a {
    color: #fff;
/*    font-weight: 500;*/
    font-size: 20px;
    display: inline-block;
    line-height: 70px;
}

.bottom_header_wrap .gnb .detph2_wrap {
    position: absolute;
    left: 0;
    top: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 160px;
    text-align: center;
    padding: 15px 0;
    background: #fff;
    display: none;
    z-index: 999;
}

.bottom_header_wrap .gnb .detph2_wrap .detph2 a {
    font-size: 15px;
    color: #615a54;
    white-space: nowrap;
    padding: 5px 0;
    display: block;
}
.bottom_header_wrap .gnb .detph2_wrap .detph2 a:hover {
    color: #d31111;
}

/*서브메뉴 위치*/
.bottom_header_wrap .gnb .gnb1 {
    margin-left: -35px;
}
.bottom_header_wrap .gnb .gnb2 {
    margin-left: -40px;
}
.bottom_header_wrap .gnb .gnb3 {
    margin-left: -47px;
}
.bottom_header_wrap .gnb .gnb4 {
    margin-left: -40px;
}
.bottom_header_wrap .gnb .gnb5 {
    margin-left: -38px;
}

/**************메인 슬라이더*********************/

#main .main_visual .swiper-slide {
    position: relative;
    height: 697px;
    overflow: hidden;
}
#main .main_visual .swiper-slide .main_slider1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}
#main .main_slider .swiper-pagination {
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
    width: auto;
    line-height: 10px;
    padding: 0 77px 0 31px;
}
#main .main_slider .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    width: 16px;
    height: 16px;
    opacity: 1;
    vertical-align: middle;
    outline: none;
}
#main .main_slider .swiper-pagination .swiper-pagination-bullet-active {
    background: url(../images/pagination_star.png) no-repeat;
    width: 23px;
    height: 22px;
}
#main .main_slider .swiper-button-prev {
    background: url(../images/ico_prev_03.png) no-repeat;
    width: 53px;
    height: 53px;
    left: 100px;
    margin-top: -26px;
    outline: none;
}
#main .main_slider .swiper-button-next {
    background: url(../images/ico_next_03.png) no-repeat;
    width: 53px;
    height: 53px;
    right: 100px;
    margin-top: -26px;
    outline: none;
}
#main .main_slider .btn_slider {
    position: absolute;
    left: 50%;
    bottom: 52px;
    z-index: 99;
    background: url(../images/stop_slider_03.png) no-repeat;
    text-indent: -9999px;
    width: 14px;
    height: 17px;
    border: none;
    margin-left: 23px;
    outline: none;
}
#main .main_slider .btn_slider.on {
    background-image: url(../images/play_slider_03.png);
    border: none;
}

#main .section1 {
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0 80px;
}
#main .section1 h3 {
    font-size: 40px;
    color: #2b2723;
    font-weight: 700;
    text-align: center;
}
#main .section1 p {
    font-size: 25px;
    color: #615a54;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    display: block;
}
#main .section1 .new_list {
    margin-top: 37px;
}
#main .section1 .new_list>li {
    float: left;
    margin-right: 69px;
    width: 316px;
    height: 415px;
}
#main .section1 .new_list>li:first-child {
    background: #fdd692;
}
#main .section1 .new_list>li:nth-child(2) {
    background: #ffe5ee;
}
#main .section1 .new_list>li:nth-child(3) {
    background: #c2def0;
    margin-right: 0;
}
#main .section1 .new_list .list1_txt a {
    display: block;
    padding: 30px 0;
}
#main .section1 .new_list .list1_txt h5 {
    font-size: 25px;
    color: #313030;
    font-weight: 700;
    margin-top: -10px;
    padding-left: 30px;
}
#main .section1 .new_list .new1 h5 span {
    color: #6b3c27;
}
#main .section1 .new_list .new2 h5 span {
    color: #ce4259;
}
#main .section1 .new_list .new3 h5 span {
    color: #ee1b2a;
}
#main .section1 .new_list .list1_txt em {
    font-size: 20px;
    color: #313030;
    font-weight: 700;
    padding-left: 30px;
}
#main .section1 .new_list .list1_txt p {
    font-size: 16px;
    text-align: left;   
    font-weight: 500;
    letter-spacing: -0.05em;
    line-height: 1.2;
    padding-left: 30px;
}
#main .section1 .new_list .list1_txt p span {
    color: #df4b82;
}

#main .section1 .new_list .list1_txt img {
    display: block;
    margin: 35px auto 0;
}
#main .section1 .new_list .list1_txt a:hover img {
    transform: rotate(20deg);
}


#main .section2_wrap {
    background: url(../images/section2_visual_02.jpg) no-repeat 50% 55%;
    background-size: cover;
    overflow: hidden;
    width: 100%;
}
#main .section2_wrap .section2 {
    width: 1100px;
    height: 700px;
    padding: 60px 0 80px;
    margin: 0 auto;
}
#main .section2_wrap .section2 h3 {
    text-align: center;
    font-size: 40px;
    color: #2b2723;
    font-weight: 700;
}
#main .section2_wrap .section2 p {
    font-size: 25px;
    color: #615a54;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    display: block;
}
#main .section2_wrap .section2 p span {
    color: #e3051a;
    font-size: 30px;
    margin-top: -5px; 
    display: inline-block;
}
#main .section2_wrap .section2 .section2_list1 {
    float: left;
    margin-top: 37px;
    transition: all 0.9s ;
    transform: translateY(150px);
    opacity: 0;
}
#main .section2_wrap.active .section2 .section2_list1 {
    opacity: 1;
    transform: translateY(0);
}
#main .section2_wrap .section2 .section2_list1 li {
    float: left;
    margin-right: 275px;
}

#main .section2_wrap .section2 .section2_list2 {
    float: left;
    margin-left: 275px;
    transition: all 1.5s ;
    transform: translateY(150px);
    opacity: 0;
}
#main .section2_wrap.active .section2 .section2_list2 {
    opacity: 1;
    transform: translateY(0);
}
#main .section2_wrap .section2 .section2_list2 li {
    float: left;
}

#main .section3 {
    width: 100%;
    background: #fcf6e3;
    position: relative;
}
#main .section3 .section3_wrap {
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0 80px;
}
#main .section3 .section3_wrap h3 {
    text-align: center;
    font-size: 40px;
    color: #2b2723;
    font-weight: 700;
}
#main .section3 .section3_wrap .txt {
    font-size: 25px;
    color: #615a54;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    display: block;
}
#main .section3 .section3_wrap .txt span {
    color: #e3051a;
    font-size: 30px;
    margin-top: -5px; 
    display: inline-block;
}
#main .section3 .section3_wrap .section3_inner {
    margin-top: 42px;
}
.section3_wrap .section3_inner .news_txt {
    float: left;
    width: 215px;
    height: 363px;
    background: #fff;
    padding: 23px 30px 35px;
    position: relative;
}
.section3_wrap .section3_inner .news_txt .tit {
    font-size: 20px;
    color: #221f21;
    font-weight: 600;
}
.section3_wrap .section3_inner .news_txt h4 {
    font-size: 30px;
    color: #221f21;
    font-weight: 600;
    margin-top: -7px;
}
.section3_wrap .section3_inner .news_txt h4 span {
    color: #df842c;
}
.section3_wrap .section3_inner .news_txt .news_plus {
    position: absolute;
    right: 20px;
    top: 30px;
}
.section3_wrap .news_txt .txt_list li  {
    padding: 9px 0;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.section3_wrap .news_txt .txt_list li span {
    margin-right: 10px;
    margin-top: -2px;
    display: inline-block;
}
.section3_wrap .news_txt .txt_list li a {
    font-size: 15px;
    color: #615a54;
}
.section3_wrap .news_txt .txt_list li a:hover {
    text-decoration: underline;
}

.section3_wrap .section3_inner .sns_list {
    float: left;
    margin-left: 45px;
}
.section3_wrap .section3_inner .sns_list li {
    float: left;
    margin-right: 57px;
}
.section3_wrap .section3_inner .sns_list li:last-child {
    margin-right: 25px;
}

.section3_wrap .section3_inner .family_txt {
    float: right;
    width: 215px;
    height: 142px;
    padding: 23px 30px 35px;
    position: relative;
    background: #fff url(../images/jop_info_03.png) no-repeat 190px 98px;
}
.section3_wrap .family_txt .tit {
    font-size: 20px;
    color: #221f21;
    font-weight: 600;
}
.section3_wrap .family_txt h4 {font-size: 30px;color: #221f21;font-weight: 600;margin-top: -7px;}
.section3_wrap .family_txt h4 span {
    color: #e3051a;
}
.section3_wrap .family_txt .family_plus {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 10px;
}

.section3_wrap .videoPlay {
    float: left;
    width: 511px;
    height: 328px;
    margin: 20px 0 0 20px;
    opacity: 1;
}
.section3_wrap .videoPlay:hover {
    opacity: 0.8;
}

.section3_wrap .section3_inner .recipe_txt {
    float: right;
    width: 215px;
    height: 142px;
    padding: 23px 30px 35px;
    background: #fff url(../images/frypen_03.png) no-repeat 157px 102px;
    margin-top: 20px;
    position: relative;
}
.section3_wrap .recipe_txt .recipe_plus {
    position: absolute;
    right: 20px;
    top: 30px;
}
.section3_wrap .recipe_txt .tit {
    font-size: 20px;
    color: #221f21;
    font-weight: 600;
}
.section3_wrap .recipe_txt h4 {
    font-size: 30px;
    color: #221f21;
    font-weight: 600;
    margin-top: -7px;
}
.section3_wrap .recipe_txt h4 span {
    color: #48a0dc;
}
.section3 .top_btn {
    position: fixed;
    right: 50px;
    bottom: 320px;
    display: none;
}
.section3 .top_btn a {
    width: 70px;
    height: 70px;
    background: #fff url(../images/top_btn.png) no-repeat 50% 30%;
    border-radius: 100%;
    text-align: center;
    display: block;
    line-height: 86px;
    color: #3e3e3e;
    border: 1px solid #dcdcdc;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}


/******************기업정보페이지****************************/
.sub_header .bottom_header .gnb>li:hover .detph2_wrap {
    border: 1px solid #dcdcdc;
}

#container .location_wrap {
    background: #fff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
#container .location_wrap.on {
    padding-top: 170px;
}
#container .location_wrap .location_inner {
    height: 50px;
    width: 1100px;
    margin: 0 auto;
    border-left: 1px solid #dcdcdc;
}
#container .location_wrap .location_inner .location {
    float: left;
}
#container .location_wrap .location>li {
    float: left;
    padding: 0 45px;
    line-height: 50px;
    border-right: 1px solid #dcdcdc;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
#container .location_wrap .location>li:first-child {
    padding: 0 15px;
}
#container .location_wrap .location>li:nth-child(2) {
    cursor: default;
}
#container .location_wrap .location>li:nth-child(3),#container .location_wrap .location>li:nth-child(4) {
    padding-right: 110px;
}
#container .location_wrap .location>li:nth-child(3):before,#container .location_wrap .location>li:nth-child(4):before {
    content: '';
    position: absolute;
    right: 20%;
    top: 24px;
    border-top: 6px solid #63666a;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

#container .location_wrap .location img {
    margin-top: 15px;
}
#container .location_wrap .location>li>a {
    display: block;
    color: #615a54;
}
#container .location_wrap .location .depth2 {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border: 1px solid #dcdcdc;
    display: none;
    background: #fff;
    z-index: 100;
}
#container .location_wrap .location .depth2 li a {
    color: #615a54;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 30px;
}
#container .location_wrap .location .depth2 li:last-child a {
    border-bottom: none;
}
#container .location_wrap .location .depth2 li.active {
    background: #f0f0f0;
}
#container .location_wrap .location .depth2 li:hover {
    background: #f0f0f0;
}
#container .location_wrap .location .depth2 li a:hover {
    color: #e3051a;
    text-decoration: underline;
}

#container .content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 70px;
}
#container .content h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}
#container .content .navigation_wrap {
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    margin-top: 70px;
}
#container .content .navigation {
    display: inline-block;
}
#container .content .navigation li {
    float: left;
    border-top: 2px solid #dcdcdc;
    border-left: 2px solid #dcdcdc;
    width: 210px;
    padding: 10px 0;
    text-align: center;
}
#container .content .navigation li.active {
    border-top: 2px solid #e41226;
    position:relative;
}
#container .content .navigation li.active:after {
    content:'';
    position:absolute;
    left:0;
    bottom: -2px;
    width:100%;
    height:3px;
    background:#fff;
}
#container .content .navigation li:last-child {
    border-right: 2px solid #dcdcdc;
}
#container .content .navigation li a {
    font-size: 18px;
    color: #615a54;
    display: block;
}

#container .corp_info_wrap .corp_info_inner {
    overflow: hidden;
}
#container .corp_info_wrap .corp_info {
    margin-top: 70px;
    border-left: 2px solid #e41226;
    padding-left: 50px;
}
#container .corp_info_wrap .corp_info h3 {
    font-size: 30px;
    letter-spacing: -0.05em;
    line-height: 40px;
}
#container .corp_info_wrap .corp_info strong {
    font-size: 40px;
}
#container .corp_info_wrap .corp_info p {
    font-size: 16px;
    margin-top: 5px;
}
#container .corp_info_wrap .sub_wrap.section1 {
    margin-top: 80px;
}
#container .corp_info_wrap .sub_wrap .inner_tit.text1 {
    float: right;
}
.corp_info_wrap .sub_wrap .inner_tit span {
    font-size: 40px;
    font-weight: 600;
    color: #333333; 
    display: block;
    margin-top: -15px;
}
.corp_info_wrap .inner_tit .txt1 {
    margin-top: 30px;
}
.corp_info_wrap .inner_tit .txt1 li {
    margin-bottom: 50px;
}
.corp_info_wrap .sub_wrap .inner_tit strong {
    font-size: 30px;
    color: #e3051a;
}
.corp_info_wrap .sub_wrap .inner_tit p {
    font-size: 27px;
    display: inline-block;  
    line-height: 30px;
    margin-top: 7px;
    margin-left: 20px;
}

#container .corp_info_wrap .sub_wrap.section2 {
    margin-top: 60px;
}
#container .corp_info_wrap .sub_wrap.section3 {
    margin-top: 10px;
}
#container .corp_info_wrap .sub_wrap .inner_tit.text2 {
    float: left;
}
#container .corp_info_wrap .sub_wrap.section2 img {
    float: right;
}
/**********************기업페이지 끝******************************/


/**********************제품소개 페이지*****************************/
#container.container_product_info .location_wrap .location>li {
    float: left;
}

#container.container_product_info .content .navigation li {
    float: left;
    border-top: 2px solid #dcdcdc;
    border-left: 2px solid #dcdcdc;
    width: 181px;
    padding: 10px 0;
    text-align: center;
}
#container.container_product_info .content .navigation li.active {
    border-top: 2px solid #e41226;
    position:relative;
}
#container.container_product_info .content .navigation li.active:after {
    content:'';
    position:absolute;
    left:0;
    bottom: -2px;
    width:100%;
    height:3px;
    background:#fff;
}

#container .content .product_info_wrap {
    padding-top: 30px;
}
#container .content .product_info_wrap .product_info {
    width: 1000px;
    margin: 50px auto 15px;
    overflow: hidden;
}
#container .product_info_wrap .product_info .product_list li {
    float: left;
    border: 1px solid #dcdcdc;
    margin-bottom: 47px;
    position: relative;
}
#container .product_info_wrap .product_info .product_list li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0px solid #e3051a;
    box-sizing: border-box;
    transition: all 0.2s;
}
#container .product_info_wrap .product_info .product_list li:hover:after {
    border: 4px solid #e3051a;    
}

#container .product_info_wrap .product_info .product_list li:nth-child(3n-1) {
    margin: 0 47px;
}
#container .product_info_wrap .product_info .product_list li a {
    display: block;
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    z-index: 100;
}
#container .product_info_wrap .product_info .product_list .list1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#container .product_info_wrap .product_info .product_list .list1 p {
    margin-top: 10px;
    color: #615a54;
    font-size: 14px;
}

#container .content .board_pagination {
    text-align: center;
    line-height: 29px;
    clear: both;
}
#container .content .board_pagination a {
    display: inline-block;
    border: 1px solid #dcdcdc;
    width: 30px;
    height: 30px;
    color: #615a54;
}
#container .content .board_pagination a.active {
    background: #e3051a;
    color: #fff;
    border: 1px solid #e3051a;
}

/**********************제품소개 페이지 끝*****************************/

/*********************제품소개 상세페이지**************************/
#container.container_view .content {
    padding-bottom: 100px;
}
#container.container_view .view_wrap {
    margin-top: 50px;
}
#container.container_view .view_wrap img {
    margin: 30px 0 0 70px;
    float: left;
}
#container.container_view .view_wrap .view_txt {
    float: left;
    margin: 70px 0 0 50px;
}
#container.container_view .view_wrap h3 {
    font-size: 18px;
    font-weight: 600;
}
#container.container_view .view_wrap h3 strong {
    font-size: 24px;
    color: #222;
}
#container.container_view .view_wrap .tit {
    padding: 20px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
    margin-top: 20px;
}
#container.container_view .content .btn_list {
    text-align: center;
    padding-top: 50px;
    clear: both;
}
#container.container_view .content .list_view {
    width: 160px;
    line-height: 50px;
    border-radius: 45px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #615a54;
    font-weight: 500;
    font-size: 18px;
}
/**********************제품소개 상세페이지 끝****************************/


/************************홍보관************************************/
#container.container_ad .ad_txt {
    margin-top: 70px;
    border-left: 2px solid #e41226;
    padding-left: 50px;
}
#container.container_ad .ad_txt h3 {
    font-size: 40px;
    letter-spacing: -0.05em;
    line-height: 40px;
}
#container.container_ad .ad_txt p {
    font-size: 16px;
    margin-top: 5px;
}

#container.container_ad .ad_wrap .ad_inner {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto 15px;
}
#container.container_ad .ad_wrap .ad_inner .ad_inner_list {
    float: left;
}
#container.container_ad .ad_wrap .ad_inner li {
    float: left;
    margin-bottom: 50px;
    background: rgba(0,0,0,.8);
}
#container.container_ad .ad_wrap .ad_inner_list>li:nth-child(3n-1) {
    margin: 0 50px;
}
#container.container_ad .ad_wrap .ad_inner_list>li a {
    position: relative;
    display: block;
}

#container.container_ad .ad_wrap .ad_inner_list>li>a p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    display: none;
}
#container.container_ad .ad_wrap .ad_inner_list>li>a:hover p {
    display: block;
}
#container.container_ad .ad_wrap .ad_inner_list>li>a img {
    opacity: 1;
    transition: all 0.4s;
}
#container.container_ad .ad_wrap .ad_inner_list>li>a:hover img {
    opacity: .2;
}

/**********************홍보관 영상클릭 페이지*************************/
#container.container_ad .content {
    padding-bottom: 100px;
}
#container.container_ad .ad_view_wrap {
    width: 1100px;
    margin: 0 auto;
}
#container.container_ad .ad_view_wrap .view_video {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 70px 0;
    position: relative;
}
#container.container_ad .ad_view_wrap .view_video h3 {
    font-size: 40px;
    margin-top: 10px;
}
#container.container_ad .ad_view_wrap .view_video .video_list {
    margin-top: 30px;
}
#container.container_ad .ad_view_wrap .view_video .video_list li {
    float: left;
    margin-left: 50px;
    width: 160px;
    height: 160px;
}
#container.container_ad .ad_view_wrap .view_video .video_list li:first-child {
    margin-left: 0;
}
#container.container_ad .ad_view_wrap .view_video .video_list li span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #615a54;
}
#container.container_ad .ad_view_wrap .view_video .video_list li:hover span {
    text-decoration: underline;
}
#container.container_ad .ad_view_wrap .btn_wrap {
    text-align: center;
}
#container.container_ad .ad_view_wrap .btn_wrap .btn_list {
    width: 160px;
    line-height: 50px;
    border-radius: 45px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #615a54;
    font-weight: 500;
    font-size: 18px;
}
/***********************홍보관 페이지 끝****************************/



/**************************고객센터 페이지*****************************/

#container.container_customer .customer_wrap .customer_txt {
    margin-top: 70px;
    border-left: 2px solid #e41226;
    padding-left: 50px;
}
#container.container_customer .customer_wrap .customer_txt h3 {
    font-size: 40px;
    letter-spacing: -0.05em;
    line-height: 45px;
}
.customer_wrap .inner_customer {
    width: 1000px;
    margin: 0 auto;
}
.customer_wrap .customer_section1 {
    margin-top: 60px;
}
.customer_wrap .customer_section1 span {
    font-size: 16px;
}

.customer_wrap .customer_section1 .complain_wrap p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
}
.customer_wrap .complain_wrap .complain {
    padding: 10px 0;
}
.customer_wrap .complain_wrap .complain .inner_complain {
    width: 1000px;
    height: 220px;
    border: 1px solid #615a54;
    background: #f6f6f6;
    overflow-y: scroll;
}
.customer_wrap .complain_wrap .inner_complain .inner_tit {
    margin: 20px 20px;
}
.customer_wrap .complain_wrap .inner_complain .inner_tit>span {
    font-weight: 600;
    display: block;
}
.customer_wrap .complain_wrap .inner_complain .inner_tit>em {
    margin-bottom: 20px;
    display: block;
}
.customer_wrap .complain_wrap input {
    margin-right: 5px;
}
.customer_wrap .complain_wrap label {
    font-size: 18px;
    font-weight: 200;
    padding-right: 10px;
}
/****************************라디오 버튼*********************************/
.customer_wrap .complain_wrap .check input[type='radio'] {
    display: none;    /* 실제 라디오버튼 없애기 */
}
.customer_wrap .complain_wrap .check input[type='radio'] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
}
.customer_wrap .complain_wrap .check input[type='radio'] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    background: url(../images/bg_checkbox.png) no-repeat;
    width: 19px;
    height: 19px;
}
.customer_wrap .complain_wrap .check input[type='radio']:checked + label:before {
    background: url(../images/bg_checkbox_on.png) no-repeat;
    width: 19px;
    height: 19px;
}

.customer_wrap .inner_customer .guide {
    float: right;
    color: #cb630a;
    font-weight: 200;
}

.customer_wrap .customer_section2 {
    border-top: 2px solid #615a54;
    border-bottom: 2px solid #615a54;
    margin-top: 50px;
    width: 1000px;
}
.customer_wrap .customer_section2 table {
    width: 100%;
    text-align: left;
}
.customer_wrap .customer_section2 table img {
    padding: 0 10px 0 17px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.customer_wrap .customer_section2 table th {
    margin-left: 17px;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}
.customer_wrap .customer_section2 table td {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0;
}
.customer_wrap .customer_section2 table td p {
    color: #cb630a;
    font-weight: 200;
}
.customer_wrap .customer_section2 table tr:last-child th,.customer_wrap .customer_section2 table tr:last-child td {
    border-bottom: none;
}
.customer_wrap .customer_section2 table td>select {
    width: 60px;
    height: 33px;
}
.customer_wrap .customer_section2 table td input {
    background: #f6f6f6;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    height: 33px;
    padding: 0 10px;
}
/*****인풋 사이즈*****/
.customer_wrap .customer_section2 table td .tit.t2,.customer_wrap .customer_section2 table td .tit.t3 {
    width: 100px;
}
.customer_wrap .customer_section2 table td .tit.t4 {
    width: 157px;
}
.customer_wrap .customer_section2 table td #emailDomain {
    width: 157px;
    margin-left: 10px;
}
.customer_wrap .customer_section2 table td .tit.t5,.customer_wrap .customer_section2 table td .tit.t6 {
    width: 620px;
}
.customer_wrap .customer_section2 table td .tit.t7 {
    width: 640px;
    height: 145px;
    border-radius: 3px;
}
.customer_wrap .customer_section2 table td .tit.t9 {
    width: 375px;
}
.customer_wrap .customer_section2 table td em {
    padding: 0 5px;
    line-height: 33px;
}
.customer_wrap .customer_section2 table td button {
    border: 1px solid #dcdcdc;
    background: #e1e1e1;
    border-radius: 40px;
    width: 133px;
    height: 36px;
    line-height: 36px;
    margin: -5px 0 0 10px;
}
.customer_wrap .customer_section2 table td.body {
    padding: 10px 0;
}
/*우편번호 검색*/
.customer_wrap .customer_section2 .sub_section2 {
    margin-top: 10px;
}
.customer_wrap .inner_customer .btn_ck {
    cursor: pointer;
    border: 1px solid #dcdcdc;
    background: #e1e1e1;
    border-radius: 40px;
    width: 133px;
    line-height: 33px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
.customer_wrap .inner_customer .post_ad {
    width: 370px;
    margin-left: 10px;
}

/*파일첨부*/
.customer_wrap .inner_customer .filebox_inner {
    margin-bottom: 20px;
} 
.customer_wrap .inner_customer .filebox input[type='file'] {
    display: none;
} 
.customer_wrap .inner_customer .upload {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: #f6f6f6;
    height: 33px;
    padding-left: 10px;
}

/*파일 추가*/
.customer_wrap .inner_customer .addfile {
    background: url(../images/icon_file_plus.png) no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    margin-left: 12px;
}

/*파일 삭제*/
.customer_wrap .inner_customer .addfile2 {
    background: url(../images/icon_file_minus.png) no-repeat;
}

.customer_wrap .btn_confirm {
    clear: both;
    text-align: center;
    padding-top: 30px;
}
.customer_wrap .btn_confirm a {
    width: 160px;
    line-height: 50px;
    border-radius: 45px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #615a54;
    font-weight: 500;
    font-size: 18px;
    margin: 0 10px;
}
.customer_wrap .btn_confirm a.active {
    background: #e3051a;
    color: #fff;
    border: none;
}

/**************************고객센터 페이지 끝***************************/


/**********************로그인페이지********************************/
#container.container_login .location_wrap .location li:last-child {
    padding: 0 60px;
}

#container .content {
    width: 1100px;
    margin: 0 auto;
}
#container.container_login .login_section {
    padding: 30px 0 0;
    overflow: hidden;
}
#container.container_login .login_section .btn_member {
    float: left;
    display: none;
}
#container.container_login .login_section .btn_member li {
    float: left;
    width: 550px;
    text-align: center;
    border-bottom: 2px solid #4e4546;
}
#container.container_login .login_section .btn_member li>a {
    line-height: 70px;
    font-size: 18px;
    font-weight: 600;
    color: #4e4546;
}
#container.container_login .login_section .btn_member li.active {
    background: #4e4546;
}
#container.container_login .login_section .btn_member li.active>a {
    color: #fff;
}

#container.container_login .login_section .login_frm {
    border-right: 2px solid #4e4546;
    float: left;
    width: 418px;
    margin-left: 63px;
    margin-top: 50px;
    padding-right: 66px;
}

.login_section .login_frm .login_inner {
    float: left;    
}
.login_section .login_frm .login_inner>input {
    float: left;
    display: inline-block;
    width: 284px;
    height: 35px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.login_section .login_frm .input_list ._tit {
    width: 290px;
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
}
.login_section .login_frm .input_list ._tit.pw {
    margin: 15px 0;
}
.login_section .login_frm .btn_login1 {
    float: right;
    width: 93px;
    height: 93px;
    border: none;
    background: #4e4546;
    color: #fff;
    font-weight: 600;
    margin-top: -54px;
}

.login_section .login_frm .id_chk {
    margin: -7px 5px 0 0;
}

.login_section .login_frm label {
    font-size: 15px;
    font-weight: 600;
    padding-right: 10px;
} 
.login_section .login_frm a {
    font-size: 15px;
    font-weight: 600;
    color: #615a54;
    position: relative;
    padding: 0 10px;
}
.login_section .login_frm a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 1px;
    height: 10px;
    background: #615a54;
}
.login_section .login_frm .btn_login2 {
    margin: 10px 0;
    border: none;
}


.login_section .right_txt {
    float: right;
    width: 418px;
    height: 300px;
    margin-top: 50px;
    margin-right: 63px; 
}
.login_section .right_txt h3 {
    font-size: 18px;
    color: #4e4546;
    font-weight: 600;
}
.login_section .right_txt p {
    font-size: 15px;
    color: #4e4546;
    margin-top: 20px;
}
.login_section .right_txt a {
    font-size: 20px;
    color: #4e4546;
    font-weight: 600;
    margin-top: 30px;
    display: inline-block;
    position: relative;
}
.login_section .right_txt a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #4e4546;
}




/**************************로그인 페이지 끝*******************************/


#footer .top_footer {
    background: #850916;
}
.top_footer .top_footer_inner {
    width: 1100px;
    margin: 0 auto;
    height: 50px;
}
.top_footer .top_footer_inner .inner_tit {
    float: left;
}
.top_footer .top_footer_inner .inner_tit li {
    float: left;
    padding: 0 20px;
    position: relative;
}
.top_footer .top_footer_inner .inner_tit li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 19px;
    width: 1px;
    height: 14px;
    background: #fff;
}
.top_footer .top_footer_inner .inner_tit li:first-child {
    padding-left: 0;
}
.top_footer .top_footer_inner .inner_tit li:first-child:before {
    display: none;
}
.top_footer .top_footer_inner .inner_tit a {
    font-size: 15px;
    color: #fff;
    line-height: 50px;
}
.top_footer .top_footer_inner .inner_tit a:hover {
    color: #c9af38;
}

.top_footer .top_footer_inner .family_wrap {
    float: right;
    width: 182px;
    background: #5a020a;
    position: relative;
}
.top_footer_inner .family_wrap .btn_family {
    height: 50px;
    width: 100%;
    border: none;
    font-size: 13px;
    color: #fff;
    background: url(../images/family_btn.png) no-repeat 90% 50%;
    text-indent: -86px;
    outline: none;
}
.top_footer_inner .family_wrap .list_family {
    position: absolute;
    left: 0;
    bottom: 50px;
    display: none ;
    width: 180px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dcdcdc;
}
.top_footer_inner .family_wrap .family_menu {
    text-indent: 15px;
}
.top_footer_inner .family_wrap .family_menu a {
    font-size: 13px;
    color: #615a54;
    display: block;
    line-height: 35px;
}
.top_footer_inner .family_wrap .family_menu a:hover {
    background: #aaa8a5;
    color: #fff;
}

#footer .bottom_footer {
    background: #b71020;
}
#footer .bottom_footer .bottom_footer_inner {
    width: 1100px;
    height: 187px;
    margin: 0 auto;
}
.bottom_footer_inner .inner_txt {
    padding-top: 76px;
}
.bottom_footer_inner .inner_txt .footer_logo {
    float: left;
}
.bottom_footer_inner .inner_txt address {
    float: left;
    font-size: 13px;
    color: #fff;
    padding-left: 40px;
}
.bottom_footer_inner .inner_txt p {
    float: right;
    font-size: 25px;
    color: #fff;
    line-height: 22px;
}

















