@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,400,500,600,700,900');

*{box-sizing: border-box;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;vertical-align: top; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);}

/*aside(퀵메뉴), footer, header, nav, section, main 주로 씀*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
button,input {border-radius: 0}
button {cursor: pointer;}
fieldset,img {border: 0}
ol,ul {list-style: none}
address,em {font-style: normal}
a {text-decoration: none}
iframe {overflow: hidden;margin: 0;padding: 0;border: 0}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px
}

table {border-collapse: collapse;border-spacing: 0; table-layout: fixed;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}
input, button, select, label {margin: 0;padding: 0; vertical-align: middle;}
/*모바일 브라우져에서 글자크기 자동확대 방지*/
body {line-height: 1.5; -webkit-text-size-adjust:none;}

body,input,select,textarea,button,table {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 13px;
}
html,body {height: 100%;}
/*모바일 기기 최소 사이즈인 320px 이하로 줄어들지 않게함(아이폰3 가로:320px)*/

#wrap {min-width: 320px; height: 100%;}
#wrap.on {overflow: hidden;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-moz-selection { background: pink; }
::selection {background: skyblue;}

/*모바일 기기 뷰포트가 345px 이하면 미디어쿼리 적용(작은 단말기 대응)*/
@media screen and (max-width:345px) {
    #main .section5 .quick_menu li a:before {
        left: 5px;
    }
}

#header {
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: url(../images/header_01.png) repeat;
}

#header .btn_map {
    float: left;
    height: 70px;
}

#header .btn_map img {
    width: 23px;
    margin: 18px 0 0 13px;
}

#header .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -84px;
}

#header .logo img {
    width: 167px;
    height: 24px;
}

#header .btn_sidemenu {
    float: right;
    width: 56px;
    height: 63px;
    background: url(../images/hambuger.png) no-repeat 50% 50%;
    background-size: 26px;
    border: none;
    text-indent: -9999px;
    outline: none;
}

/*-----------사이드메뉴-----------------------------------*/

#header .gnb_wrap {
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(100%);
/*    퍼센트 구조에서 고정값만큼 줄일때 사용 (-앞뒤로 한칸씩 줌)*/
    width: 304px;
    height: 100%;
    background: #110f0f;
    z-index: 9999;
    transition: all 0.5s;
}

#header .gnb_wrap.on {
    transform: translate(0);
    background: #110f0f;
}

#header .gnb_wrap .top_gnb {
    height: 100px;
    background: #131313 url(../images/menu_top_bg.png) no-repeat 20px -20px;
    background-size: 200px;
}

#header .gnb_wrap .top_gnb ul {
    margin-left: 57px;
    overflow: hidden;
}

#header .gnb_wrap .top_gnb li {
    margin: 0px 17px;
    float: left;
    margin-right: 10px;
    margin-top: 40px;
    position: relative;
}

#header .gnb_wrap .top_gnb li:first-child:after {
    content: '';
    position: absolute;
    left: 55px;
    top: 4px;
    width: 1px;
    height: 15px;
    background: #c4c4c4;
}

#header .gnb_wrap .top_gnb li:last-child:after {
    content: '';
    position: absolute;
    left: -12px;
    top: 4px;
    width: 1px;
    height: 15px;
    background: #c4c4c4;
}

#header .gnb_wrap .top_gnb li a {
    font-size: 15px;
    color: #c4c4c4;
}


#header .gnb_wrap .top_gnb .btn_close {
    background: url(../images/icon_sidemenu_close.png) no-repeat;
    background-size: 20px;
    width: 20px;
    float: left;
    margin-left: 20px;
    margin-top: -20px;
    border: none;
    outline: none;
    text-indent: -9999px;
}

/*사이드메뉴 열렸을때 배경 꺼매지는거 딤딤*/
#header .dimm {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
}

/*gnb*/
#header .gnb_wrap .gnb_scroll {
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding-bottom: 100px;
/*    스크롤 나오는거*/
}


#header .gnb_wrap .gnb>li {
    border-bottom: 1px solid #453e38;
}

#header .gnb_wrap .gnb>li>a {
    display: block;
    height: 62px;
    line-height: 62px;
    background: #2a2625;
    padding: 0 33px;
    color: #fff;
    position: relative;
    font-size: 17px;
}

#header .gnb_wrap .gnb>li>a:after {
    content: '';
    position: absolute;
    right: 33px;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background: url(../images/btn_gnb_plus_mo.png) no-repeat 50% 50%;
    background-size: 12px;
}

#header .gnb_wrap .gnb>li.on>a:after {
    background-image: url(../images/btn_gnb_minus_mo.png); 
}

#header .gnb_wrap .gnb .depth2 {
    background: #fff;
}

#header .gnb_wrap .gnb .depth2>li>a {
    display: block;
    line-height: 62px;
    background: #443f3b;
    padding: 0 33px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #534d48;
    position: relative;
}

#header .gnb_wrap .gnb .depth2>li>a:after {
    content: '';
    position: absolute;
    right: 33px;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background: url(../images/btn_gnb_plus_mo.png) no-repeat 50% 50%;
    background-size: 12px;
}

#header .gnb_wrap .gnb .depth2>li.on>a:after {
    background-image: url(../images/btn_gnb_minus_mo.png) 
}

#header .gnb_wrap .gnb .depth3 li a {
    display: block;
    line-height: 45px;
    background: #58514b;
    padding: 0 43px;
    color: #fff;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #6b635c;
}

#header .gnb_wrap .gnb .depth2,
#header .gnb_wrap .gnb .depth3 {display: none;}














#footer .footer_gnb_scroll {
    overflow: auto;
    width: 100%;
}

#footer .footer_gnb_scroll .footer_menu>li>a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 59px;
    background: #534e4b;
    border-bottom: 1px solid #332e2a;
    display: block;
    padding-left: 29px;
    position: relative;
}

#footer .footer_gnb_scroll .footer_menu>li>a:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 22px;
    background: url(../images/footer_arr_03.png) no-repeat 0 0;
    background-size: 25px;
    background-position: 0 0;
    width: 40px;
    height: 20px;
}


#footer .footer_gnb_scroll .footer_menu .depth2 {
    background: #6f665f;
    padding: 15px 0;
    display: none;
}

#footer .footer_gnb_scroll .footer_menu .depth2 li a {
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding-left: 50px;
}

/*----------------------이메일 기타 등등--------------------*/
#footer .footer_txt2 {
    width: 100%;
    background: url(../images/header_01.png) repeat;
}

#footer .footer_txt2 .footer_list {
    padding: 20px 15px;
    border-bottom: 1px solid #534e4b;
    text-align: center;
}

#footer .footer_txt2 .footer_list>li {
    display: inline-block;
    position: relative;
}

#footer .footer_txt2 .footer_list>li>a {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    padding: 0 10px;
    display: block;
    line-height: 36px;
}

#footer .footer_txt2 .footer_list>li>a span {
    color: #ffcf5d;
}

#footer .footer_txt2 .footer_list>li:after {
    content: '';
    position: absolute;
    left: -2px;
    top: 12px;
    width: 1px;
    height: 13px;
    background: #8e8e8e;
}

#footer .footer_txt2 .footer_list>li:first-child:after {
    display: none;
}

#footer .footer_txt2 .footer_list>li:nth-child(5):after{
    display: none;
}

#footer .address {
    width: 100%;
    text-align: center;
    background: url(../images/header_01.png) repeat;
    padding: 20px 15px;
    color: #cacaca;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.05em;
}

#footer .address span {
    display: inline-block;
    padding: 0 8px;
    font-size: 11px;
}
