@charset "UTF-8";

@font-face {
  font-family: '210Gothic020';
  src: url(../font/210Gothic020.eot);
  src: local('210Gothic020'),
       local('210Gothic020'),
       url(../font/210Gothic020.eot?#iefix) format('embedded-opentype'),
       url(../font/210Gothic020.woff) format('woff');
}

@font-face {
  font-family: '210Gothic030';
  src: url(../font/210Gothic030.eot);
  src: local('210Gothic030'),
       local('210Gothic030'),
       url(../font/210Gothic030.eot?#iefix) format('embedded-opentype'),
       url(../font/210Gothic030.woff) format('woff');
}

* {box-sizing: border-box;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0;padding: 0;vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
button,input {border-radius: 0}
button {cursor: pointer;}
fieldset,img {border: 0}
ol,ul {list-style: none}
address,em {font-style: normal}
a {text-decoration: none}
iframe {overflow: hidden;margin: 0;padding: 0;border: 0}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px
}

table {border-collapse: collapse;border-spacing: 0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%;}

input,button,select,textarea,label {vertical-align: middle; margin: 0; padding: 0;}
/*모바일 브라우져에서 글자크기 자동확대 방지*/
body {line-height: 1.5; -webkit-text-size-adjust:none;}



html,body {height: 100%;}

body,input,select,textarea,button,table {
    font-family: '210Gothic020', '210Gothic030', sans-serif;
    font-size: 14px;
    color: #fff;
}

/*공통스타일링 요소
1. 초기화css
2. 폰트관련
3. 표, 게시판 테이블
4. 폼요소 스타일(input,textarea,select,button)
5. 퀵메뉴
6. header,footer,main,sub페이지 공통레이아웃 스타일
*/

/* 내용 테이블 공통스타일*/
.tbl_con {
    width: 100%;
    margin: 15px 0;
    font-size: 16px;
    text-align: left;
    color: #666;
}
.tbl_con thead th,.tbl_con thead td{
    border-top: 4px solid #009223;
    border-bottom: 1px solid #009223;
    color: #009223;
}
.tbl_con th,.tbl_con td {
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #d1d1d1;
    vertical-align: middle;
}
.tbl_con tfoot {
    color: #292929;
    background: #f6f6f6;
}
.tbl_con .tr2 th,.tbl_con .tr2 td {
    padding-top:7px;
    padding-bottom: 7px;
}

/*폼요소 공통 스타일*/
input[type="text"] {
    height: 45px;
    background: #f8f8f8;
    width:100%;
    border: none;
    outline: none;
    padding-left: 15px;
    color: #292929;
    font-size: 16px;
}

select {
    width:132px;
    height: 45px;
    border: 2px solid #dddddd;
    outline: none;
    font-size: 16px;
    color: #999;
    padding-left: 15px;
    letter-spacing: -0.05em;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    appearance: none;         /* 화살표 없애기 공통*/
}
select::-ms-expand {display:none;}
.select_wrap {
    position: relative;
    display: inline-block;
}
.select_wrap:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
    width:12px;
    height: 7px;
    background: url(../images/icon_select_arr.png) no-repeat;
    background-size:12px;
}

textarea {
    width:100%;
    height: 200px;
    padding: 12px 15px;
    font-size: 16px;
    color: #292929;
    outline: none;
    background: #f8f8f8;
    border: none;
    resize:none;
    border-radius: 0;
}

.file_wrap {
    position: relative;
}
.file_wrap:before {
    content: '';
    position: absolute;
    right: 96px;
    top: 50%;
    margin-top: -8px;
    width:2px;
    height: 16px;
    background: #e8e8e8;
}
/*input file커스텀*/
input[type="file"] {
    width:98px;
    height: 41px;
    margin-left: -4px;
    opacity: 0;
    cursor: pointer;
    text-indent: -9999px;
    position: relative;
    z-index: 10;
}
.file_wrap:after {
    content: '파일선택';
    position: absolute;
    right: 19px;
    top: 50%;
    margin-top: -13px;
    font-size: 16px;
    color: #009223;
    cursor: pointer;
}

/*체크박스 공통스타일*/
label {
    font-size: 16px;
    color: #292929;
    cursor: pointer;
    padding-left: 40px;
    position: relative;
    line-height: 30px;
    display: inline-block;
}
label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:26px;
    height: 26px;
    border:2px solid #e0e0e0;
    border-radius: 100%;
}
label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width:0px;
    height: 19px;
    background: url(../images/icon_checkbox.png) no-repeat;
    background-size: 24px;
    transition: all 0.3s;
}
input[type="checkbox"]:checked+label:after {
    width:24px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*::-moz-selection { background: #ffc20d; }
::selection { background: #ffc20d; }*/

/*아이폰 인풋 자동확대 방지*/
input[type="text"],input[type="password"],textarea {font-size:16px;}

#wrap {height: 100%; min-width: 360px;}

#header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 110px;
    z-index: 999;
}

#header .header_inner {
    padding: 0 110px;
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

#header .header_inner .logo {margin-top: 35px; float: left;}]
#header .header_inner .logo a {display: block;}

#header .header_inner .gnb_wrap {text-align: center;}
#header .header_inner .gnb_wrap .gnb {display: inline-block; margin-top: 49px;}
#header .header_inner .gnb_wrap .gnb>li {float: left; margin-left: 40px;}
#header .header_inner .gnb_wrap .gnb>li:first-child {margin-left: 0;}
#header .header_inner .gnb_wrap .gnb>li>a {font-size: 18px; color: #fff; display: block;}

#header .header_inner .util {float: right; margin-top: 50px;}
#header .header_inner .util li {float: left; margin-left: 30px; position: relative;}
#header .header_inner .util li:first-child {margin-left: 0;}

#header .header_inner .util .btn_search1 {display: block; width: 20px; height: 20px; background: url(../images/search.png) no-repeat 50% 50%; text-indent: -9999px; border: none; outline: none;}
#header .header_inner .util .search_wrap {
    background: #fff;
    height: 36px;
    position: absolute;
    right: -13px;
    bottom: -7px;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
}
#header .header_inner .util .search_wrap.on {
    width: 260px;
    padding: 0 7px;
}
#header .header_inner .util .search_wrap legend {
    border: 1px solid red;
}
#header .header_inner .util .search_wrap .input_search {
    width: 200px;
    height: 25px;
    border: none;
    outline: none;
    margin-top: 7px;
    font-size: 13px;
    color: #404041; 
    background: #fff;
    display: inline-block;
}
#header .header_inner .util .search_wrap .btn_search2 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    text-indent: -9999px;
    background: url(../images/search2.png) no-repeat 50% 50%;
    margin: -23px 0 0 220px;
    display: block;
}

#m_header {display: none;}
/*닌텐도 스위치 이미지 픽스*/
/*
#main .fixed {
    width: 100%;
    height: 100%;
    min-width: 1700px;
    transform: translateX(-50%);
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 100;
}
*/
#main .fixed .box_color {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    background: rgba(57, 61, 64, 0.3);
    z-index: 100;
}
#main .fixed .left {
    background: #0083a1 url(../images/left_fixed.png) no-repeat 0 50%;
    background-size: cover;
    width: 350px;
    height: 100%;
/*    float: left;*/
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 100;
    margin-left: -960px;
}
#main .fixed .right {
    background: #e43731 url(../images/right_fixed.png)  no-repeat 0 50%;
    background-size: cover;
    width: 350px;
    height: 100%;
/*    float: right;*/
    position: fixed;
    right: 50%;
    top: 0;
    z-index: 100;
    margin-right: -960px;
}

#main .btn_scroll {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 100;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
}
#main .btn_scroll img {width: 40px; height: 40px; display: block; margin: 12px auto 0;}

#footer {max-width: 1220px; width: 100%; height: 400px; background: #222931; margin: 86px auto 0;}

#footer .footer_inner {max-width: 870px; width: 100%; overflow: hidden; margin: 0 auto; text-align: left;}

#footer .footer_inner .nds_link {margin-top: 40px;}
#footer .footer_inner .nds_link img {margin-left: 30px;}
#footer .footer_inner .nds_link img:first-child {margin-left: 0;}

#footer .footer_inner .footer_menu {margin: 37px 0 97px 30px;}
#footer .footer_inner .footer_menu li {position: relative; margin-left: 20px; float: left;}
#footer .footer_inner .footer_menu li:first-child {margin-left: 0;}
#footer .footer_inner .footer_menu li:nth-child(2) {font-weight: bold;}
#footer .footer_inner .footer_menu li:before {content: ''; position: absolute; left: -10px; top: 3px; width: 1px; height: 15px; background: #fff;}
#footer .footer_inner .footer_menu li:first-child:before {display: none;}

#footer .footer_inner .footer_menu li>a {color: #fff; font-size: 16px;}

#footer .footer_inner p {line-height: 2.9; margin-left: 30px; position: relative;}
#footer .footer_inner span {line-height: 1.5; color: rgba(255,255,255,0.5);}
#footer .footer_inner p:before {content: ''; position: absolute; left: -30px; top: -16px; width: 770px; height: 1px; background: rgba(255,255,255,0.3);}

#footer .footer_inner .sns {float: right; margin-top: 40px;}
#footer .footer_inner .sns li {margin-bottom: 18px;}
#footer .footer_inner .sns li a {display: block;}

#footer .footer_inner p br:nth-child(2), #footer .footer_inner p br:nth-child(3), #footer .footer_inner p br:nth-child(5) {display: none;}

@media screen and (max-width: 1700px) {
    #header .header_inner {padding: 0 50px;}
}

@media screen and (max-width: 1024px) {
    #main .fixed .left, #main .fixed .right {display: none;}
    
    #header {height: 80px; width: 100%;}
    #header .header_inner {
        padding: 0 30px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 100;
    }
    
    #header .header_inner .logo {margin-top: 15px;}
    
    #header .header_inner .gnb_wrap .gnb {margin-top: 30px;}
    #header .header_inner .gnb_wrap .gnb>li {margin-left: 30px;}
    #header .header_inner .gnb_wrap .gnb>li>a {font-size: 15px;}
    
    #header .header_inner .util {margin-top: 30px;}
    #header .header_inner .util li {margin-left: 20px;}
    
    #main .fixed .box_color {height: 80px;}
    
    #main .btn_scroll {font-size: 14px; bottom: 40px;}
    #main .btn_scroll img {width: 30px; height: 30px; margin: 8px auto 0;}
    
    #footer {margin: 76px auto 0; height: 500px;}
    #footer .footer_inner {margin: 30px auto 40px; padding: 40px 70px;}
    
    #footer .footer_inner .nds_link img {width: 280px;}
    #footer .footer_inner .nds_link img:nth-child(2) {margin-left: 10px;}
    
    #footer .footer_inner .sns img {width: 50px;}
    
    #footer .footer_inner .footer_menu li>a {font-size: 14px;}
    #footer .footer_inner p {line-height: 2.5; font-size: 13px; margin-top: -20px;}
    #footer .footer_inner p:before {top: -9px;
    width: 575px;}
    #footer .footer_inner span {font-size: 12px;}
}
    
@media screen and (max-width: 767px) {
    #header {display: none;}

    #m_header {display: block; z-index: 999; height: 60px; width: 100%; position: fixed; left: 0; top: 0;}
    #m_header .m_header_inner {height: 100%; width: 100%; background: rgba(57, 61, 64, 0.3); position: relative; margin: 0 auto;}
    #m_header .m_header_inner .logo {position: absolute; left: 50%; top: 10px; transform: translateX(-50%);}
    #m_header .m_header_inner .logo img {width: 40px;}

    #m_header .m_header_inner .mbtn {
        background: url(../images/m_nav.png) no-repeat 50% 50%;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        float: left;
        margin: 15px;
        border: none;
        outline: none;
        z-index: 100;
    }

    #m_header .m_header_inner .mgnb_scroll {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); z-index: 999; display: none; opacity: 0; transition: all 0.5s;}
    #m_header .m_header_inner .mgnb_scroll.on {display: block; opacity: 1;}
    
    #m_header .m_header_inner .mgnb_scroll .mgnb {margin-top: 70px; text-align: center;}
    #m_header .m_header_inner .mgnb_scroll .mgnb li>a {font-size: 20px; color: #fff; line-height: 3.5; font-weight: bold; display: block;}
    #m_header .m_header_inner .mgnb_scroll .mgnb li:hover {background: rgba(0,0,0,1);}
    #m_header .m_header_inner .mgnb_scroll .mbtn_close {display: block; background: url(../images/mbtn_close.png) no-repeat; background-size: 50px 50px; width: 50px; height: 50px; margin: 92px auto; border: none; outline: none; text-indent: -9999px;}
    
    #m_header .m_header_inner .mbtn_search {
        background: url(../images/m_search.png) no-repeat 50% 50%;
        background-size: 30px 30px;
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        float: right;
        margin: 15px;
        border: none;
        outline: none;
    }
    #m_header .m_header_inner .msearch_wrap {
        background: #fff;
        height: 50px;
        position: absolute;
        right: 0;
        top: 60px;
        width: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    #m_header .m_header_inner .msearch_wrap.on {
        width: 100%;
        padding: 0;
    }
    #m_header .m_header_inner .msearch_wrap legend {
        border: 1px solid red;
    }
    #m_header .m_header_inner .msearch_wrap .input_search2 {
        width: calc(100% - 100px);
        height: 25px;
        border: none;
        outline: none;
        margin-top: 15px;
        font-size: 20px;
        color: #404041; 
        background: #fff;
        display: inline-block;
    }
    #m_header .m_header_inner .msearch_wrap .mbtn_search2 {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        text-indent: -9999px;
        background: url(../images/m_search2.png) no-repeat 50% 50%;
        background-size: 30px 30px;
        display: block;
        position: absolute;
        right: 64px;
        top: 10px;
    }
    #m_header .m_header_inner .msearch_wrap .mbtn_close2 {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        text-indent: -9999px;
        background: url(../images/mbtn_close2.png) no-repeat 50% 50%;
        background-size: 30px 30px;
        display: block;
        position: absolute;
        right: 20px;
        top: 12px;
    }

    #main .fixed {display: none;}
    
    #footer {margin: -10px auto; height: 600px;}
    #footer .footer_inner {text-align: center; position: relative; padding: 0 50px;}
    
    #footer .footer_inner .nds_link {width: 220px; margin: 20px auto;}
    #footer .footer_inner .nds_link img {width: 220px;}
    #footer .footer_inner .nds_link img:nth-child(2) {margin-top: 10px; margin-left: 0;}
    
    #footer .footer_inner .sns {position: absolute; left: 50%; top: 77px; transform: translateX(-50%); display: inline-block; width: 220px;}
    #footer .footer_inner .sns li {margin-bottom: 0; margin-left: 16px; display: inline-block;}
    #footer .footer_inner .sns li:first-child {margin-left: 0;}
    #footer .footer_inner .sns li img {width: 35px;}
    
    #footer .footer_inner .footer_menu {display: inline-block; text-align: center; margin-left: 0; margin-top: 43px;}
    #footer .footer_inner .footer_menu li>a {font-size: 12px;}
    #footer .footer_inner .footer_menu li:before {height: 12px;}
    
    #footer .footer_inner p {margin-left: 0; font-size: 10px; margin-top: -86px; line-height: 2;}
    #footer .footer_inner p:before {left: 50%; top: -7px; width: 300px; transform: translateX(-50%);}
    #footer .footer_inner p br:nth-child(2), #footer .footer_inner p br:nth-child(3), #footer .footer_inner p br:nth-child(5) {display: block;}
    #footer .footer_inner p span {font-size: 9px; letter-spacing: -0.05em;}
}